// ****************************************
// product-preview
// ****************************************

.product-preview {
    @extend .col__full;
    position: relative;

    .preview-holder {
        height: 100%;
    }

    @include MediaQueries($desktop-and-below){
        text-align: right;
        margin-bottom: 44px;
    }

    .s7flyoutviewer {
        height: calc(100vh - 64px) !important;
        width: auto;
    }

    .s7container {
        width: calc(100% - 2px) !important;

        // @include MediaQueries($tablet-and-between-desktop-tablet){
        //     height: getUnitValue(80) !important;
        // }

        // @include MediaQueries($desktop-tablet-above-and-tablet-max){
        //     height: getUnitValue(81) !important;
        // }

        @include MediaQueries($mobile){
            height: getUnitValue(45) !important;
        }
    }

    .s7swatches {
        @extend .hide;
    }

    .s7staticimage,
    .s7flyoutzoom {
        bottom: -5px;
        top: 0!important;
    }

    // .s7flyoutviewer {
    //     width: 100%;
    // }

    .s7flyoutzoomview {
        border-color: $white !important;
        box-sizing: border-box;
        &:focus {
            border: 1px solid $tiffanyGrayBackgroundBorder !important;
        }
        background-color: $white;
        width: 100%;
        overflow: hidden !important;
    }

    &__carousel-holder {
        @extend .col__full;
        position: relative;
        // background: $snow;
        .slick-slider {
            .slick-arrow {
                background: $white;
                padding: 0;
                margin: 0;
                width: getUnitValue(7);
                height: getUnitValue(7);
                .keyboard--focussed & {
                    &:focus{
                        border: 1px solid $bondiBlue;
                    }
                }

                &.slick-prev{
                    top: calc(50% - 28px) !important;
                    left: 3px;
                }

                &.slick-next {
                    transform: rotate(0deg);
                    right: 3px;
                    top: calc(50% - 28px) !important;
                }


                &.slick-disabled {
                    @extend .show;
                    &::before {
                        color: $dim-white;
                        opacity: 1;
                    }
                }
                &::before {
                    color: $black;
                }
            }

            .slick-list {
                .slick-track{
                    .product-preview-image {
                        width: 100%;
                        display: none;
                        justify-content: center;

                        @include MediaQueries($desktop-and-below) {
                            display: flex;
                        }

                        //CSS fix for iOS 10 and 11 versions - ALM-5264
                        picture {
                            body[class*="10."].ios &, body[class*="11."].ios & {
                                z-index: -1;
                            }
                        }

                        .image-zoom__desktop-view {
                            & > div {
                                display: flex;
                                justify-content: center;

                                & > div {
                                    right: 0 !important;
                                    width: auto !important;
                                    background: $white;
                                }

                                & > img {
                                    height: calc(100vh - 64px) !important;
                                    width: auto !important;
                                }
                            }
                        }
                    }
                }
            }

            .slick-dots {
                bottom: getUnitValue(-6);

                @include MediaQueries($below-desktop-tablet) {
                    bottom: getUnitValue(-7);
                }

                li {
                    height:6px;
                    width:6px;

                    button {
                        &::before {
                            width: 4px !important;
                            height: 4px !important;
                            margin: 10px 0 !important;
                        }
                    }
                }

            }

            .product-preview_custom-dots {
                @extend .col__full, .tf-g, .tf-g__between;
                    height: 2px;
                    background: $whisper;
                    pointer-events: none;
                    width: calc(100% - 110px);
                    margin-top: -3px;

                @include MediaQueries($below-desktop-tablet) {
                    width: 100%;
                }

                &_holder{
                    @extend .tf-g, .col__full;

                    li {
                        @extend .tf-g, .col-setting;
                        height: 2px;

                        button {
                            &:before {
                                width: 4px;
                                height: 4px;
                            }
                        }

                        &.slick-active {
                            background: $product-slider;

                            button:before {
                                border: 1px solid $slick-dot-color;
                                width:4px;
                                height: 4px;
                                background: $product-slider;
                            }
                        }

                    }
                }
            }
        }
    }

    &__holder {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__carat-weight {
        @include font($font-size-12, $font-weight-normal, $black, 1.33, 0);
        @include font-family($font_santral_regular);
        background-color: $white;
        @extend .display__block;
        top: auto;
        bottom: 4px;
        padding: getUnitValue(2);
        border: none;
        position: absolute;
        .keyboard--focussed & {
            &:focus {
                border: 1px solid $bondiBlue;
            }
        }
        @include MediaQueries($desktop-and-below){
            position: absolute;
            top: 103%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: getUnitValue(1);
        }

        @include MediaQueries($mobile) {
            position: absolute;
            top: 107%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ios & {
            @include MediaQueries($mobile) {                
                top: 105%;    
                padding: getUnitValue(2);           
            }
        }
    }

    &__watermark {

        @extend .col__full;
        position: absolute;
        text-align: center;
        bottom: getUnitValue(5);
        left: 0;

        h3.product-preview__watermark-header {
            font-weight: normal;
            padding-bottom: getUnitValue(2);

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-16;
                line-height: 1.5;
                padding-bottom: getUnitValue(1);
            }
        }

        p.product-preview__watermark-desc {

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-12;
                line-height: 1.33;
            }
        }
    }

    &__logo {
        position: absolute;
        left: getUnitValue(3);
        width: getUnitValue(3);
        bottom: getUnitValue(5);

        @include MediaQueries($desktop-and-below) {
            bottom: getUnitValue(11);
        }

        &_link {

            &:hover {
                border: none;
            }
        }
    }

    // &__container {
    //     background: $snow;
    // }

    &__complete-view_button {
        @extend .hide__desktop-and-below;
        position: absolute;
        background: transparent;
        border: none;
        width: getUnitValue(10);
        height: getUnitValue(10);
        bottom: 0;
        right: getUnitValue(20);

        @include MediaQueries($below-desktop-tablet) {
            right: 0;
        }
    }

    &__wishlist {
        @extend .tf-g;
        position: absolute;
        background: transparent;
        border: none;
        width: getUnitValue(10);
        height: getUnitValue(10);
        bottom: 0;
        right: getUnitValue(20);
        padding-right: getUnitValue(4);

        @include MediaQueries($desktop-and-below) {
            position: relative;
            right: 0;
            width: 100%;
        }
    }



    .single-image-1 ~ &__wishlist{
        right: 0;
    }

    .magnified-image {
        max-width: inherit;
    }
}
