// ****************************************
// choose-language
// ****************************************

.choose-language {
	@extend .relative-holder;

	background: $tiffantBgBlue;
	padding-top: getUnitValue(9);
	height: getUnitValue(80);

	&__headingLogo, &__languges, &__disclaimer {
		height: getUnitValue(9);
		margin: 0 auto;
		text-align: center;

		picture {
			width: getUnitValue(17);
			margin: 0 auto;
		}
	}

	&__languges {
		.line {
			@extend .display__block;
			height: 1px;
			border: 0;
			border-top: 1px solid $black;
			margin: 1em auto;
			padding: 0;
			width: 10px;
			background-color: transparent;
			color: transparent;
			font-size: $font-size-10;
		}

		&_title, &_list {
			@include font($font-size-10, $font-weight-bold, $black, $font-size-14, 0);

			text-transform: uppercase;
		}

		&_list-item {
			height: getUnitValue(3);
			.item {
				@include font($font-size-10, $font-weight-normal, $black, $font-size-14, 0);

				text-transform: uppercase;
				background: transparent;
			}
		}
	}

	&__disclaimer {
		@extend .col__full;
		height: getUnitValue(10);
		position: absolute;
		bottom: 0;

		&-text {
			@include font($font-size-12, $font-weight-normal, $black, $font-size-20, 0);

			height: getUnitValue(10);
			padding-top: getUnitValue(1);
			text-transform: uppercase;
			border-top: 1px solid $black;
			width: fit-content;
    		margin: 0 auto;
		}
	}
}
