
// ****************************************
// upcoming-events
// ****************************************

.upcoming-events {
    @extend .container;
    padding-bottom: getUnitValue(7);

    .heading {
        @include font($font-size-32, $font-weight-normal, $black, 1.25, false);
        @include font-family($font_sterling_display_roman);
        padding-bottom: getUnitValue(2);
    }

    .description {
        padding-bottom: getUnitValue(0);
    }

    &__heading {
        @extend .tf-g__start;
        padding-bottom: getUnitValue(5);

        @include MediaQueries($desktop-and-below) {
            display: none;
        }
    }

    .browse-grid & {
        padding-left: 0;
        padding-bottom: getUnitValue(6);
    }

    .icon-Right {
        font-size: 8px;
    }

    &__content {
        @extend .tf-g, .tf-g--no-wrap, .col__full;

        &_body {
            @extend .tf-g, .col-4-12, .col-md__full, .col-sm__full;
            padding: 0 getUnitValue(1);

            @include MediaQueries($tablet-and-below) {
                padding: 0 getUnitValue(2);
            }

            @include MediaQueries($desktop-and-below) {
                margin-bottom: getUnitValue(6);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_event-details{
                padding-top: getUnitValue(1);
            }

            &_event-description {
                @include font($font-size-16, $font-weight-light, $black, 1.5, false);
                @include font-family($font_santral_light);
                padding-top: getUnitValue(2);
            }

            &_event-time-location {
                p {
                    @include font-family($font_santral_regular);
                    font-weight: $font-weight-bold;
                    padding-top: getUnitValue(1);
                    font-size: $font-size-16;
                }
            }

            .cta {
                @extend .tf-g__start;
                padding-top:getUnitValue(2);

                &:focus {
                    padding: 0 !important;
                }
            }

            &_cta {
                padding-top: getUnitValue(2);

                .icon-Right {
                    padding-left: getUnitValue(1.5);
                    font-weight: $font-weight-bold;
                    font-size: $font-size-12;
                }
            }
        }
    }
}
