.wedding-band-marketing-tile {
    @extend .col__full, .tf-g;
    position: relative;
    width: auto;
    margin-bottom: getUnitValue(4);

    @include MediaQueries($desktop-and-above) {
        margin: 0 52px getUnitValue(7) 52px;
    }

    &_text, &_background-image {
        @extend .col__full;

        .content-tile {

            .heading {
                font-size: $font-size-40;
            }

            .second-description {
                p {
                    @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
                    @include font-family($font_santral_regular);
                }

                @include MediaQueries($desktop-and-below) {
                    padding-bottom: getUnitValue(2);
                }
            }
        }

    }

    .content-tile {
        &.tf-g__center {
            @include MediaQueries($desktop-and-below) {
                justify-content: left;
                text-align: left;
            }
        }
    }

    &_text, &_background-image, &_hero-image, &_sku-image {
        @include MediaQueries($desktop-and-below) {
            display: none !important;
        }
    }

    &_mobile_text {
        margin: auto;
        @include MediaQueries($desktop-and-above) {
            display: none;
        }

        .content-tile {
            @include MediaQueries($desktop-and-below) {
                padding: 0 getUnitValue(2) getUnitValue(2);
            }
        }
    }

    &_text {
        @include MediaQueries($desktop-and-above) {
            position: absolute;
            margin-top: getUnitValue(5);
            z-index: 1;
        }
        @include MediaQueries($desktop-and-tablet-max) {
            margin-top: getUnitValue(3);
        }
    }

    &_background-image {

        img {
            @extend .col__full;
        }

        &_item {
            padding-right: getUnitValue(3);
        }
    }

    &_hero-image {
        @extend .col-lg__5-12, .col-md__5-12;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin:0 auto;

        &_item {
            img {
                width: 100%;
            }
        }

        @include MediaQueries($above-tablet-and-below-desktop) {
            top: getUnitValue(2);
        }
    }

    &_mobile-hero-images {
        margin: 0 !important;
        min-width: getUnitValue(45);
        min-height: getUnitValue(45);
        @include MediaQueries($desktop-and-above) {
            display: none !important;
        }

        &_item {
            position: relative;
        }

        &_text {
            text-align: center;
            @include MediaQueries($desktop-and-below) {
                bottom: getUnitValue(1);
                left: 0;
                right: 0;
                position: absolute;

                .description p {
                    @include font-family($font_santral_regular);
                    padding-bottom: getUnitValue(2);
                }

                .second-description p {
                    @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
                    @include font-family($font_santral_regular);
                }
            }
        }

        &_item img {
            @extend .col__full;
            margin: auto;
            object-fit: cover;
        }

        .slick-dots {
            background:$snow;
            height: getUnitValue(6);
            position: relative;
            bottom: getUnitValue(1);

            li {
                width: auto;
                margin: 12px 2px;

                button {
                    width: auto;

                    &::before {
                        margin:10px 0 !important;
                        width: 4px !important;
                        height: 4px !important;
                    }
                }
            }
        }
    }

    &_sku-image {
        @extend .tf-g, .tf-g__center, .col__full;
        position: absolute;
        bottom: getUnitValue(5);
        left: 0;
        right: 0;
        margin: 0 auto;
        @include MediaQueries($between-desktop-tablet) {
            bottom: getUnitValue(2);
        }

        &_container {
            @extend .tf-g;
            border-bottom:1px solid $bondiBlue;
            flex-wrap: nowrap;
            margin: 0 10%;
            justify-content: center;
            @include MediaQueries($desktop-and-below) {
                margin: auto;
            }

            &_item {
                @extend .col-lg__3-12, .col-md__3-12;
                margin-right: getUnitValue(3);
                position: relative;
                bottom: 0;
                margin-bottom: 0;
                cursor: pointer;
                max-height: getUnitValue(35);
                max-width: getUnitValue(35);
                align-self: flex-end;

                .sku-images-3 & {
                    @extend .col-4-12, .col-md__4-12;
                    max-width: getUnitValue(27);
                    max-height: getUnitValue(27);

                    @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                        max-width: getUnitValue(21);
                        max-height: getUnitValue(21);
                    }

                    @include MediaQueries($above-tablet-and-below-desktop) {
                        max-width: getUnitValue(20);
                        max-height: getUnitValue(20);
                    }
                }

                .sku-images-2 & {
                    @extend .col-lg__6-12, .col-md__6-12;
                    max-width: getUnitValue(27);
                    max-height: getUnitValue(27);

                    @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                        max-width: getUnitValue(21);
                        max-height: getUnitValue(21);
                    }

                    @include MediaQueries($above-tablet-and-below-desktop) {
                        max-width: getUnitValue(20);
                        max-height: getUnitValue(20);
                    }
                }

                .sku-images-1 & {
                    @extend .col__full, .col-md__full;
                    max-width: getUnitValue(27);
                    max-height: getUnitValue(27);

                    @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                        max-width: getUnitValue(21);
                        max-height: getUnitValue(21);
                    }

                    @include MediaQueries($above-tablet-and-below-desktop) {
                        max-width: getUnitValue(20);
                        max-height: getUnitValue(20);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                &.active-sku-image{
                    cursor: default;
                }

                img {
                    vertical-align: bottom;
                }

                .cta-link {
                    position: absolute;
                    bottom: 12px;
                    left: 0;
                    right: 0;
                }
                .keyboard--focussed & {
                    &:focus {
                        border: 1px solid $bondiBlue;
                    }
                }
            }
        }
    }

    .active-sku-image {

        img {
            border-bottom: 4px solid $bondiBlue;
        }
    }
}
