
// ****************************************
// product-bundle-scroll
// ****************************************

.product-bundle-scroll {

    @include font($font-size-14, false, $black, 1.71, false);
    margin-top: getUnitValue(4);

    .product-tile__details {
        @extend .hide
    }
    
    &__heading {
        @include font($font-size-14, false, $black, 1.71, false);
        @include font-family($font_santral_regular);
    }

    &__bundle-scroll
    {
        @include MediaQueries($desktop-and-above) 
        {
            &_mobile-view {
                display: none;
            }
            &_desktop-view {
                display: inline;
            }
        }
        @include MediaQueries($tablet-and-below) 
        {
            &_mobile-view {
                display: inline;
            }
            &_desktop-view {
                display: none;
            }
        }
    }

     &__body {
        @extend .tf-g;
        padding-top: getUnitValue(2);

        @include MediaQueries($tablet-and-below) {
            margin-left: getUnitValue(-2);
            margin-right: getUnitValue(-2);
        }

        &_image {
            @extend .col-6-12;
            padding-right: getUnitValue(1);
            padding-bottom: getUnitValue(2);
            &:nth-of-type(2) {
                padding-right: 0;
                padding-left: getUnitValue(1);
            }
        }

        .product-tile__body {
            &:focus {
                margin: 4px;
            }
        }

        .tile-buttons {
            .wishlist {
                @extend .cta-underline;
                font-size: $font-size-16;
                &:focus {
                    padding: 0 2px;
                }
            }
        }
    }   
}
