// ****************************************
// header
// ****************************************
.header {
    height: getUnitValue(8);
    text-align: left;

    @include MediaQueries($desktop-and-below) {
        height: getUnitValue(6);
    }

    &__search, &__storeLocator, &__menu{
        box-sizing: content-box;
    }

    &__menu {
        @extend .cta-underline;
        cursor: pointer;

        .ie & {
            display: none;
        }

        &.btn {
            height: getUnitValue(2);
            width: getUnitValue(2);
            background: none;
            border: none;
            padding: 0;

            svg {
                .ie & {
                    height: auto !important;
                    width: auto !important;
                }
            }
        }

        &.ie-button {
            overflow: hidden;

            .ie & {
                display:flex;
            }

            display: none;
            cursor: pointer;
            flex-direction:column;
            flex-wrap:nowrap;
            width: 16px;
            .bar2, .bar3 {
                margin-top: 5px;
            }

            .bar1, .bar2, .bar3 {
                width: 20px;
                height: 1px;
                border-bottom:1px solid #333;
                transition: transform 0.4s ease-in-out;
            }

            .bar2 {
                transition: opacity 0.1s ease-in-out;
            }

            &.is-menu-open {
                .bar1 {
                    transform: rotate(-45deg) translate(-7px, 3px);
                }
                .bar2 {
                    opacity: 0;
                }
                .bar3 {
                    transform: rotate(45deg) translate(-5px, -2px);
                }
            }
        }

        .cta-content {
            @extend .display__inline-block;

            width: getUnitValue(2);
            .loading{
                @extend .col__full;
            }
        }

        &:focus {
            outline: none;
        }

        &.cta {

            &:hover {
                border-bottom: 1px solid transparent !important;
            }
        }
    }

    &__search {
        @extend .cta-underline;

        &.btn {
            height: getUnitValue(2);
            width: getUnitValue(2);
            padding: 0;
            background: none;
            border: none;

        }

        .cta-content {
            @extend .display__inline-block;
            width: getUnitValue(2);
        }

        &.cta {

            &:hover {
                border-bottom: 1px solid transparent !important;
            }
        }
    }

    &__storeLocator {
        @extend .cta-underline;

        &.btn {
            height: getUnitValue(2);
            width: getUnitValue(2);
            padding: 0;
            background: none;
            border: none;
        }
    }

    a.header__search, a.store-locator-link {
        padding: 0;
    }

    .store-locator-link{
        @extend .cta-underline;

        &.btn {
            @extend .col__full;
            height: 100%;
            padding: 0;
            background: none;
            border: none;

        }

        &.cta {
            &:hover {
                border-bottom: 1px solid transparent !important;
            }
        }
    }

    .icon-Right {
        display: none;
    }

    .is-sub-menu-active .icon-Right {
        @extend .hide__desktop-and-below;
        display: inline-block;
        position: absolute;
        right: getUnitValue(5);
        margin-top: 4px;

        /* Code specific to IE 9 & 10 */
        @media screen {
            margin-right: -4px;
        }

        /* Code specific to IE 10 +*/
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: -4px;
        }
    }

    .keyboard--focussed & {
        .has-sub-menu:focus-within .icon-Right {
            display: inline-block;
            position: absolute;
            right: getUnitValue(5);
            margin-top: 4px;

            /* Code specific to IE 9 & 10 */
            @media screen {
                margin-right: -4px;
            }

            /* Code specific to IE 10 +*/
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin-right: -4px;
            }
        }
    }

    .text-white {
        color: $white !important;
    }

    .top-level-item .cta-content {
        @extend .display__inline, .col__full;
        line-height: 1.5;

        @include MediaQueries($desktop-and-below) {
            @include font-family($font_santral_regular, $important);
            line-height: 1.71;
        }
    }

    &.header__sticky {
        .header__nav-container {
            position: fixed;
        }
    }

    &__nav-container {
        @extend .tf-g--no-wrap,
        .tf-g__between,
        .tf-g__middle,
        .col__full;
        padding-left: getUnitValue(3);
        padding-right: getUnitValue(3);
        border-top: 4px solid $tiffanyBlue;
        height: getUnitValue(8);
        background: $white;
        z-index: $toast-zIndex;
        top: 0;
        box-sizing: border-box;

        @include MediaQueries ($desktop-and-above) {
            z-index: $toast-zIndex + 1;
        }
        @include MediaQueries($desktop-and-below) {
            height: getUnitValue(6);
            padding-left: getUnitValue(2);
            padding-right: getUnitValue(2);
        }

        .left-container,
        .right-container,
        .center-container {
            @extend .tf-g, .tf-g__middle;
            @include font($font-size-12, $font-weight-normal, $black, 1.14, normal);
            position: relative;
            z-index: 10;
            @include font-family($font_santral_regular);
            height: 100%;
            flex-grow: 1;
            flex-basis: 0;
            background: transparent;

            &_item,
            svg {
                width: getUnitValue(2) !important;
                height: getUnitValue(2) !important;
            }
        }

        .left-container {
            &_item {
                margin-right: getUnitValue(5);
                height: auto !important;
                .header__menu {
                    .keyboard--focussed & {
                        &:focus, &.is-focussed {
                            border: 1px solid $bondiBlue;
                        }
                    }
                }

                @include MediaQueries($tablet-and-below) {
                    margin-right: getUnitValue(3);
                }

                &:last-child {
                    @extend .hide__desktop-and-below;
                    margin-right: 0;
                }

                @include MediaQueries($desktop-and-below) {
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
            }
        }

        .center-container {
            img, svg {
                @include MediaQueries($desktop-and-below) {
                    width: auto !important;
                    height: 100% !important;
                }
            }

            img.logo-mobile {
                @include MediaQueries($desktop-and-below) {
                    height: 16px !important;
                }
            }
        }

        .store-locator-wrapper:hover {
            cursor: pointer;
        }

        .center-container {
            @extend .tf-g, .tf-g__center;

            @include MediaQueries($desktop-and-below) {
                max-width: 130px;
            }

            .cta-underline {
                &:hover {
                   border-bottom: 1px solid transparent !important;;
                }
            }
        }

        .right-container {
            @extend .tf-g, .tf-g__end;

            @include MediaQueries($desktop-and-above) {
                z-index: $toast-zIndex + 1;
            }

            &_item {
                .flyout-content {
                    border-top: 1px solid transparent;
                }
            }

            .account {
                @extend .tf-g, .tf-g__middle;
                height: 19px;

                .right-container_item {
                    margin-left: 0;
                }

                .right-container_item {
                    margin-right: 10px !important;
                }
            }

            &_item {
                margin-left: getUnitValue(5);
                height: 100%;

                @include MediaQueries($tablet-and-below) {
                    margin-left: getUnitValue(2);
                }

                @include MediaQueries($desktop-and-below) {
                    margin-right: 0;
                }

                &:last-child {
                    .bag-has-items & {
                        margin-right: getUnitValue(1);
                    }
                }
            }
        }

        .right-container-flyout {
            @extend .tf-g__end, .tf-g, .col__full;
            z-index: -1;
            margin-right: getUnitValue(-3);
            background-color: $tiffanyBlue;
            position: absolute;
            height: getUnitValue(8);
            visibility: hidden;
            right: 0;
            max-height:getUnitValue(8);
            transition: 0.4s ease;
            align-self: flex-start;
            top:0;
            width: getUnitValue(58) !important;

            @include MediaQueries($desktop-and-below) {
                display: none;
            }

            @include MediaQueries($desktop-and-above) {
                width: getUnitValue(58);
                margin-left: getUnitValue(7);
            }

            @include MediaQueries($desktop-medium) {
                width: 100%;
                margin-left: getUnitValue(0);
            }
        }

        .item-add-anim {
            visibility: visible;
        }

        .flyout-content.active {
            &:hover,
            .item-add-anim .flyout-content {
                .right-container-flyout {
                    visibility: visible;
                    height: getUnitValue(8);
                    max-height: 100%;
                }
            }
        }

        .expand-overlay.flyout-content {
            .right-container-flyout {
                visibility: visible;
                height: getUnitValue(8);
                max-height: 100%;
            }
        }

        .keyboard--focussed & {
            .flyout-content {
                &:focus-within {
                    .right-container-flyout {
                        visibility: visible;
                        height: getUnitValue(8);
                        max-height: 100%;
                    }
                }
            }
        }

        .logo {
            &-mobile,
            &-desktop {
                display: none;
                height: getUnitValue(2);
            }

            &-mobile {
                @include MediaQueries($desktop-and-below) {
                    display: block;
                }
            }

            &-desktop {
                @include MediaQueries($xlarge-and-above) {
                    display: block;
                    height: getUnitValue(3);
                }
            }
        }
    }

    &__sub-menu {
        @extend .col__full;
        display: none;
        position: fixed;
        left: getUnitValue(40);
        background-color: $white;
        padding-left: getUnitValue(5);
        width: calc(100vw - 720px);
        bottom: 0;
        top: getUnitValue(12.5);

        .reserve-scroll-bar-gap & {
            // width: calc(100vw - 732px);

            @include MediaQueries($desktop-and-below) {
                width: 100%;
            }
        }

        &_container {
            @extend .col__full;
            background-color: $white;
            height: 100%;
        }

        @include MediaQueries($desktop-and-below) {
            width: 100%;
            display: block;
            padding-left: getUnitValue(2);
            padding-right: getUnitValue(1);
            top: getUnitValue(6) !important;
            z-index: 2;
            left: -100%;
            transition: 0.5s;
        }

        .col {
            margin-right: 9.5%;
            // min-width: getUnitValue(25);
            @include MediaQueries($desktop-and-below) {
                width: 100%;
                margin-top: getUnitValue(3.5);

                &:first-child {
                    margin-top: 0;
                }
            }

            @include MediaQueries($above-desktop-tablet-landscape) {
                margin-right: 2%;
                max-width: 31%;
                min-width: 31%;
            }

            &_separator {
                display: none;
                @include MediaQueries($above-tablet-and-below-desktop) {
                    display: block;
                }
            }

            @include MediaQueries($desktop-and-tablet-max) {
                width: getUnitValue(25);

                &:not(:last-child) {
                    .col_separator {
                        width: getUnitValue(3);
                        border: 1px solid $tiffanyBlue;
                        margin-bottom: getUnitValue(4);
                    }
                }
            }

            @include MediaQueries($desktop-and-below) {
                margin-right: getUnitValue(2);
                max-width: 100%;
            }
        }

        &-links_container {
            @extend .tf-g;
            overflow-y: auto;
            height: calc(100vh - 178px);
            flex: 1;
        }

        &-links {
            @extend .tf-g, .tf-g__start;
            margin-top: getUnitValue(10);
            flex: 1;
            overflow: auto;
            height: calc(100vh - 178px);
            -webkit-overflow-scrolling: touch;

            @include MediaQueries($desktop-and-below) {
                display: none;
                padding: getUnitValue(3) 0;
                margin-top: 0;
            }

            .is-sub-menu-active & {
                @extend .tf-g--no-wrap;
            }
        }

        .title-text,
        .sub-menu-item.is-bold {
            @include font($font-size-14, $font-weight-600, $black, 1.71, normal);
            @include font-family($font_santral_regular);
        }

        .sub-menu-item {
            @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
            @include font-family($font_santral_light);
        }

        @include MediaQueries($desktop-and-below) {
            .is-sub-menu-active & {
                display: block;
                left: 0;
                transition: 0.5s;
            }
        }

        .sub-menu-link {
            margin-bottom: getUnitValue(3);
            animation: fade-in 1000ms ease forwards, slide-in-right 1000ms ease forwards;
            opacity: 0;

            .ie & {
                animation: normal;
                opacity: 1;
            }

            @include MediaQueries($desktop-and-below) {
                margin-left: getUnitValue(4);
            }
        }

        .title-text.sub-menu-link {
            @include MediaQueries($desktop-and-below) {
                margin-left: 0;
            }
        }

        &_container {
            @extend .tf-g, .tf-g__start;

            .mobile-title {
                @extend .tf-g__middle, .tf-g__center;
                @include font($font-size-16, $font-weight-600, $black, 1.14, normal);
                @include font-family($font_santral_regular);
                display: none;
                margin-top: getUnitValue(3);
                margin-right: getUnitValue(2);
                padding-bottom: getUnitValue(2);
                border-bottom: 1px solid $tiffanyBlue;

                @include MediaQueries($desktop-and-below) {
                    display: flex;
                }

                .icon-Left {
                    position: absolute;
                    left: 0;
                    color: $black;
                    padding: getUnitValue(2);
                }
            }

            @include MediaQueries($desktop-and-below) {
                flex-direction: column;
            }
        }

        &_image {
            @extend .tf-g__between;
            width: getUnitValue(50);
            height: 100%;
            overflow: hidden;
            position: fixed;
            height: calc(100vh - 64px);
            right: 0;
            display: none;
            z-index: -1;

            & > a {
                @extend .col__full;
            }

            @include MediaQueries($desktop-and-above) {
                display: flex;
            }

            img {
                width: 100%;
                height: calc(100vh - 60px);
                object-fit: cover;
                font-family: 'object-fit: cover;';
            }

            &_content {
                text-align: center;
                position: fixed;
                right: 0;
                width: getUnitValue(50);
                bottom: getUnitValue(4);

                &-desc {
                    @include font($font-size-32, $font-weight-normal, $black, 1, normal);
                    @include font-family($font_sterling_display_roman);
                    margin-bottom: getUnitValue(1);
                }

                &-cta {
                    @include font($font-size-16, $font-weight-normal, $black, 1.14, normal);
                    @include font-family($font_santral_regular);
                    &::after {
                        content: "\25B8";

                    }
                }
            }
        }
    }

    .center-container {
        max-width: 200px;

        .ie & {
            width: 100%;
        }
        a.cta-underline {
            .ie & {
                width: 100%;
            }
        }

        @include MediaQueries($desktop-and-below) {
            max-width: 130px;
        }
    }

    &__flyout {
        width: getUnitValue(45);
        position: absolute;
        left: -100%;
        // overflow-y: auto; // commented as its breaking Nav on ipad
        bottom: 0;
        background: transparent;
        // overflow-x: hidden; // commented as its breaking Nav on ipad

        @media all and (-ms-high-contrast:none) {
            background-color: $white;
        }

        .chrome &, .ie &, .iPhone &, .iPad &, .ios &{
            transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
        }

        .cta:hover {
            border-bottom: 1px solid transparent;
        }

        &_content {
            @extend .tf-g, .tf-g__col, .col-sm__full;
            width: getUnitValue(45);
            background: $white;
            min-height: calc(100% - 80px);
            padding: 78px;
            padding-bottom: 0;
            top: getUnitValue(10);
            position: fixed;
            bottom: 0;
            z-index: $byo-modal-maxZIndex + 1;

            .wrapper {
                @extend .tiffany-blue-custom-scroll-bar;
                position: relative;
                overflow-y: auto;
                height: calc(100% - 48px);
                width: getUnitValue(32);
                -webkit-overflow-scrolling: touch;

                @include MediaQueries($desktop-and-below) {
                    padding-left: 0;
                    height: 100%;
                    width: 100%;
                }

                .ps__rail-x {
                    @extend .hide;
                }
            }

            @include MediaQueries($desktop-and-below) {
                padding: getUnitValue(3) getUnitValue(1) getUnitValue(3) getUnitValue(2);
                top: getUnitValue(6) !important;
                width: 100%;
                height: calc(100% - 48px);
            }

            .flyout-logo-desktop {
                @extend .show__desktop-and-above;
                margin-left: getUnitValue(-6);
                max-width: getUnitValue(22.5);
                max-height: getUnitValue(6);
                margin-top: auto;
                margin-bottom: auto;
            }

            .flyout-item {
                .cta {
                    &:hover {
                        border-bottom: 1px solid transparent !important;
                    }

                    &:before {
                        @include MediaQueries($desktop-and-below) {
                            height: 0 !important;
                        }
                    }

                    .cta-content .cta-text {
                        @include MediaQueries($desktop-and-above) {
                            @include font-family($font_santral_light);
                        }
                    }
                }
            }
        }

        @include MediaQueries($desktop-and-below) {
            background: $white;
            width: 100%;
            left: -100%;
            height: 100%;
            z-index: $toast-zIndex;
        }

        &.is-active {
            left: 0;

            .chrome & {
                transition: 0.5s;
            }
        }

        &_logo-container {
            @extend .tf-g, .tf-g__middle;
            height: getUnitValue(10);
            padding-left: getUnitValue(4);
            padding-right: getUnitValue(4);
            position: fixed;
            top:0;
            z-index: $byo-modal-maxZIndex + 1;
            border-top: 4px solid $tiffanyBlue;

            .is-active & {
                display: flex;

                @include MediaQueries($desktop-and-above) {
                    clip: rect(0 0 0 0);
                    overflow: hidden;
                    position: fixed;
                    height: 1px;
                    width: 1px;
                }
            }

            .close_menu {
                @extend .cta-underline;
                font-size: $font-size-16;
                display: none;

                .is-active & {
                    display: block;

                    @include MediaQueries($desktop-and-above) {
                        clip: rect(0 0 0 0);
                        overflow: hidden;
                        position: fixed;
                        height: 1px;
                        width: 1px;
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    top: 0;
                    left: 0;
                    width: getUnitValue(6);
                    height: getUnitValue(6);
                    padding: 0;
                    margin: 0;
                    position: fixed;
                    background-color: transparent;
                    border: none;
                }
            }

            @include MediaQueries($desktop-and-below) {
                width: 100%;
                background-color: $white;
                justify-content: center;
                height: getUnitValue(6.25);
                padding-left: getUnitValue(2);
                padding-right: getUnitValue(2);
            }

            @include MediaQueries($desktop-and-above) {
                display: none;
            }

            .flyout-logo {
                @extend .show__desktop-and-below;
                display: none;

                .logo-mobile {
                    height: getUnitValue(2);
                }
            }

            @include MediaQueries($desktop-and-below) {
                &:nth-child(2) {
                    margin-left: getUnitValue(2);
                }
            }
        }
    }

    &__backdrop {
        @extend .backdrop;
        display: none;
    }

    .is-active .flyout-item {
        display: block;
    }

    .is-active .remaining-links-mobile {
        @extend .show__desktop-and-below;
    }

    .has-image-hover:hover .flyout-image-hover {
        @extend .show__desktop-and-above;
    }

    // .has-sub-menu:hover .header__sub-menu,
    .is-sub-menu-active .header__sub-menu {
        display: block;
    }

    .has-sub-menu:hover .header__sub-menu {
        background: transparent;
    }

    .is-active .has-image-hover:focus-within .flyout-image-hover {
        @extend .show__desktop-tablet-and-above;
    }

    .is-active .has-sub-menu:focus-within .header__sub-menu {
        display: block;
    }

    .hover-image-content {
        @extend .col__full;
        position: absolute;
        bottom: 0;
        padding-bottom: getUnitValue(4);

        &-desc {
            @include font($font-size-32, $font-weight-normal, $black, 1, normal);
            @include font-family($font_sterling_display_roman);
            margin-bottom: getUnitValue(1);
        }

        &-cta {
            @include font($font-size-16, $font-weight-normal, $black, 1.14, normal);
            @include font-family($font_santral_regular);
            &::after {
                content: "\25B8";

            }
        }
    }

    .flyout {
        &-content {
            .right-container {
                &_item {
                    img {
                        height: getUnitValue(2);
                    }
                }
            }
        }

        .cta-content {
            &.account {
                @include font($font-size-12, $font-weight-normal, $black, 1.33, normal);
                @include font-family($font_santral_regular);

                .account-text {
                    @include MediaQueries($below-desktop-tablet) {
                        display: none;
                    }
                }
            }
        }

        &-image-hover {
            @extend .tf-g, .tf-g__center;
            display: none;
            position: fixed;
            left: getUnitValue(38);
            padding-left: getUnitValue(7);
            right: 0;
            bottom: 0;
            top: getUnitValue(10);
            overflow: hidden;
            z-index: 0;

            a:first-child {
                float: left;
            }

            img {
                object-fit: cover;
                font-family: 'object-fit: cover;';
                height: calc(100vh - 80px);
            }
        }

        &-separator {
            width: getUnitValue(3);
            border: 1px solid $tiffanyBlue;
        }

        &-item {
            display: none;
            padding-bottom: getUnitValue(3);
            padding-right: getUnitValue(7);
            animation: fade-in 1000ms ease forwards, slide-in-right 1000ms ease forwards;
            opacity: 0;
            cursor: pointer;

            @include MediaQueries($desktop-and-below) {
                padding-right: 0;
            }
        }

        &-item,
        &-item .top-level-item {
            @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
            @include font-family($font_santral_light);

            &:hover,
            &.active {
                @include font-family($font_santral_regular);
                font-weight: $font-weight-600;
            }

            @include MediaQueries($desktop-and-below) {
                @include font-family($font_santral_regular);
                font-weight: $font-weight-600;
            }


            .cta {
                @extend a.cta;
                &:hover {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }

    .remaining-links-mobile {
        display: none;
        margin-top: getUnitValue(3);

        &_item {
            margin-bottom: getUnitValue(3);

            animation: fade-in 1000ms ease forwards, slide-in-right 1000ms ease forwards;
            opacity: 0;

            .cta-content {
                @extend .tf-g, .tf-g__middle;
                line-height: 1.5;

                img {
                    width: getUnitValue(2);
                    height: getUnitValue(2);
                }
            }

            a {
                @include font($font-size-14, $font-weight-light, $black, 1.14, normal);
                @include font-family($font_santral_light);
            }

            &_icon {
                margin-right: getUnitValue(1);
                max-height: getUnitValue(2);
                max-width: getUnitValue(2);
            }

            &:nth-child(1) {
                animation-delay: 620ms;
                -ms-animation-delay: 620ms;
            }

            &:nth-child(2) {
                animation-delay: 690ms;
                -ms-animation-delay: 690ms;
            }
        }
    }

    $items: 20;

    @for $i from 0 through $items {
        .sub-menu-link--#{$i} {
            animation-delay: $i * 70 + 50ms;
            -ms-animation-delay: $i * 70 + 50ms;
        }

        .flyout_top-item--#{$i} {
            animation-delay: $i * 70 + 550ms;
            -ms-animation-delay: $i * 70 + 550ms;
        }
    }

    .fixed-header & {
        z-index: $modal-maxZIndex + 1 !important;
    }

    .with-sticky-nav & {
        z-index: $modal-maxZIndex + 2;
    }

        .splash-container.splash {
            will-change: opacity;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $tiffanyBlue;
            // transition: 2s;
            transition-property: opacity;
            // transition-timing-function: ease-in-out, linear;
            transition-duration: 2s;
            opacity: 1;
            visibility: visible;
            z-index: $maxZIndex + 1;
        }

        .center-container.splash {
            z-index: $maxZIndex + 1;
            a {
                will-change: transform;
                transform: scale(5) translate3d(0, 150%, 0);
                // transition: 2s;
                transition-property: transform;
                // transition-timing-function: ease-in-out, linear;
                transition-duration: 2s;
                backface-visibility: hidden;
                transform-style: preserve-3d;

                @include MediaQueries($mobile) {
                    transform: scale(3) translateY(500%);
                }
            }
        }

        .left-container.splash,
        .right-container.splash {
            will-change: transform, opacity;
            transform: translate3d(0, -100%, 0);
            opacity: 0;
            // transition: 0.5s linear 1.5s;
            transition-property: transform, opacity;
            transition-timing-function: ease-in-out;
            transition-duration: 1.5s;
        }

            .splash-container.start-splash {
                will-change: opacity;
                opacity: 0;
                transition-property: opacity;
                transition-timing-function: ease-in-out;
                transition-duration: 1.5s;
            }

            .left-container.start-splash,
            .right-container.start-splash {
                will-change: transform;
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

            .center-container.start-splash {
                a {
                    will-change: transform;
                    transform: scale(1);
                    transform: translate3d(0, 0, 0);
                    transition-property: transform;
                    transition-timing-function: ease-in-out;
                    transition-duration: 0.7s;
                }
            }

        @include MediaQueries($desktop-and-above) {
            .splash-container.splash-desktop {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $tiffanyBlue;
                transition: 2s;
                opacity: 1;
                visibility: visible;
                z-index: $maxZIndex + 1;
            }

            .center-container.splash-desktop {
                z-index: $maxZIndex + 1;
                a {
                    will-change: transform;
                    transform: scale(6) translateY(150%);
                }
            }

            .left-container.splash-desktop,
            .right-container.splash-desktop {
                will-change: transform opacity;
                transform: translateY(-100%);
                opacity: 0;
                transition: 0.5s linear 1.5s;
            }

                .splash-container.start-splash {
                    opacity: 0;
                    visibility: hidden;
                }

                .left-container.start-splash,
                .right-container.start-splash {
                    will-change: transform opacity;
                    transform: translateY(0);
                    opacity: 1;
                }

                .center-container.start-splash {
                    a {
                        will-change: transform;
                        transform: scale(1);
                        transform: translate3d(0, 0, 0);
                        transition-property: transform;
                        transition-timing-function: linear;
                        transition-duration: 0.7s;
                    }
                }
        }

}

.sub-menu-active .has-image-hover:hover .flyout-image-hover {
    @extend .hide;
}

.blur-content {
    .header__backdrop {
        display: block;
    }
}

.tiffany-aem.header-sticked {
    .header {
        height: auto;
    }

    & + div,
    & + main,
    & + article {
        padding-top: getUnitValue(8);
        @include MediaQueries($desktop-and-below) {
            padding-top: getUnitValue(6);
        }
    }
}
