/**
* Prodcut description Add to cart
*/

.engagement-pdp {
    &__product-description__addtobag {
        @extend .col__full;
        padding-bottom: getUnitValue(1);
    
        &_btn {
            @extend .col__full, .btn-primary;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            height: getUnitValue(6);
            padding: getUnitValue(2) getUnitValue(3);
    
            &:active {
                box-shadow: none;
                border: 1px solid $black;
               
                &__product-description__addtobag_btn_text-static {
                    color: $black;
                }
            }
    
            &:hover {
                box-shadow: none;
                border: 1px solid $black;
                background-color: $tiffanyBlue !important;
    
                &__product-description__addtobag_btn_text-static {
                    color: $black;
                }
            }
    
            &:focus {
                border: 2px solid $bondiBlue;
            }   
    
            &_curtain {
                @extend .col__full, .tf-g__middle, .tf-g__center, .tf-g;
                @include font($font-size-14, $font-weight-normal, $black, 1.14, 0);
                @include font-family($font_santral_regular);
                position: absolute;
                top: 0%;
                left: -100%;
                height: 100%;
                background: $tiffanyBlue;
                transition: left 0.6s ease-in-out;
                z-index: 3;
                border: 1px solid $black;
            }
    
            &_text-static {
                @extend .tf-g__between, .tf-g, .tf-g__middle, .col__full;
                @include font($font-size-14, $font-weight-normal, false, 1.14, 0);
                @include font-family($font_santral_regular);
                position: absolute;
                top: 0;
                left: 0;
                padding: getUnitValue(2) getUnitValue(3);
                z-index: 2;
    
                &_addtobagtext {
                    position: absolute;
                    right:0;
                    top: 0px;
                    transition: all 0.35s ease-out;
    
                    span {
                        height: getUnitValue(6);
                        padding: getUnitValue(2) getUnitValue(3);
                        display: block;
                    }
                }
    
                &:hover {
                    color: $black !important;
    
                    .engagement-pdp__product-description__addtobag_btn_text-static_addtobagtext {
                        top:-100%;
                    }
                }
    
                &_price-wrapper {
                    
                    &_price {
                        &:not(:last-child)::after {
                            content: '+';
                            margin: 0 getUnitValue(1);
                        }
                    }
                }
                
                @include MediaQueries($tablet-and-below){
                    padding: getUnitValue(2) getUnitValue(3);
                }
            }
    
            &.active-btn {
                &:hover {
    
                    .engagement-pdp__product-description__addtobag_btn_text-static_addtobagtext {
                        top:0;
                    }
                }
               
                .engagement-pdp__product-description__addtobag_btn_curtain {
                    left: 0;
                }
    
                .engagement-pdp__product-description__addtobag_btn_text-static {
                    color: $black;
                }
            }
    
            @include MediaQueries($tablet-and-below) {
               height: getUnitValue(6);
            }
        }
    
        .click-to-pay{
            z-index: $header-zIndex;
            @extend .col__full;
            @extend .btn, .btn-secondary, .btn--outline, .no-bottom-color;
            display: inline-block;
            height: getUnitValue(6);
            width: 100%;
    
            @include MediaQueries($tablet-and-below) {
                padding-top: getUnitValue(1);
            }
    
            &:active {
                box-shadow: none;
                border: solid 2px $black;
                background-color: $white !important;
            }
    
            &:focus {
                border: 1px solid $bondiBlue;
            }
    
            &:hover {
                border: solid 1px $black;
                background-color: $grayshade;
            }
    
            &__product-description{
                &__addtobag {
                    &_btn {
                        &_text-static {
                            &_addtobagtext {
                                position: absolute;
                                right:0;
                                top: 0px;
                                transition: all 0.35s ease-out;
                                color: $black;
                                span {
                                    height: getUnitValue(2);
                                    padding: getUnitValue(2) getUnitValue(3);
                                    display: block;
                                }
                            }
                            
                            &_price-wrapper {
                                display: none;
                            }
                        }

                        &:focus {
                            border: 1px solid $bondiBlue;
                        }
                    }
                }
            }
        }     
    }
}