// ****************************************
// Image Zoom Component
// ****************************************

.image-zoom {

    &__desktop-view {
        div {
            cursor: context-menu !important;
        }
        @include MediaQueries($below-ipad) {
            display: none;
        }
    }

    &__mobile-view {
        @include MediaQueries($ipad-and-above) {
            display: none;
        }
    }
}
