// ****************************************
// site-index
// ****************************************
.site-index {
    @include MediaQueries($desktop-and-above) {
        padding-left: getUnitValue(13);
    }

    @include MediaQueries($tablet-and-below) {
        padding-left: getUnitValue(2);
        padding-right: getUnitValue(2);
    }

    .site-index {
        padding-left: 0 !important;
    }

    .productfulfillmentcolumncontrol & {

        @include MediaQueries($desktop-and-above) {
            padding: 0 calc(5vw - 16px);
        }

        .text-with-cta__column {
            @include MediaQueries($desktop-and-above) {
                margin: 0;
                padding: 0 16.5%;
            }

            .text-with-cta__column_icon-img {
                display: block;
            }

            img, svg {
                width: getUnitValue(3);
                height: getUnitValue(3);
            }

            @include MediaQueries($desktop-and-below) {
                margin: 0;
                padding-bottom: getUnitValue(3);
            }
        }
    }

    &__header {
        @include font($font-size-32, $font-weight-normal, $black, 1.14, false);
        @include font-family($font_sterling_display_roman);
        padding-bottom: getUnitValue(8);
        padding-top: getUnitValue(6.5);

        @include MediaQueries($desktop-and-below) {
            h1 {
                font-size: $font-size-40;
            }
        }

        @include MediaQueries($tablet-and-below) {
            padding-top: getUnitValue(4);
            padding-bottom: getUnitValue(5);
        }
    }

    &__container {
        &-header {
            @include font($font-size-20, $font-weight-600, $black, normal, false);
            @include font-family($font_santral_regular);
            padding-bottom: getUnitValue(3);

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-24;
            }
        }

        &-content {
            @extend .tf-g;
            padding-bottom: getUnitValue(8);

            .productfulfillment & {
                padding-bottom: getUnitValue(7);
            }

            .productfulfillmentcolumncontrol & {

                @include MediaQueries($desktop-and-above) {
                    padding: getUnitValue(3) getUnitValue(2) getUnitValue(7);
                    justify-content: center;
                }

                @include MediaQueries($desktop-and-below) {
                    padding-bottom: 0;

                    .slick-dots {
                        left : -5px;
                    }
                }
            }

            &-section {
                padding-right: getUnitValue(5);

                @include MediaQueries($desktop-and-below) {

                    .drop-a-hint {
                        justify-content: center;
                    }
                }

                .productfulfillmentcolumncontrol & {
                    padding-right: 0;
                }

                @include MediaQueries($tablet-and-below) {
                    padding-right: 0;
                    width: 100% !important;
                }

                .size-guide, .store-locator, .generic-marketing,.shipping-returns,.drop-hint {
                    @extend .display__block;
                    text-align: center;
                }

                .drop-hint {
                    justify-content: center;
                    .drop-a-hint-icon {
                        @extend .cta;
                        background: none;
                        border: 0;
                        padding: 0;

                        :hover {
                            border: none;
                        }

                        .drop-a-hint__btn_label {
                            @include font($font-size-14, normal, $black, 1.71, false);
                            @include font-family($font_santral_regular);
                            padding-top: getUnitValue(2);
                        }
                    }
                }
                .drop-a-hint {
                    justify-content: center;
                }

                .imagewithtitlecta {
                    @include MediaQueries($tablet-and-below) {
                        margin-left: getUnitValue(-2);
                        margin-right: getUnitValue(-2);
                        padding-bottom: getUnitValue(5);

                        picture {
                            margin-bottom: getUnitValue(3);
                        }
                    }

                    picture {
                        margin-bottom: getUnitValue(2);
                    }

                    .cta {
                        font-size: $font-size-12;
                        line-height: getUnitValue(2);

                        @include MediaQueries($desktop-and-below) {
                            font-size: $font-size-16;
                        }
                    }

                    .cta-text {
                        @include font-family($font_santral_regular);

                        @include MediaQueries($tablet-and-below) {
                            margin-left: getUnitValue(2);
                        }
                    }
                    .icon-Right {
                        font-size: $font-size-10;
                        margin-right: -4px;
                        padding-left: getUnitValue(1);
                    }
                }

                .headingwithlinks {
                    @include MediaQueries($tablet-and-below) {
                        padding-bottom: getUnitValue(4);
                    }
                }

                .cta-text {
                    @include font-family($font_santral_semi_bold);
                }

                .container100 &{
                    @extend .col__full;
                }

                .container50x50 &{
                    @extend .col-6-12;
                }

                .container33x33 &{
                    @extend .col-4-12;
                }

                .container25x25 &{
                    @extend .col-3-12;
                }

                .container20x20 &{
                    @extend .col-20-percent;
                }

                .container20x80 &:first-child {
                    @extend .col-20-percent;
                }

                .container20x80 &:last-child {
                    @extend .col-80-percent;
                }
            }

            &-subsection {
                padding-bottom: getUnitValue(4);

                @include MediaQueries($tablet-and-below) {
                    padding-bottom: 0;
                }

                .h3 {
                    @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
                    @include font-family($font_santral_regular);
                    border-bottom: 1px solid $bondiBlue;
                }
            }

            &-list {
                font-size: 12px;
                line-height: getUnitValue(3);
                padding-top: getUnitValue(2);

                a:focus {
                    border: 2px solid $bondiBlue;
                }
            }

            &-link {
                font-size: $font-size-16;

                @include MediaQueries($desktop-and-below) {
                    font-size: $font-size-12;
                }


                &.cta {
                    font-size: $font-size-16;
                    line-height: getUnitValue(3);

                    @include MediaQueries($desktop-and-below) {
                        font-size: $font-size-12;
                    }
                }
            }
        }
    }
}

.productfulfillmentcolumncontrol {
    @include MediaQueries($desktop-and-below) {
        padding-bottom: getUnitValue(4);

        .slick-list .slick-track {
            display: flex;
            align-items: center;
        }
    }
}
