.product-social-flyout {
    overflow: hidden;
    @extend .display__none;
    position: relative;
    background: $white;

    @include MediaQueries($desktop-and-above) {
        display: block;
        position: fixed;
        top: getUnitValue(8);
        right: getUnitValue(-60);
        width: getUnitValue(60);
        padding: getUnitValue(5);
        z-index: $modal-maxZIndex + 2;
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transition: right 0.5s ease-in-out 0.1s;

        &.product-flyout-shown {
            right: 0;
        }
    }

    @include MediaQueries($desktop-and-below) {
        top: 0 ;
        width: 100%;
        height: 100%;
        padding: getUnitValue(2) getUnitValue(2) getUnitValue(3);
        transition: none;
        position: fixed;
        z-index: $modal-maxZIndex + 2;
        right: 0;
        overflow: auto;
    }

    &.product-flyout-shown {
        @extend .display__block;
    }

    &_close {
        position: absolute;
        top: 0;
        right: getUnitValue(2);
        padding: 0;
        background: transparent;
        border: none;
        margin-top: getUnitValue(2.5);
        font-size: $font-size-24;

        @include MediaQueries($desktop-and-above) {
            right: getUnitValue(5);
            top: getUnitValue(3);
            font-size: $font-size-24;
        }
    }

    &__eyebrow-text {
        @extend .display__block;
        @include font($font-size-14, $font-weight-normal, $black, 16px, normal);
        @include font-family($font_santral_regular);
        text-decoration: underline;
        margin-bottom: getUnitValue(1);
        max-width: getUnitValue(45);
    }

    &__product-name {
        @extend .display__block;
        @include font($font-size-24, $font-weight-normal, $black, 1, normal);
        @include font-family($font_sterling_display_roman);
        margin-bottom: getUnitValue(4);
        max-width: getUnitValue(45);
        @include MediaQueries($desktop-and-below) {
            margin-bottom: getUnitValue(2);
        }
    }

    &__qrcode {
        @extend .display__block;
        text-align: center;
        margin-top: getUnitValue(8);
        margin-bottom: getUnitValue(12.5);
        @include MediaQueries($desktop-and-below) {
            margin-top: getUnitValue(1);
            margin-bottom: getUnitValue(2);
        }

        &_title {
            @include font($font-size-14, $font-weight-600, $black, 1.14, normal);
            @include font-family($font_santral_semi_bold);
        }

        &_desc {
            @include font($font-size-12, $font-weight-light, $black, 1.33, normal);
            @include font-family($font_santral_light);
            margin-top: getUnitValue(3);
            width: 400px;
            @include MediaQueries($desktop-and-below) {
                margin-top: getUnitValue(2);
                width: getUnitValue(30);
            }
        }

        &_image {
            @extend .show__flex;
            justify-content: center;
            margin-top: getUnitValue(1);
            margin-bottom: getUnitValue(2);
            img{
                width: getUnitValue(20);
                height: getUnitValue(20);
            }
        }
    }
}