.pdp__modal {

    @extend .col__full, .hide;

    &.is-open {
        @extend .show;
        height: 100%;
        &.is-mobile {
            @extend .col__full;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: $modal-maxZIndex;
            background-color: $white;
            position:fixed;
            padding-left: getUnitValue(2);
            padding-right: getUnitValue(2);
            overflow-y: auto;
        }
    }

    &:focus {
        outline: none;
    }

    @include MediaQueries($desktop-and-above) {
        position: absolute;
        top: 0;
        background-color: $white;
        z-index: $modal-maxZIndex - 2;
    }
}
