.wishlist {
    @extend .btn;
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: getUnitValue(2);
    height: getUnitValue(2);

    @include MediaQueries($desktop-and-below) {
        right: getUnitValue(3);
    }

    > div[role="button"] {
        .ios & {
            overflow: visible !important;
        }
    }

    .keyboard--focussed & {
        &:focus {
            border-color: transparent;
            border: 1px solid $bondiBlue;
        }
    }
    .wishListIcon{
        width: getUnitValue(2);
    }

    .wishlist-status-msg{
        height: 0;
        overflow: hidden;
    }
}
