.map-container {
    .locator_map {
        height: 860px;
        width: 800px;
        @include MediaQueries($tablet-and-below) {
            height: 390px;
            max-width: 100%;
        }
        &:focus {
            border: 2px solid $black;
        }
        a {
            &:focus {
                @extend .display__inline-block;
                border: 2px solid $black !important;

                .firefox & {
                    display: block !important;
                }
            }
        }
        button {
            outline: 2px solid transparent;
            display: block !important;

            &:focus {
                outline: 2px solid $black !important;
            }
        }

        .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom button.gm-control-active:first-child:focus + div {
            background-color: $black !important;
        }
    }
    canvas[_strokecolor="transparant"] {
        display: none;
    }

    .baidu {
        &-zoom {
            box-shadow: $tiffanyBackdrop 0px 1px 4px -1px;
            border-radius: 2px;

            &-in {
                padding: 9px 11px 13px;
            }
            &-seperator {
                position: relative;
                width: 30px;
                height: 1px;
                margin: 0px 5px;
                background-color: $whisper;
                top: 0px;
            }
            &-out {
                padding: 13px 11px 9px;
            }
        }

        &-map-full-screen {
            padding: 10px;
            height: 38px;
            box-shadow: $tiffanyBackdrop 0px 1px 4px -1px;
            border-radius: 2px;
        }
    }
}
