// ****************************************
// marketing-carousel
// ****************************************

.marketing-carousel {
    padding: 0;

     &__body {
        @extend .tf-g;
        padding: 0 getUnitValue(6);

        &_image {
            @extend .col-6-12;

            img {
                @extend .display__block;
                max-width: getUnitValue(69);
                width: 100%;
            }

            .content-tile {
                text-align: left;
                padding-bottom: getUnitValue(7);

                .heading {
                    @extend .h3;
                    line-height: 1.50;

                    @include MediaQueries($below-ipad) {
                        padding-bottom: 0;
                    }
                }

                .description{
                    font-size: $font-size-14;
                    padding-bottom: getUnitValue(2);
                }
                .cta {
                    @extend .hide__below-ipad;
                }
            }

            &:last-child {
                padding-left: getUnitValue(5);
            }

            &:first-child {
                @extend .tf-g__end;
                padding-right: getUnitValue(5);
            }
        }
    }

    &__rte {
       .content-tile {
            @include MediaQueries($below-ipad) {
                .heading {
                    padding-bottom: getUnitValue(2);
                    padding-top: getUnitValue(2);
                }
            }

            // .description,
            // .cta {
            //     @extend .hide__below-ipad;
            // }
        }
    }

    @include MediaQueries($desktop-and-below) {
        padding: 0 0 getUnitValue(10) 0;

        &__body {
            padding: 0;

            &_image {

                .content-tile {
                    .heading {
                        line-height: 1.2;
                        font-size: $font-size-40;
                    }
                }

                &:first-child {
                    padding: 0 getUnitValue(1) 0 0;
                }

                &:last-child {
                    padding: 0 0 0 getUnitValue(1);
                }
            }
        }
    }
    @include MediaQueries($mobile) {
        padding: 0;
    }
}
