.hover-container {
    @extend .container, .tf-g, .tf-g__top, .tf-g__center, .col__full;
    width: getUnitValue(46);
    min-height: getUnitValue(46);
    height: auto;
    position: absolute;
    padding-bottom: 0;
    background-color: $white;
    border: 1px solid $black;
    left: -5px;
    right: -5px;
    z-index: 4;

    &__item {
        @extend .col__full, .tf-g, .tf-g__between;

        a {
            width: inherit;
        }

        .image-section {
            padding: getUnitValue(4);
            padding-bottom: getUnitValue(2);
            @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                padding: getUnitValue(3) getUnitValue(3) getUnitValue(2);
            }

            > picture {

                padding-top: 100%;

                img {
                    margin-top: -100%;
                }
            }
        }

        .slick-slider {
            width: inherit;

            .slick-next, .slick-prev{
                max-width:getUnitValue(2);
                max-height:getUnitValue(2);

                &::before {
                    opacity: 1;
                }
            }

            .slick-next {
                right:getUnitValue(1);
            }

            .slick-prev {
                left:getUnitValue(1);
            }

            .slick-track .slick-slide {

                .hover-container__item__slide-picture {

                    > picture {

                        padding-top: 100%;

                        img {
                            margin-top: -100%;
                        }
                    }

                    &:hover {
                        border: none;
                    }
                }
            }
        }

        &_container {
            @extend .tf-g--no-wrap, .col__full, .tf-g__between;
        }

        &__description {
            @extend .tf-g__start, .col__full;
            @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
            @include font-family($font_santral_light);

            max-height: none;
            max-width: 280px;
            margin-bottom: getUnitValue(2);
            margin-left: getUnitValue(4);
            margin-right: getUnitValue(1);

            @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                margin-left: getUnitValue(3);
            }

            p {
                @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
                @include font-family($font_santral_light);
            }
        }

        &__customizable {
            @extend .tf-g, .tf-g__between, .tf-g__middle;
            padding: 0 getUnitValue(3);
            margin: 0;
            position: relative;

            .wishlist {
                position: absolute;
                right: getUnitValue(4);
                top: getUnitValue(0.5);
            }

            &__wishlist-icon {
                @extend .btn;
                margin-left: auto;
                padding: 0;
                border: 0;
                background-color: transparent;
                font-size: $font-size-16;

                &:focus {
                    border: 0;
                    border-color: transparent;
                }
            }
        }

        &_view-details {
            @extend .btn-secondary, .col__full;
            margin: 0 getUnitValue(4) getUnitValue(4);
            align-self: flex-end;
            display: block;

            @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                margin: 0 getUnitValue(3) getUnitValue(3);
            }

            &.btn {
                padding: 0;
                border: 2px solid transparent;
                box-shadow: inset 0 0 0 1px $black;
            }

            &_btn {
                border: none;
                padding: 18px getUnitValue(3);
                background: transparent;

                &:active {
                    border: none !important;
                    box-shadow: none !important;
                }

                @include MediaQueries($desktop-tablet-above-and-mini-desktop) {
                    padding-left: getUnitValue(2);
                    padding-right: getUnitValue(2);
                }

                &_text {
                    @extend .tf-g;
                    text-align: center;
                    flex-wrap: nowrap;
                    @include font($font-size-14, $font-weight-light, $black, 1.14, normal);
                    @include font-family($font_santral_semi_bold);

                    &_price {
                        white-space: nowrap;
                    }

                    &_details-text {
                        margin-left: auto;
                    }

                    @include MediaQueries($desktop-tablet-above-and-mini-desktop) {
                        font-size: 1vw;
                    }

                    &_no-price {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
