.shipping-flyout {
    position: relative;
    height: 0;
    line-height: 0;

    .tiffany-rte {
        h3 {
            padding-bottom: 24px;
        }
        p {
            margin-bottom: getUnitValue(2);
            font-size: 14px;
            line-height: 24px;
        }
    }

    .slick-list {
        @extend .tf-g__tablet-and-below_center;
    }

    @include MediaQueries($desktop-and-below) {
        margin-bottom: 0;
    }
    &__body {
        position: fixed;
        top: getUnitValue(8);
        right: getUnitValue(-60);
        width: getUnitValue(60);
        bottom: 0;
        border-bottom: 4px solid $tiffanyBlue;
        z-index: $modal-maxZIndex + 2;
        background-color: $white;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transition: right 0.5s ease-in-out 0.1s;
        visibility: hidden;

        @include MediaQueries($desktop-and-below) {
            top: 0 !important;
            width: 100%;
            height: 100%;
            padding: 0;
            transition: none;
            right: -100%;
            .ios & {
                padding: getUnitValue(3) getUnitValue(2);
                .ps {
                    padding: 0 getUnitValue(1) 0 0;
                    .shipping-flyout__body_icon--left-arrow {
                        position: relative;
                        top: 0;
                        left: 0;
                        padding-bottom: getUnitValue(4);
                    }
                }
            }
        }

        .tiffany-rte {
            h3 {
                @include font-family($font_santral_semi_bold);
                @include font($font-size-20, false, false, 1.6, normal);
            }
            p {
                @include font-family($font_santral_regular);
                @include font($font-size-14, false, false, normal, normal);
                font-weight: 300;
            }
        }

        &--show {
            @extend .show, .tiffany-blue-custom-scroll-bar;
            right: 0;
            visibility: visible;
            padding-right: 16px;
            @include MediaQueries($desktop-and-below) {
                padding-right: 8px;
            }

            .diamond-selection-body & {
                padding-right: 32px;
            }

            .iPad & {
                padding: getUnitValue(7) getUnitValue(5) 0;
                .ps {
                    padding: 0 getUnitValue(2) 0 0;
                    .shipping-flyout__body_icon--close {
                        top: 0;
                    }
                }
            }

            .ps {
                height: 100%;
                padding: getUnitValue(10) getUnitValue(5) 0;
                @include MediaQueries($desktop-and-below) {
                    padding: getUnitValue(3) getUnitValue(2);
                }
                .ps__rail-x {
                    display: none;
                }
            }
        }

        &_icon {

            &--left-arrow {
                @extend .icon, .hide, .show__tablet-and-below;
                font-size: $font-size-24;
                padding: 0;
                position: relative;
                border: none;
                background: transparent;
                z-index: $modal-maxZIndex;

                @include MediaQueries($desktop-and-below) {
                    left: 0;
                    top: 0;
                    padding-bottom: getUnitValue(4);

                    img, svg {
                        width: getUnitValue(3);
                        height: getUnitValue(3);
                    }
                }
            }

            &--close {
                @extend .icon;
                font-size: $font-size-24;
                padding: 0;
                position: absolute;
                right: getUnitValue(5);
                top: getUnitValue(5);
                border: none;
                background: transparent;
                z-index: $modal-maxZIndex;

                .keyboard--focussed & {
                    &:focus {
                        border: 2px solid $bondiBlue;
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    display: none;
                }

                img, svg {
                    width: getUnitValue(3);
                    height: getUnitValue(3);

                    @include MediaQueries($tablet-and-below) {
                        width: getUnitValue(2);
                        height: getUnitValue(2);
                    }
                }
            }
        }
    }

    &__overlay {
        @extend .col__full, .hide;
        height: 100%;
        position: fixed;
        top: getUnitValue(8);
        left: 0;
        background-color: $dim-white;
        opacity: .25;
        z-index: $back-to-top-zIndex;

        &--show {
            @extend .show;
        }
    }
}

.shipping-cta {
    @extend .cta;
    background: none;
    padding: 0;
    font-size: $font-size-14;
    font-family: $font_santral_regular;
    cursor: pointer;

    .cta-content {
        .cta-text {
            font-weight: $font-weight-normal;
        }
    }

    :hover {
        border: none;
    }

    &.active{
        background-size: 100% 1px;
    }
}
