---
title: Appointment Booking & Diamond Consultation Page
type: page
layout: base
description: Appointment Booking & Diamond Consultation for App
sortOrder: 0
---

<div class="wrapper booking-diamond-consultation">
    <article class="container">
        {{> booking-diamond-consultation
            booking-diamond-consultation.consultation
        }}
    </article>
</div>
