---
title: Browse Grid Page
type: page
layout: grid
description: Browse grid page for App
sortOrder: 0
---

<div class="wrapper home-page">
    <div class="hero-banner container">
        {{> text-with-image
            browse-grid.banner2
        }}
    </div>
    {{!-- <div class="container tf-g--gutter-left">
        {{> content-tile
            isBrowseGrid  = 'true'
            heading       = browse-grid.heroBannerBrowseGridVariation.heading
        }}
    </div> --}}
    <tiffany-grid config="searchConfig" type="BROWSE"  noSearchConfig="noSearchConfig" popularProductConfig="popularProductConfig" popularProductConfigType="SKU" ></tiffany-grid>
    <div class="no-results-container hide-no-results-container">
        <h1>Tesing No Results Browse Grid</h1>
    </div>
</div>
