---
title: Drop a Hint Email Template
type: page
layout: base
description: Drop a Hint Email Template
sortOrder: 0
---

<div style="width:600px; margin:auto; height:auto;text-align:center" height="auto">
    <table style="width:600px" width="600">
        <tr>
            <td>
        <img src="https://www.academiadeinversion.com/wp-content/uploads/2016/10/an%C3%A1lisis-tiffany-co.png" altText="logo image" style="width:600px" width="600" height="212"/>
            </td>
        </tr>
    </table>
	<div>
        <table style="width:600px" width="600">
            <tr>
                <td>
            <a href="www.google.com"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWqsEgpKZqRhDVj4-bZyZtU_GxSSgyWXzmk03ZlAMOUaTEuamBAA" style="width:600px;height:600px" width="600" height="600" /></a>
                </td>
            </tr>
        </table>
    </div>
    <div>

            <table style="width:600px;padding-left:86px;padding-right:121px;" width="600">
                <tr>
                    <td style="font-size:20px; color:#000;font-family:Courier;line-height:1.5;text-align:left;height:224px;font-weight:normal">
                        Dear sindhu,<br> Apparently sowmyasree has been daydreaming about??this??and we thought you???d definitely want to know. A hint from your friends at Tiffany.
                    </td>
                </tr>
            
                <tr>
                    <td style="text-align:left;">
            <a href="https://www.google.com/" style="font-weight:bold;font-family:courier new;text-decoration:none;color:#000;text-align:left;line-height: 1;font-size:24px">View this Hint <span style="font-weight: normal; padding-left:16px;">&#x3e;</span></a>
                    </td>
                </tr>
                </table>
    </div>
    
    <div>
            <table style="width:600px;" cellpadding="0" cellspacing="0" width="600">
                <tr>
                    <td style="padding-top:102px">
                        <table cellspacing="20" cellpadding="0" style="width:600px;padding: 20px;" width="600">
                            <tr>
                    <td style="height:90px;background-color:#f7f7f7;text-align:center" height="90">
                    <a href="https://www.google.com/" style="color:#000;
    text-decoration:none;font-size:24px;font-weight:normal;font-style:normal;line-height:2.35;text-align: center;font-family:courier;color:#000000;padding-top:34px;padding-bottom:34px;">Jewelery</a
                    ></td>
                </tr>
                <tr>
                <td style="height:90px;background-color:#f7f7f7;text-align:center" height="90">
                    <a href="https://www.google.com/" style="color:#000;
    text-decoration:none;font-size:24px;font-weight:normal;font-style:normal;
    line-height: 2.35;text-align:center;
    font-family:courier;color:#000000;padding-top:34px;padding-bottom:34px;">Gifts</a>
                    </td>
                </tr>
                <tr>
                <td style="height:90px;background-color:#f7f7f7;text-align:center" height="90">
                    <a href="https://www.google.com/" style="color:#000;
    text-decoration:none;font-size:24px;font-weight:normal;font-style:normal;
    line-height:2.35;text-align:center;
    font-family:courier;color:#000000;padding-top:34px;padding-bottom:34px;">Engagement</a>
                    </td>
                </tr>
                <tr>
                <td style="height:90px;background-color:#f7f7f7;text-align:center" height="90">
                    <a href="https://www.google.com/" style="color: #000;
    text-decoration: none;font-size:24px;font-weight:normal;font-style:normal;
    line-height:2.35;text-align:center;
    font-family:courier;color:#000000;padding-top:34px;padding-bottom:34px;">Find a Store</a>
                    </td>
                </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    <table style="width:600px;background:#81d8d0" cellpadding="16" cellspacing="0" width="600">
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
        
    <div>
        <table cellpadding="0" cellspacing="0" style="margin:auto">
            <tr>
                <td style="padding:0">
                    <table cellpadding="0" cellspacing="0" width="345" style="width:345px;padding-top:30px;text-align:center">
                        <tr>
                    <td>
                        <a href="https://www.instagram.com/accounts/login/"><img src="https://img.icons8.com/metro/1600/facebook.png" style="height:33px" height="33" alt="instagram" class="loading" data-was-processed="true"></a>
                    </td>
                    <td>
                        <a href="https://www.facebook.com/"><img src="https://img.icons8.com/metro/1600/facebook.png" style="height:33px" height="33" alt="facebook" class="loading" data-was-processed="true"></a>
                    </td>
                    <td>
                        <a href="https://in.pinterest.com/"><img src="https://img.icons8.com/metro/1600/facebook.png" style="height:33px" height="33" alt="pinterest" class="loading" data-was-processed="true"></a>
                    </td>
                    <td>
                       <a href="https://twitter.com/login?lang=en"><img src="https://img.icons8.com/metro/1600/facebook.png" style="height:33px" height="33" alt="twitter" class="loading" data-was-processed="true"></a> 
                    </td>
                    <td>
                        <a href="https://www.youtube.com/"><img src="https://img.icons8.com/metro/1600/facebook.png" style="height:33px" height="33" alt="youtube" class="loading" data-was-processed="true"></a>
                    </td>
                </tr>
                    </table>
                </td>
            </tr>
            </table>
            
    </div>
    <div>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding:0;padding-top:70px;" >
                    <table style="width:439px;line-height:2;text-align:center" width="439" cellpadding="0" cellspacing="0">
                <tr>
                             <td style="font-size:19.5px;font-weight:bold;font-family:courier new"><a href="https://www.google.com/" style="color:#000;text-decoration:none">8008435670</a>
                    </td>
                    <td style="font-size:19.5px;font-weight:bold;font-family:courier new">
                        <a href="https://www.google.com/" style="color:#000;text-decoration:none">CUSTOMER
                    SERVICE</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:19.5px;font-weight:bold;font-family:courier new">
                        <a href="https://www.google.com/" style="color:#000;text-decoration:none">PRIVACY
                    POLICY</a>
                    </td>
                    <td style="font-size:19.5px;font-weight:bold;font-family:courier new">
                        <a href="https://www.google.com/" style="color:#000;text-decoration:none">STORE
                    LOCATIONS</a>
                    </td>
                </tr>
            </table>
                </td>
            </tr>
        </table>
            
    </div>
    <div>
        <table cellpadding="0" cellspacing="0">
            <tr>
               <td style="padding:0;padding-top:76px;padding-bottom: 221px;">
                   <table cellpadding="0" cellspacing="0" style="width:600px;line-height:1.78;text-align:center" width="600">
                <tr>
                    <td style="font-family:Courier;font-size:13.5px;font-weight:normal;font-style:normal;letter-spacing:0.3px;
    text-align:center;color:#000000;">
                        We do not retain the email address this email was sent
                to.
                    </td>
                    </tr>
                <tr>
                    <td style="font-family:Courier;font-size:13.5px;font-weight:normal;font-style:normal;letter-spacing:0.3px;
    text-align:center;color:#000000;">
                        @2019 Tiffany and Company
                    </td>
                </tr>
            </table>
                </td>
            </tr>
        </table>
            
    </div>
    </div>


