---
title: Love and Engagement Page
type: page
layout: grid
description: Love and Engagement page for App
sortOrder: 0
---

<div class="wrapper engagement-page">
     <div class="hero-banner container">
        {{> text-with-image
            browse-grid.banner2
        }}
    </div>
    <tiffany-grid config="searchConfig" type="BRIDAL"  noSearchConfig="noSearchConfig" popularProductConfig="popularProductConfig" popularProductConfigType="SKU"></tiffany-grid>
</div>
