---
title: FAQ policies
type: page
layout: base
description: FAQ policies
sortOrder: 0
---

<div class="wrapper faq-policies-page">
    {{> footer-policies
        footer-policies.policies
    }}

    {{> faq-answers
        faq-answers.faqAnswerData
    }}
</div>
