---
title: Gifting landing Page
type: page
layout: base
description: Gifting Landing Page for App
sortOrder: 0
---

<div class="wrapper">
    {{> sticky-nav gifting-landing-page}}

    <tiffany-three-tile-carousel config="threeTileVariation1"></tiffany-three-tile-carousel>
    <tiffany-three-tile-carousel config="threeTileVariation2" parallax='true'></tiffany-three-tile-carousel>
    <tiffany-three-tile-carousel config="threeTileVariation3" parallax='true'></tiffany-three-tile-carousel>
    <tiffany-three-tile-carousel config="threeTileVariation4"></tiffany-three-tile-carousel>
    <tiffany-beauty-tiles config="beautyTileConfig"></tiffany-beauty-tiles>
</div>
