---
title: Hero component variations
type: page
layout: base
description: Hero component variations
sortOrder: 0
---

<div class="wrapper byo-landing-page">
    {{> hero-component
        hero-components-variations.heroBanner
    }}

    {{> hero-component
        hero-components-variations.heroBannerCarousel
    }}

    {{> hero-component
        hero-components-variations.heroBannerInsetText
    }}

    {{> hero-component
        hero-components-variations.heroBannerInsetTextLeft
    }}

    {{> hero-component
        hero-components-variations.heroBannerInsetTextRight
    }}
</div>
