---
title: Index Page
type: page
layout: base
description: This works as Site Map for Static HTML Files
sortOrder: 0
---
<style type="text/css">
    .sitemap.container {
        min-height: 500px;
        padding: 0 25px;
    }

    .sitemap h3 {
        margin: 20px 0;
        text-align: center;
    }

    .sitemap ol {
        padding: 0 30px;
    }
    .sitemap.container .pages{
        display:flex;
        justify-content: space-around;
    }
    .sitemap.container .pages p{
        margin: 10px 0;
        font-weight: bold;
        text-align: center;
    }

</style>
<div class="container tf-g--gutter-left sitemap">
    <h3>Site Map for Static HTML File</h3>
    <div class="pages">
        <div class="category">
            <p class="category-title">Core</p>
            <ol>
                <li><a href="./landing-page.html">Landing Page</a></li>
                <li><a href="./no-search-results.html">No search results Page</a></li>
                <li><a href="./search.html">Search</a></li>
                <li><a href="./pdpbops.html">PDP BOPS AddTobag </a></li>
                <li><a href="./pdp.html">PDP FIIS AddTobag </a></li>
                <li><a href="./pdpnonpurchasable.html">PDP Non Purchasable</a></li>
                <li><a href="./pdpIstatus.html">PDP Istatus no FIIS</a></li>
                <li><a href="./pdp-drop-a-hint.html">PDP: drop a hint</a></li>
                <li><a href="./istatuswithfiis.html">PDP Istatus With FIIS</a></li>
                <li><a href="./browse-grid.html">Browse Grid Page</a></li>
                <li><a href="./store-locator.html">Store Locator Page</a></li>
                <li><a href="./store-event-details.html">Store Event Details Page</a></li>
                <li><a href="./store-list-page.html">Stores List Page</a></li>
                <li><a href="./hero-components-variations.html">Hero component variations</a></li>
                <li><a href="./gifting-landing-page.html">Gifting Landing Page</a></li>
                <li><a href="./pdp-marketing-component.html">PDP marketing component</a></li>
                <li><a href="./choose-your-language.html">Choose Language(CA)</a></li>
                <li><a href="./footer-policies.html">Footer policies</a></li>
                <li><a href="./site-index.html">Site Index</a></li>
                <li><a href="./footer-faqs.html">Footer FAQs</a></li>
                <li><a href="./booking-diamond-consultation.html">Booking Diamond Consultation</a></li>
            </ol>
        </div>
        <div class="category">
            <p class="category-title">BYO</p>
            <ol>

                <li><a href="./byo-landing-page.html">BYO Landing Page</a></li>
                <li><a href="./build-your-own.html">Build Your Own</a></li>
                <li><a href="./build-your-own.html?sku=28018142&itemTypeID=2">BYO landing charm without variation</a></li>
                <li><a href="./build-your-own.html?sku=GRP06201&membersku=29256233&itemTypeID=2">BYO landing charm with
                        variation</a></li>
                <li><a href="./build-your-own.html?sku=GRP00720&membersku=21774022&size=7.5%20in&mountTypes=4&itemTypeID=1&isBracelet=true">BYO
                        landing Chain with sizes</a></li>
                <li><a href="./build-your-own.html?sku=61243496&mountTypes=5&itemTypeID=1">BYO landing Chain</a></li>
            </ol>
        </div>
        <div class="category">
            <p class="category-title">Love and Engagement</p>
            <ol>
                <li><a href="./engagement.html">Engagement Browse Grid Page</a></li>
                <li><a href="./engagement-landing-page.html">Engagement Landing Page</a></li>
                <li><a href="./engagement-pdp.html">Engagement PDP(1A) Page</a></li>
                <li><a href="./engagement-pdp-2.html">Engagement PDP(2) Page</a></li>
            </ol>
        </div>
    </div>
</div>
