---
title: PDP Marketing component
type: page
layout: pdp
description: PDP Marketing component
sortOrder: 0
---

<div class="wrapper">
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.noOverlay
        }}
    </div>
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.absolutePositionMobileOnly
        }}
    </div>
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.noInsetMobileAbsoluleDesktop
        }}
    </div>
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.insetCenterDesktopOnly
        }}
    </div>
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.insetLeftDesktopOnly
        }}
    </div>
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.insetRightDesktopOnly
        }}
    </div>
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.insetMobileOnly
        }}
    </div>
    mobileInsetDesktopOverlay
    <div class="container">
        {{> text-with-image
            pdp-marketing-component.mobileInsetDesktopOverlay
        }}
    </div>
</div>
