---
title: Search Page
type: page
layout: grid
description: Search Page for DY
sortOrder: 0
---

<div class="search-page">
    <tiffany-grid type="SEARCH" nosearchconfig="noSearchConfig"></tiffany-grid>
    <tiffany-popular-product-carousel config="popularProductConfig"></tiffany-popular-product-carousel>
    <tiffany-three-tile-carousel config="threeTileCarouselConfig"></tiffany-three-tile-carousel>
</div>
