---
title: Site Index
type: page
layout: base
description: Site Index
sortOrder: 0
---

<div class="wrapper">
    <div class="site-index site-index__header">
        <h1>{{site-index.siteIndex.heading}}</h1>
    </div>
    {{#each site-index.siteIndex.items}}
        <div class="site-index site-index__container">
            <h4 class="site-index__container-header">{{subheading}}</h4>
        </div>
        <div class="site-index site-index__container">
            {{> site-index-content}}
        </div>
    {{/each}}

    <div class="site-index site-index__container">
        <div class="site-index__container-content container50x50">
            <div class="site-index__container-content-section">
                <div class="site-index site-index__container">
                    {{> site-index-content
                        site-index.twoColumn
                    }}
                </div>
            </div>
            <div class="site-index__container-content-section">
                <div class="site-index site-index__container">
                    {{> site-index-content
                        site-index.twoColumn
                    }}
                </div>
            </div>
        </div>
    </div>

</div>
