---
title: Store Locator
type: page
layout: store
description: Store Locator for App
sortOrder: 0
---

<div class="wrapper store-locator-page">

    <tiffany-store-search-bar></tiffany-store-search-bar>

    <tiffany-store-search-results></tiffany-store-search-results>

    <div class="container-centered">
        {{> store-information storeInformationConfig }}
    </div>

    <tiffany-upcoming-events config="upcomingEventsConfig" ctatarget="_blank" ctatext="Click here." imagepathprefix="tiffany.com" eventpath="tiffany.com"></tiffany-upcoming-events>

    <article class="container tiffany-badge container-centered">
        <div class="store-marketing-carousel image-left" data-marketing-carousel="true">
            {{#each store-locator.marketingContentCarousel}}
                {{> store-marketing-tile this isCarousel = "true"}}
            {{/each}}
        </div>
    </article>

    <div class="container container-centered">
        <div class="store-marketing-carousel image-right" data-marketing-carousel="true">
            {{#each store-locator.marketingContentCarousel1}}
                {{> store-marketing-tile this isCarousel = "true"}}
            {{/each}}
        </div>
    </div>

    <div class="container--2 store-twotile-marketing">
        <tiffany-marketing-carousel config="twoTileMarkettingConfig"></tiffany-marketing-carousel>
    </div>

    <div class="container container-centered">
        {{> store-marketing-tile store-locator.blueBoxCafe}}
    </div>

    <div class="container container-centered">
        {{> store-marketing-tile store-locator.patekPhilippe}}
    </div>

    <div>
        <tiffany-global-flagship config="globalFlagShipConfig"></tiffany-global-flagship>
    </div>
</div>
