<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="{{description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/bundle.components.css">
    <link rel="stylesheet" href="./css/bundle.globalStyles.css">
    <link rel="stylesheet" href="./css/bundle.cmsComponents.css">
    <link rel="stylesheet" href="./css/bundle.vueApp.css">
    
    <link rel="canonical" href="https://www.qa3.tiffany.com/engagement/shop/engagement-rings/yellow-gold/">

     <!-- <link rel="stylesheet" href="./css/components.css">
     <link rel="stylesheet" href="./css/react-components.css">  -->
     <script>
         var geoHeader = {"geoLocationCookieName":"geo-location-cookie"};
     </script>
</head>

<body data-comp-prefix="app-js__" class="tiffany-aem visual-spacing">
    <a href="#main" class="hide-from__screen skipToMain">Skip to main content</a>
    <div class="page-wrap">
        {{> header }}

        <main id="main" tabindex="-1" class="main-content">
            {% body %}
        </main>
        <tiffany-concierge-flyout emailRegex="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"></tiffany-concierge-flyout>
        {{> footer }}
    </div>
    <tiffany-hour-glass></tiffany-hour-glass>

    <script>
        window.dataLayer = {
            product: {
                quantity: '',
                sku: 25508327
            }
        };
    </script>

    <!-- <script src="//assets.adobedtm.com/launch-EN423c850b3a2c40aabda1d033b524b71b-development.min.js"></script> -->
    {{!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=SRQNpAIhR0i9M9sY3VjBsQBlSG5feRHO"></script> --}}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&client=gme-tiffany&region=us&language=en&libraries=geometry&channel=ecom-locations-map"></script>
    <script  type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script src="//media.richrelevance.com/rrserver/js/1.2/p13n.js"></script>
    <script src="./js/bundle.vendor.js"></script>
    <script src="./js/bundle.components.js"></script>
    <script src="./js/bundle.vueApp.js"></script>
    <script src="./js/bundle.reactApp.js"></script>

</body>
</html>
