<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="{{description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/bundle.components.css">
    <link rel="stylesheet" href="./css/bundle.globalStyles.css">
    <link rel="stylesheet" href="./css/bundle.cmsComponents.css">

</head>

<body data-comp-prefix="app-js__" class="tiffany-aem visual-spacing">
    <div class="page-wrap">

        <main id="main" tabindex="-1" class="main-content">
            {% body %}
        </main>

    </div>
    <!-- <link rel="stylesheet" href="./css/bundle.cmsComponents.css"> -->
    <link rel="stylesheet" href="./css/bundle.browseGrid.css">
    <link rel="stylesheet" href="./css/bundle.pdp.css">
    <link rel="stylesheet" href="./css/bundle.store.css">

    <script>
        window.dataLayer = {
        };
    </script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&client=gme-tiffany&region=us&language=en&libraries=geometry&channel=ecom-locations-map"></script>
    <script src="//media.richrelevance.com/rrserver/js/1.2/p13n.js"></script>
    <script src="./js/bundle.vendor.js"></script>
    <script src="./js/bundle.components.js"></script>
    <script src="./js/bundle.reactApp.js"></script>

</body>
</html>
