@import "../../../../stylesheets/keyframes";

.build-your-own {
    .product-tile {
        div[role="button"] {
            cursor: pointer;
        }

        &__body {
            border: none;
            padding: 0;
            background: transparent;
        }
    }

    &__canvas-container {
        @extend .tf-g__center;
        background-color: $grayshade;
        min-height: getUnitValue(45);

        @include MediaQueries($tablet-large-and-below) {
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: getUnitValue(30);
        }

        @include MediaQueries($desktop-and-above) {
            position: relative;
        }

        &.drawer-closed {
            @include MediaQueries($desktop-and-below) {
                position: relative;
            }
        }

    }

    &__container {
        @extend .tf-g__col;

        @include MediaQueries($desktop-and-below) {
            position: relative;
            display: flex;
            flex: 0 1 auto;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

    .filters-component {
        &.filters--sticky {
            &.no-border{
                border: none;
            }
        }
    }

    .tray-container {
        @extend .col__full;
        padding-left: 0;
        background: $snow;
        border-bottom: 4px solid $tiffanyBlue;
        &.tray-fixed {
            position: fixed;
            z-index: 9;
            @include MediaQueries($desktop-and-below) {
                z-index: 20;
            }
        }
        &.tray-transitioning {
            border-bottom: none;
        }

        @include MediaQueries($desktop-and-below) {
            padding: 0;
            border-bottom: 2px solid $tiffanyBlue;
        }

        &__header {
            @extend .tf-g, .tf-g__between;
            padding-left: getUnitValue(4.75);
            &.tray-transitioning {
                border-bottom: 4px solid $tiffanyBlue;
            }
            @include MediaQueries($desktop-and-below) {
                height: getUnitValue(5);
                padding: 0;
                border-bottom: none;
                &.tray-transitioning {
                    border-bottom: 2px solid $tiffanyBlue;
                }
            }

            &_title {
                @extend .display__inline-block;
                @include font($font-size-18, $font-weight-600, $black, 1.78, normal);
                @include font-family($font_santral_semi_bold);
                margin: auto 0;
                padding: getUnitValue(2) 0 getUnitValue(2) getUnitValue(2);

                @include MediaQueries($desktop-and-below) {
                    padding: getUnitValue(1) getUnitValue(2);
                    font-size: $font-size-12;
                    line-height: 2;
                    font-weight: $font-weight-500;
                    margin: 0;
                }
            }

            &-arrow {
                outline: none;
                background: transparent;
                border: none;
                font-size: $font-size-12;
                padding: 0 getUnitValue(2) 0;
                &:focus {
                    border: solid 1px $bondiBlue;
                }
            }

            &_button {
                @extend .btn;
                width: getUnitValue(33);
                @include MediaQueries($desktop-tablet-and-above) {
                    margin-bottom: getUnitValue(1);
                }

                &:not(.disabled) {
                    @extend .btn-primary;
                    padding: 0;
                    &:hover, &:active  {
                        .tray-container__header_button-text {
                            color: $black;
                        }
                    }
                }

                &:focus {
                    border: solid 2px $bondiBlue;
                    box-shadow: 0px 0px 0px 1px $black inset;
                    outline: none;
                    background: $black;
                }

                &-text {
                    @include font($font-size-14, $font-weight-normal, $black, 1.14, normal);
                    @include font-family($font_santral_semi_bold);
                    color: $white;
                    padding: 0;
                    outline: none;

                    &:focus {
                        color: $white;
                        outline: none;
                    }
                }

                &.disabled {
                    opacity: 0.1;
                    background: $black;
                    cursor: not-allowed;

                    &:hover {
                        color: $black;
                    }

                    &:focus {
                        outline: none;
                        opacity: 0.1
                    }

                    @include MediaQueries($desktop-and-below) {
                        display: none;
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    z-index: $component-mini-modal-zIndex;
                    margin: 0;
                }
            }
        }

        &__body {
            @extend .tf-g;
            height: getUnitValue(17);
            padding-left: getUnitValue(4.75);
            flex-wrap: nowrap;
            position: relative;
            overflow: hidden;

            &.hide-mobile {
                display: none;
                border-top: none;
            }

            @include MediaQueries($desktop-and-below) {
                border-top: 1px solid $whisper;
                height: getUnitValue(10);
                padding-left: 0;
            }

            &_leftaccordion {
                @extend .display__none;
                transition: all $byo-transition-time ease-out;
                width: getUnitValue(4);
                background: $tiffanyBlue;
                animation: slide-in-right $byo-transition-time ease-out forwards;
            }

            &_slide {
                font-size: $font-size-12;
                color: $black;
                background: transparent;
                margin: 0;
                border: none;
            }

            &.mobile-draggable {
                .tray-container__body_leftaccordion {
                    @include MediaQueries($desktop-and-below) {
                        display: flex;
                    }
                }

                .tray-container__body_fixture {
                    @extend .display__block;

                    @include MediaQueries($desktop-and-below) {
                        display: none;
                    }
                }

            }

            &.tray-closed {
                @include MediaQueries($desktop-and-above) {
                    opacity: 0;
                    visibility: hidden;
                    background: transparent;
                }
            }

            &_fixture {
                @extend .tf-g__center;
                cursor: pointer;
                padding: 0 getUnitValue(1);
                margin: auto 0;
                position: relative;

                &::after {
                    content: '';
                    float: right;
                    height: getUnitValue(12);
                    border-right: 1px solid $whisper;
                    top: 0;
                    position: absolute;
                    right: 0;
                    margin-top: getUnitValue(2);

                    @include MediaQueries($desktop-and-below) {
                        margin-top: 0;
                        height: getUnitValue(10);
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    padding: getUnitValue(1) 0 0;
                    margin: 0;
                }

                &-image {
                    border: none;
                    background: transparent;
                    padding: 0;

                    .keyboard--focussed & {
                        &:focus {
                            border: 1px solid $bondiBlue;
                        }
                    }

                    picture {
                        width: getUnitValue(12);
                        height: getUnitValue(12);
                        display: flex;
                        align-items: center;

                        @include MediaQueries($desktop-and-below) {
                            width: getUnitValue(7);
                            height: getUnitValue(7);
                            padding: 0;
                            margin: 0;
                        }
                        img {
                            @extend .col__full;
                        }
                    }

                }

                &-add {
                    width: getUnitValue(12);
                    height: getUnitValue(12);
                    font-size: $font-size-40;
                    border: none;
                    background: transparent;
                    padding: 0 getUnitValue(2);

                    .keyboard--focussed & {
                        &:focus {
                            border: 1px solid $bondiBlue;
                        }
                    }

                    @include MediaQueries($desktop-and-below) {
                        font-size: $font-size-24;
                        width: getUnitValue(3);
                        height: getUnitValue(3);
                        margin: getUnitValue(2);
                        padding: 0;
                    }
                }

                &-text {
                    @include font($font-size-12, $font-weight-light, $black, 2, normal);
                    @include font-family($font_santral_light);
                    text-decoration: underline;
                    padding-bottom: getUnitValue(3);
                    position: relative;
                    top: -12px;

                    @include MediaQueries($desktop-and-below) {
                        font-size: $font-size-8;
                        font-weight: $font-weight-normal;
                        padding: 0 0 getUnitValue(1);
                        top: auto;
                        bottom: 0;
                        line-height: 1;
                        width: 60px;
                        position: absolute;


                    }
                }
            }

            &_charms {
                @extend .col__full;
                max-width: calc(100% - #{getUnitValue(14)});

                @include MediaQueries($desktop-tablet-and-above) {
                    z-index: 9;
                }

                @include MediaQueries($desktop-and-below) {
                    max-width: calc(100% - 60px);
                }

                &.tray-ready {
                    max-width: calc(100% - #{getUnitValue(28)});

                    @include MediaQueries($desktop-and-below) {
                        max-width: calc(100% - #{getUnitValue(14)});
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    &.mobile-draggable {
                        max-width: calc(100% - #{getUnitValue(4)});
                    }
                }

                .slick-list {
                    .slick-track{
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                &-close {
                    @extend .hide;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: getUnitValue(1) getUnitValue(1) 0 0 ;
                    background: transparent;
                    border: none;
                    padding: 0;
                    font-size: $font-size-12;

                    .keyboard--focussed & {
                        &:focus {
                            border: 1px solid $bondiBlue;
                        }
                    }

                    @include MediaQueries($desktop-and-below) {
                        font-size: $font-size-12;
                    }
                }

                &-item {
                    position: relative;

                    &:focus {
                        outline: none;
                    }

                    &.selected-charm {
                        .tray-container__body_charms-close {
                            @extend .show;
                        }
                    }
                }

                &-button{
                    @extend .col__full;
                    background: transparent;
                    border: none;
                    padding: 0;
                    height: getUnitValue(15);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    @include MediaQueries($desktop-and-below) {
                        height: getUnitValue(8);
                        margin: getUnitValue(1) 0;
                    }

                    .keyboard--focussed & {
                        &:focus {
                            outline: none;
                            border: 1px solid $bondiBlue;
                        }
                    }
                }

                &-image {
                    height: getUnitValue(15);
                    margin: auto;

                    @include MediaQueries($desktop-and-below) {
                        height: getUnitValue(8);
                    }
                }

                &-empty {
                    padding: getUnitValue(4) 0;
                    margin: auto;
                    padding-left: getUnitValue(30);

                    &_image {
                        vertical-align: top;
                        padding: 0 getUnitValue(2) 0 0;

                        img {
                            width: 31.6px;
                        }
                    }

                    &_image,
                    &_text {
                        @extend .display__inline-block;
                    }

                    &_text {
                        @include font($font-size-14, $font-weight-normal, $black, 1.33, 0.6px);
                        @include font-family($font_santral_light);
                    }

                    @include MediaQueries($desktop-and-below) {
                        padding-left: getUnitValue(5);

                        &_text {
                                @include font($font-size-12, $font-weight-normal, $black, 1.29, normal);
                        }

                        &_image {
                            padding-right: getUnitValue(1);

                            img {
                                width: 19.9px;
                            }
                        }
                    }

                    @include MediaQueries($x-small) {
                        padding: getUnitValue(1) 0 getUnitValue(3) getUnitValue(2);

                        &_text {
                            width: 85%;
                        }
                    }
                }
            }
        }
    }

    .browse-grid {

        .product-tile {
            button.product-tile__body {
                border: none;
                padding: 0;
                outline: none;
                background: transparent;
            }
            &__body {
                cursor: pointer;
                box-sizing: border-box;

                &.no-outline {
                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                .keyboard--focussed & {
                    &:focus {
                        border: 2px solid $bondiBlue;
                        outline: none;
                    }
                }

                &:hover {
                    border: none;
                    outline: none;
                }
            }
            &__details {
                padding-left: getUnitValue(2);

                @include MediaQueries($desktop-and-below) {
                    &_name {
                        word-break: break-word;
                    }
                }
            }
        }

        .hover-container {
            @include MediaQueries($desktop-and-below) {
                position: fixed;
                top: 80px;
                width: 300px;
                height: 440px;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: $byo-modal-maxZIndex;
                border: 1px solid $warm-gray;
                margin: 0;

                &__overlay {
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 64px;
                    left: 0;
                    background-color: $dim-white;
                    opacity: .4;
                    z-index: $modal-maxZIndex;
                }
            }

            @include MediaQueries($desktop-tablet-landscape) {
                height: inherit;
            }

            &__item {
                @include MediaQueries($desktop-and-below) {
                    .image-section {
                        padding: 24px 46px 0;
                        picture {
                            min-width: auto;
                            min-height: auto;
                            width: 100%;
                            max-height: 160px;
                        }
                    }
                }

                .image-section {
                    picture {
                        img{
                            @extend .col__full;
                        }
                    }
                }

                &_button {
                    @extend .col__full;
                    margin: getUnitValue(2) getUnitValue(4) getUnitValue(4);

                    button.select-size__button {
                        @extend .btn-primary;
                        background: $black;
                        padding: getUnitValue(2) getUnitValue(3);

                        @include MediaQueries($desktop-tablet-landscape) {
                            padding: getUnitValue(2);
                        }

                        &:active {
                            box-shadow: none !important;
                            border: 1px solid $black !important;
                        }
                    }
                }

                button {
                    background: transparent;
                    border: none;
                    outline: none;
                    padding: 0;
                }

                &__slide-picture {
                    background: transparent;
                    border: none;
                    outline: none;
                    padding: 0;
                }

                &__title {
                    @extend .hide__desktop-and-below;
                    @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
                    @include font-family($font_santral_regular);
                    margin: getUnitValue(4) getUnitValue(4) getUnitValue(2);
                    text-align: left;
                }

                &__description {
                    max-height: none;
                    margin-bottom: getUnitValue(2);

                    @include MediaQueries($desktop-and-below) {
                        margin: getUnitValue(3) getUnitValue(6) getUnitValue(1);
                        height: auto;
                    }
                }

                &__customizable {
                    margin-bottom: getUnitValue(1);
                    @include MediaQueries($desktop-and-below) {
                        margin: 0 getUnitValue(6) getUnitValue(3);
                    }

                    .product-tile__new-title {
                        line-height: getUnitValue(2);
                    }

                    .wishlist {
                        height: getUnitValue(3);
                        width: getUnitValue(3);
                        top: 0;
                        .icon-Wishlist-Option-1 {
                            @extend .show__flex;
                        }
                    }
                }

                &__options {
                    padding-right: getUnitValue(1);
                    height: 316px;
                    overflow-y: auto;
                    margin: 0 getUnitValue(3) getUnitValue(3) getUnitValue(4);

                    @include MediaQueries($desktop-and-below) {
                        margin: 0 getUnitValue(5) getUnitValue(3) getUnitValue(6);
                    }

                    &::-webkit-scrollbar {
                        width: 2px;
                        background-color: $whisper;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $tiffanyBlue;
                    }

                    @include MediaQueries($desktop-and-below) {
                        height: 271px;
                    }

                    &-container {
                        @extend %grid-layout;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 0;
                    }

                    &-list {
                        padding: 10px 0;
                        @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
                        @include font-family($font_santral_regular);
                        height: 45px;
                        border-bottom: 1px solid $whisper;
                        border-right: 1px solid $whisper;
                        cursor: pointer;
                        &:nth-child(2n+1) {
                           border-left: 1px solid $whisper;
                        }

                        &:nth-child(1),
                        &:nth-child(2) {
                           border-top: 1px solid $whisper;
                        }

                        &:hover,
                        &.selected-list {
                            border: 1px solid $black;
                            background-color: $tiffanyBlue;
                        }
                    }
                }
                &_view-details {
                    margin: 0 getUnitValue(4) getUnitValue(4) getUnitValue(4);
                    width: calc(100% - 64px);
                    padding: 0;
                    border: none;

                    @include MediaQueries($desktop-and-below) {
                        width: calc(100% - 96px);
                        margin: 0 getUnitValue(6) getUnitValue(3);
                    }

                    &_btn {
                        background-color: $black !important;
                        color: $white;

                        &:hover {
                            opacity: .7;
                        }

                        &:active {
                            opacity: .85;
                        }

                        &:focus {
                            outline: 4px solid $filterColorImageBorder;
                            border: none;
                        }

                        &_text {
                            line-height: 28px;
                            color: $white;
                        }
                    }
                }
            }

            &--close {
                position: absolute;
                right: getUnitValue(2);
                top: getUnitValue(2);
                padding: 0;
                background: transparent;
                border: none;
            }
        }
    }
}

.start-creation {
    padding: getUnitValue(8) getUnitValue(12) getUnitValue(5);

    @include MediaQueries($desktop-and-below) {
        padding: getUnitValue(6) getUnitValue(4) getUnitValue(4);
    }

    &__heading, &__description {
        @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
        @include font-family($font_santral_regular);

        @include MediaQueries($desktop-and-below) {
            font-size: $font-size-14;
            line-height: 1.43;
        }
    }

    &__heading {
        padding-bottom: getUnitValue(2);
        font-size: $font-size-16;
        line-height: 1.5;
    }

    &__content {
        padding-bottom: getUnitValue(4);
    }

    &__buttons {
        &_cancel {
            @extend %btn,%btn-secondary;
            @include font($font-size-14, $font-weight-normal, $black, 1.14, false);
            @include font-family($font_santral_semi_bold);
            width: calc(50% - #{getUnitValue(1)});
            height: getUnitValue(8);
            background: transparent;
            margin-right: getUnitValue(1);
            padding: 0;
            border: solid 1px $black;
        }

        &_ok {
            @extend %btn,%btn-primary;
            @include font($font-size-14, $font-weight-normal, $white, 1.14, false);
            @include font-family($font_santral_semi_bold);
            background: $black;
            width: calc(50% - #{getUnitValue(1)});
            height: getUnitValue(8);
            padding: 0;
        }
    }

    &__close {
        font-size: $font-size-24;
        position: absolute;
        right: getUnitValue(3);
        top: getUnitValue(3);
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        .keyboard--focussed & {
            &:focus {
                border: solid 1px $bondiBlue;
            }
        }

        @include MediaQueries($desktop-and-below) {
            font-size: $font-size-16;
            right: getUnitValue(2);
            top: getUnitValue(2);
        }
    }
}

.clasp-message {

    &__content {
        @extend .tf-g, .tf-g__col;
    }

    &__note {
        @include font($font-size-16, false, $black, 1.5, false);
        @include font-family($font_santral_regular);
        padding-bottom: getUnitValue(2);

        @include MediaQueries($desktop-and-below) {
            padding: 0 getUnitValue(0.5) getUnitValue(2) getUnitValue(2);
        }
    }

    &__description {
        @include font($font-size-16, false, $black, 1.5, false);
        @include font-family($font_santral_regular);
        padding-bottom: getUnitValue(5);

        p {
            @include font($font-size-16, false, $black, 1.5, false);
            @include font-family($font_santral_regular);
        }

        @include MediaQueries($desktop-and-below) {
            padding: 0 getUnitValue(0.5) getUnitValue(4) getUnitValue(2);
            line-height: 1.43;
            font-size: $font-size-14;

            p {
                line-height: 1.43;
                @include font-family($font_santral_regular);
                font-size: $font-size-14;
            }
        }
    }

    &__image {
        padding-bottom: getUnitValue(5);
        display: flex;

        &_container {
            width: getUnitValue(13);
            height: getUnitValue(13);
            margin-right: getUnitValue(2);
            background-color: $snow;
        }

        &_details {
            &_title,
            &_size,
            &_price {
                @include font($font-size-12, false, $black, 1.33, false);
                @include font-family($font_santral_regular);
                padding-bottom: getUnitValue(1);
            }

            &_title {
                padding-top: getUnitValue(2);

                @include MediaQueries($desktop-and-below) {
                    padding-top: getUnitValue(1);
                }
            }
        }

        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(5) 0 getUnitValue(9);
            margin-left: getUnitValue(2);
            margin-right: getUnitValue(2);
            border-top: solid 1px $whisper;
        }
    }

    &__buttons {
        @extend .tf-g, .col__full;

        &_cancel {
            @extend .btn, .btn--outline, .tf-g--flex-equal;
            margin-right: getUnitValue(1);
            padding: 0;

            @include MediaQueries($desktop-and-below) {
                height: getUnitValue(6);
                margin-left: getUnitValue(2);
            }
        }

        &_ok {
            @extend .btn, .btn-primary, .tf-g--flex-equal;
            @include font-family($font_santral_semi_bold);
            padding: 0;

            &:active {
                box-shadow: none !important;
                border: 1px solid $black !important;
            }

            @include MediaQueries($desktop-and-below) {
                margin-right: getUnitValue(2);
            }
        }
    }

    &__close {
        position: absolute;
        padding: 0;
        top: getUnitValue(3);
        right: getUnitValue(3);
        cursor: pointer;
        border: 0;
        background-color: transparent;

        @include MediaQueries($desktop-and-below) {
            top: getUnitValue(2);
            right: getUnitValue(2);
        }
        .icon-Close {
            font-size: $font-size-24;

            @include MediaQueries($desktop-and-below) {
                font-size: 16px;
            }
        }
    }
}

.select-size {
    padding: getUnitValue(2) getUnitValue(4) getUnitValue(4);

    &__heading {
        @extend .tf-g__start;
        @include font($font-size-16, false, $black, 1.5, false);
        @include font-family($font_santral_regular);
        padding-bottom: getUnitValue(2);
    }

    &__back {
        @extend .btn, .col__full, .tf-g, .tf-g__no-wrap, .tf-g__start;
        @include font($font-size-16, false, $black, 1.5, false);
        @include font-family($font_santral_regular);
        padding: 0 0 getUnitValue(2) 0;
        text-align: left;
        background-color: transparent;

        .icon-Left {
            margin-right: getUnitValue(1);
            padding-top: getUnitValue(0.5);
        }
    }

    &__link {
        @extend .display__block;
        @include font($font-size-12, false, $black, 1.33, false);
        @include font-family($font_santral_regular);
        margin-bottom: getUnitValue(8);

        &.cta {
            text-decoration: underline;
        }
    }

    &__button {
        @extend .btn, .btn-primary, .display__inline-block, .col__full;
        @include font-family($font_santral_semi_bold);
        padding: getUnitValue(2);
        vertical-align: middle;

        &:active {
            box-shadow: none !important;
            border: 1px solid $black !important;
        }

        &_currency {
            float: left;
        }

        &_text{
            float: right;
        }

        &.disabled {
            background-color: $whisper;
            color: $white;

            &:hover, &:focus, &:active {
                outline: none;
                border: none !important;
            }
        }
    }

    &__error {
        @include font($font-size-10, false, $black, 1.6, false);
        @include font-family($font_santral_regular);
        padding-bottom: getUnitValue(1);
        color: $monza;
    }

    &__radio-group {
        margin-bottom: getUnitValue(2);
        max-height: getUnitValue(43);
        overflow-y: auto;
        -ms-overflow-style: none;

        @include MediaQueries($desktop-and-below) {
            .size-modal & {
                max-height: none;
            }
        }

        &::-webkit-scrollbar{
            display: none;
        }

        &_radio {
            @extend .display__inline-block, .col-6-12, .btn-secondary;

            @include font($font-size-16, false, $black, 1.5, false);
            @include font-family($font_santral_regular);
            text-align: center;
            max-width: 120px;
            height: getUnitValue(6);
            border: 1px solid $dim-white;
            box-sizing: border-box;
            cursor: pointer;
            padding: 12px 0;
            border-top-width: 1px;

            &:nth-child(1), &:nth-child(2) {
                border-top-width: 1px;
                border-bottom-width: inherit;
            }

            &:nth-child(even) {
                border-left-width: 0;
            }

            &.selected {
                background: $tiffanyBlue;
                border: 1px solid $black !important;
                box-shadow: inset 0 0 1px $black !important;
                box-sizing: border-box ;

                &:hover {
                    box-sizing: border-box !important;
                }
            }

            &:focus {
                border: 1px solid $black;
                box-sizing: border-box;
                box-shadow: inset 0 0 1px $black;
            }

            &:hover {
                &:nth-child(even),
                &:nth-child(odd) {
                    border: 1px solid $black;
                    box-sizing: border-box;
                    box-shadow: inset 0px 0px 1px $black;
                }
            }

            &.disabled {
                background: $whisper;
                border: 1px solid $whisper;

                &:active {
                    border: none !important;
                    outline: none !important;
                    box-shadow: none;
                }

                &:focus {
                    border: 1px solid $whisper;
                    outline: none !important;
                    box-shadow: none;
                }

                &:hover{
                    border: 1px solid $whisper !important;
                    box-sizing: border-box;
                    box-shadow: none;
                    border-top-width: 0px;
                }
            }

            &:active {
                border: 1px solid $black !important;
            }

            &.two-variations {
                border-bottom: 1px solid $whisper;
            }
        }
    }
    @include MediaQueries($desktop-and-below) {
        padding: getUnitValue(2);

        &__link {
            padding-bottom: getUnitValue(18);
        }
    }
}

.byo-hover-container {
    .select-size, .hover-container__item {
        @include MediaQueries($desktop-tablet-landscape) {
            .select-size__button, .hover-container__item_button {
                height: inherit !important;

                .select-size__button_currency {
                    float: left;
                    padding-top: getUnitValue(0.5);
                }

                .select-size__button_text {
                    float: right;
                    padding-top: getUnitValue(0.5);
                }

                @include MediaQueries($desktop-tablet-above-and-tablet-max){
                    font-size: 10px;
                    font-size: 1vw;
                }
            }
        }
        .hover-container__item_button {
            @include MediaQueries($desktop-tablet-above-and-tablet-max){
                margin: getUnitValue(3);
            }
        }
    }
}

.edit-charm {
    padding: 0;
    height: 100%;
    overflow: scroll;
    position: relative;

    &__container {
        @extend .tf-g;
        position: relative;

        @include MediaQueries($desktop-and-below) {
            min-height: 100%;
        }
    }

    &__image, &__group{
        @extend .col-6-12;
    }

    &__image {
        @include MediaQueries($xlarge-and-above) {
            width: 56.14%;
        }
    }

    &__group {
        @extend .tf-g, .tf-g__col, .tf-g__between;
        padding: getUnitValue(10) getUnitValue(9) 0 getUnitValue(9);
        margin-bottom: getUnitValue(2);
        max-height: inherit;
        overflow-y: hidden;
        position: relative;

        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(6) getUnitValue(4) getUnitValue(4);
            width: 100%;
        }

        @include MediaQueries($desktop-tablet-above-and-tablet-max) {
            padding-left: getUnitValue(4);
            padding-right: getUnitValue(4);
        }

        @include MediaQueries($xlarge-and-above) {
            width: 43.7%;
        }

        &-heading {
            @include font($font-size-18, $font-weight-normal, $black, 1.33, false);
            @include font-family($font_santral_semi_bold);
            padding-bottom: getUnitValue(5);

            @include MediaQueries($desktop-and-below) {
                @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
                @include font-family($font_santral_regular);
                padding-bottom: getUnitValue(2);
            }
        }

        &-body {
            max-height: getUnitValue(45);
            overflow-y: auto;
            margin-bottom: getUnitValue(3);

            @include MediaQueries($desktop-and-below) {
                margin-bottom: getUnitValue(2);
            }
        }

        &-radio {
            @extend .col-6-12;
            max-width: initial;

            @include MediaQueries($desktop-and-below) {
                max-width: 100%;
            }
        }

        &-cancel {
            @extend .btn, .btn--outline, .tf-g--flex-equal;
            width: calc(50% - #{getUnitValue(1)});
            margin-right: getUnitValue(1);
            border: 1px solid $black;
            height: getUnitValue(7);
        }

        &-change {
            @extend .btn, .btn-primary;
            @include font-family($font_santral_semi_bold);
            width: 50%;
            height: getUnitValue(7);
            padding: 0;

            &.disabled {
                background-color: $whisper;
                color: $white;

                &:focus {
                    outline: none;
                    border: none;
                }
            }

            @include MediaQueries($desktop-and-below) {
                width: 100%;
            }
        }

        &-done {
            @extend .col-6-12;
        }

        &-text {
            float: none;
        }
    }

    &__footer{
        &-close {
            position: absolute;
            top: getUnitValue(3);
            font-size: $font-size-18;
            right: getUnitValue(3);
            background: transparent;
            outline: none;
            border: none;
            padding: 0;

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-18;
                right: getUnitValue(2);
                top: getUnitValue(2);
            }
        }
    }
}

.select-chain-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(-100%);
}

.select-chain-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0%);
    transition: all 1000ms ease-out;
}

.select-chain-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
}

.select-chain-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateY(-100%);
    transition: all 1000ms ease-out;
}

.show-grid-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(100%);
}

.show-grid-enter-active {
    opacity: 1;
    transform: scale(1) translateY(64px);
    transition: all 1000ms ease-out;
}

.show-grid-exit {
    opacity: 1;
    transform: scale(1) translateY(64px);
}

.show-grid-exit-active {
    opacity: 0.01;
    transform: scale(0.9) translateY(100%);
    transition: all 1000ms ease-out;
}

.byo-container {
    .filters--sticky {
        top: 268px !important;
        @include MediaQueries($desktop-and-below) {
            top: 215px !important;
        }
    }
}

.byo-grid-page {
    @extend .byo-container;
    min-height: getUnitValue(50);

    .grid-page__grid-holder {
        .grid-page__pagination {
            margin-top: 0;
            @include MediaQueries($desktop-tablet-and-above) {
                display: none !important;
            }
        }
        .marketing-product-tiles {
            margin-top: 0;
        }
    }
}

.mobile-tray-collapse + .byo-grid-page {
    .filters--sticky {
        top: 120px !important;
    }

    .grid-page__grid-holder {
        .marketing-product-tiles {
            margin-top: 0;
        }
    }

    @include MediaQueries($desktop-and-below) {
        .filters--sticky {
            top: 88px !important;
        }
    }
}


.tray-drop-zone {
    @extend .col-setting;
    height: calc(100% + 100px);
    width: 100%;
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 30;
}

.tray-drop-zone-placeholder {
    @extend .col-setting;
    width: getUnitValue(14);
    height: 100%;
}

header + main {
    .build-your-own__canvas-container {
        height: calc(100vh - #{getUnitValue(34)});

        @include MediaQueries($desktop-and-below) {
            height: calc(100vh - #{getUnitValue(21)});
        }
    }
}

.global-banner + header + main, .global-banner + header + .hide + main {
    .build-your-own__canvas-container {
        height: calc(100vh - #{getUnitValue(40)});

        @include MediaQueries($desktop-and-below) {
            height: calc(100vh - #{getUnitValue(30)});
        }

        @include MediaQueries($mobile) {
            height: calc(100vh - #{getUnitValue(40)});
        }
    }
}

.global-banner--hide + header + main, .hide + header + main {
    .build-your-own__canvas-container {
        height: calc(100vh - #{getUnitValue(34)});

        @include MediaQueries($desktop-and-below) {
            height: calc(100vh - #{getUnitValue(21)});
        }
    }
}
