@import "../../../../stylesheets/keyframes";

.build-your-own {
    .select-material {
        @extend .tf-g__center;
        padding-top: getUnitValue(3);

        &__heading {
            @extend .h2;

            @include MediaQueries($desktop-and-below) {
                padding-bottom: getUnitValue(1);
                font-size: $font-size-22;
                line-height: 1.09;
            }
        }

        &__sub-heading {
            @include font($font-size-24, false, $black, 2, false);
            @include font-family($font_sterling_display_roman);
            padding-bottom: getUnitValue(3);

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-14;
                line-height: 1.79;
                padding-bottom: getUnitValue(2);
            }
        }

        &__radio-group {
            @extend .tf-g, .tf-g__center;
            padding-bottom: getUnitValue(4);

            @include MediaQueries($desktop-and-below) {
                padding-bottom: getUnitValue(2);
            }

            &_radio {
                @include font($font-size-18, false, $black, 0.89, false);
                @include font-family($font_santral_regular);
                padding: getUnitValue(2.25) 0;
                min-width: getUnitValue(30);
                border: solid 1px $black;
                height: getUnitValue(7);
                margin: auto 0;
                align-self: center;
                cursor: pointer;

                &.selected {
                    border: solid 2px $black;

                    @include MediaQueries($desktop-and-below) {
                        border: solid 2px $black;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                &.disabled {

                    &:first-child {
                        border-right: 0;
                    }

                    &:last-child {
                        border-left: 0;
                    }
                }

                .keyboard--focussed & {
                    &:focus {
                        border: solid 2px $bondiBlue;
                        box-shadow: 0px 0px 0px 1px $black inset;
                        outline: none;
                    }
                }

                &:active {
                    outline: none;
                }

                @include MediaQueries($desktop-and-below) {
                    font-size: $font-size-12;
                    line-height: 1.33;
                    border-width: 1px;
                    min-width: getUnitValue(20.5);
                    height: getUnitValue(5);
                    padding: getUnitValue(1.25) 0;
                }

                @include MediaQueries($mobile-small) {
                    min-width: getUnitValue(17.75);
                }

                &_count {
                    @include font($font-size-14, false, $black, 1.14, false);
                    @include font-family($font_santral_regular);
                    font-weight: $font-weight-normal;
                    padding-left: getUnitValue(1);

                    @include MediaQueries($desktop-and-below) {
                        font-size: $font-size-10;
                        line-height: 1.78
                    }
                }
            }
        }

        &__description {
            @include font($font-size-12, false, $boulder, 1.33, false);
            @include font-family($font_santral_regular);
            padding-bottom: getUnitValue(3);
            @include MediaQueries($desktop-and-below){
                padding-bottom: getUnitValue(2);
            }

            &_btn {
                @include font($font-size-12, false, $boulder, 1.33, false);
                @include font-family($font_santral_regular);
                text-decoration: underline;
                border: none;
                padding: 0;
                background: transparent;
                .keyboard--focussed & {
                    &:focus{
                        border: 2px solid $bondiBlue;
                    }
                }
            }
        }

        &__filters {
            @extend .tf-g, .tf-g__center, .tf-g__middle;
            padding-bottom: getUnitValue(4);

            &_label {
                padding-right: getUnitValue(1);
                @include font($font-size-14, false, $black, 1, false);
                @include font-family($font_santral_regular);
                color: $dusty-gray;
            }

            &_list {
                @extend .tiffany-blue-custom-scroll-bar;
                display: flex;
                &_option {

                    &_label {
                        margin-right: getUnitValue(5);
                        cursor: pointer;
                        display: flex;

                        &.selected {
                            &:before {
                                content: '';
                                display: block;
                                width: getUnitValue(1);
                                height: getUnitValue(1);
                                background: $bondiBlue;
                                margin: auto getUnitValue(0.5) auto 0;
                                border-radius: 100%;
                            }
                            .select-material__filters_list_option_label_title {
                                @include font-family($font_santral_semi_bold);

                                .ie & {
                                    margin: 0;
                                }
                            }
                        }

                        .keyboard--focussed & {
                            &:focus {
                                border: solid 1px $bondiBlue;
                                outline: none;
                            }
                        }

                        &_color {
                            padding-right: getUnitValue(1);
                            line-height: 1.14;

                            &.no-image {
                                width: 0;
                                padding: 0;
                            }

                            img {
                                width: getUnitValue(2);
                                height: getUnitValue(2);
                                border-radius: 50%;
                            }

                            &.selected {
                                img {
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid $black;
                                    padding: 1px;
                                }
                            }
                        }

                        &_title {
                            @include font($font-size-14, $font-weight-normal, $black, 1.14, false);
                            @include font-family($font_santral_regular);
                            align-self: center;
                        }
                    }
                }
                .ps {
                    display: flex;
                    .ps__rail-y {
                        @extend .hide;
                    }
                    @include MediaQueries($desktop-and-above) {
                        .ps__rail-x {
                            display: none !important;
                        }
                    }
                }
            }

            @include MediaQueries($desktop-and-below) {
                padding: 0 0 getUnitValue(3) getUnitValue(2);
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
                display: flex;
                justify-content: center;

                &_label {
                    @include font($font-size-12, false, $black, 1.17, false);
                    color: $dusty-gray;
                    padding-right: getUnitValue(3);
                }

                &_list {

                    @include MediaQueries($x-small) {
                        width: calc(100vw - 120px);
                        overflow: hidden;
                    }

                    &_option {
                        &_label {
                            margin-right: getUnitValue(2);
                            &_title {
                                @include font($font-size-12, false, $black, 1.33, false);
                            }
                        }
                    }
                    .ps {
                        padding-bottom: 4px;
                    }
                }
            }

            @include MediaQueries($tablet-large-and-below) {
                &_label {
                    display: inline-block !important;
                }
            }

            @include MediaQueries($x-small) {
                justify-content: left;
            }
        }

        &__carousel {
            padding-bottom: getUnitValue(5);
            max-width: getUnitValue(200);
            margin: 0 auto;

            .slick-next,
            .slick-prev {
                top: 0;
                margin: auto;
                bottom: 0;
                width: getUnitValue(7);
                height: getUnitValue(7);

                .keyboard--focussed & {
                    &:focus{
                        border: 1px solid $bondiBlue;
                        background-color: $white;
                    }
                }
            }

            .product-tile {
                padding: 0 getUnitValue(1) 0 0;
                border: 0;
                box-sizing: border-box;
                background: transparent;

                @include MediaQueries($above-large-desktop) {
                    width: 100%;
                }

                &__body {
                    .keyboard--focussed & {
                        &:focus {
                            border: 2px solid $bondiBlue;
                            outline: none;
                        }
                    }
                }

                &__details {
                    @extend .display__block;
                    @include font($font-size-12, false, $black, 1.14, false);
                    @include font-family($font_santral_regular);
                    padding-left: getUnitValue(2);

                    &_name {
                        padding-bottom: getUnitValue(1);
                        font-size: $font-size-14;
                        font-weight: $font-weight-normal;
                    }

                    &_price {
                        @include font($font-size-12, false, $black, 1.33, false);
                        font-weight: $font-weight-normal;
                    }

                    @include MediaQueries($desktop-and-below) {
                        &_price {
                            color: $boulder;
                        }
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    &__details {
                        &_name {
                            font-size: $font-size-12;
                            margin-top: getUnitValue(5);
                        }

                        &_price {
                            color: $boulder;
                        }
                    }

                    .tile-buttons {
                        padding: 0 getUnitValue(2);
                        margin-top: getUnitValue(-4);
                        min-height: auto;
                    }
                }
            }
        }

        &__errors {
            padding-top: getUnitValue(6);
            max-width: getUnitValue(45);
            margin: auto;
            text-align: center;

            @include MediaQueries($desktop-and-below) {
                max-width: 100%;
                padding-left: getUnitValue(4);
                padding-right: getUnitValue(4);
            }

            &_heading {
                @include font($font-size-16, false, $crimson-red, 2, false);
                @include font-family($font_santral_semi_bold);
                text-align: center;
            }

            &_description {
                padding-top: getUnitValue(3);
                @include font($font-size-16, $font-weight-light, $black, 1.5, false);
                @include font-family($font_santral_light);

                @include MediaQueries($desktop-and-below) {
                    padding-top: getUnitValue(2);
                }
            }
            &_link {
                @extend .display__inline-block;
                margin: getUnitValue(3) 0;
                @include font($font-size-16, false, $black, 1.5, false);
                @include font-family($font_santral_semi_bold);
            }
        }
    }
}

.select-material__size-modal {
    .close-modal {
        .keyboard--focussed & {
            &:focus {
                border: solid 1px $bondiBlue;
            }
        }
    }
}