// ****************************************
// pdp-sales-service
// ****************************************

.pdp-sales-service {
  @include MediaQueries($desktop-and-above) {
    padding-top: getUnitValue(1);
    padding-bottom: getUnitValue(3);
  }

  @include MediaQueries($desktop-and-below) {
    padding-bottom: getUnitValue(2);
  }

  &__container {
    @extend .tf-g;

    &_icon.cta {

      img {
        width: getUnitValue(2);
        height: getUnitValue(2);
      }

      &:hover {
        background: none;
      }
    }

    &_label {
      @extend .col-4-12, .col-sm__5-12;
      @include font($font-size-12, $font-weight-600, $black, 2, normal);
      @include font-family($font_santral_semi_bold);
    }

    p.pdp-sales-service__container_text {
      @extend .col-8-12, .col-sm__7-12;
      @include font($font-size-12, $font-weight-light, $black, 2, normal);
      @include font-family($font_santral_light);
    }
  }
}
.tiffany-inline-modal.supplement-product-info {

  position: absolute;
  background-color: transparent;
  z-index: $inline-modal-zIndex-mobile !important;
  @include MediaQueries($desktop-and-below) {
    top: 0 !important;
    height: 100% !important;
  }

  .ios & {
    -webkit-overflow-scrolling: touch;
  }
}

.supplement-info {
  @extend .col__full;
  background-color: $white;
  padding: getUnitValue(5) getUnitValue(6.5) getUnitValue(8);

  @include MediaQueries($desktop-and-below) {
    padding: getUnitValue(8) getUnitValue(2) 0;
  }

  h4.supplement-info_heading {
    font-size: $font-size-20;
    font-weight: $font-weight-600;
    line-height: 1.4;
    padding-bottom: getUnitValue(1);
    border-bottom: 2px solid $tiffanyBlue;
  }

  &_gemological-cta {

    margin-top: getUnitValue(4);

    a.cta {
      font-size: $font-size-12;
      line-height: 2;
    }
  }

  &_container {
    @extend .tf-g;

    &_item-1 {
      @extend .col-6-12, .col-sm__full;
      @include MediaQueries($desktop-and-above) {
        padding-right: getUnitValue(7);
      }

    }

    &_item-2 {
      @extend .col-6-12, .col-sm__full;
    }
  }



  &_wrapper {
    padding-top: getUnitValue(4);
    &_heading {
      padding-bottom: getUnitValue(2);

      h5 {
        font-weight: $font-weight-600;
        padding-bottom: getUnitValue(2);
        border-bottom: 1px solid $black;
      }
    }

    &_item {
      @extend .tf-g;

      &_label {
        @extend .col-5-12, .col-sm__6-12;
        @include font($font-size-16, $font-weight-600, $black, 1.5, normal);
        @include font-family($font_santral_semi_bold);
        word-break: break-word;
      }

      p.supplement-info_wrapper_item_text {
        @extend .col-7-12, .col-sm__6-12;
        @include font($font-size-16, $font-weight-light, $black, 1.5, normal);
        @include font-family($font_santral_light);
        word-break: break-word;
      }

      .sku_memo_content {
        width: 100% !important;
      }
    }
  }
}

.supplement-product-info-style {
  position: fixed;
  transition: all 1s ease;
  -ms-transition: all 1s ease;
  background-color: $white;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.supplement-product-info-modal-animation {
  &_enter{
      @extend .supplement-product-info-style;
      left: 100vw;
      &-active {
         @extend .supplement-product-info-style;
          left: 0;
      }
      &-done {
          @extend .supplement-product-info-style;
          position: absolute;
          top: 0 !important;
          left: 0;
          transition: all 0s;
          height: 100% !important;

          & .tiffany-inline-modal--close {
              background-color: $white;
              right: getUnitValue(5);
              img, svg {
                  width: getUnitValue(3);
                  height: getUnitValue(3);
              }

              @include MediaQueries($above-tablet-and-below-desktop) {
                  right: getUnitValue(3);
              }
          }
      }
  }
  &_exit{
      @extend .supplement-product-info-style;
      position: absolute;
      top: 0 !important;
      left: 0;
      
      &-active {
          @extend .supplement-product-info-style;
          position: absolute;
          top: 0 !important;
          left: 100vw;
          height: 100% !important;
      }
      &-done {
          @extend .supplement-product-info-style;
          left: 100vw;
      }
  }
}
