<article class="chat-overlay app-js__chat-overlay">
    <h2 class="chat-overlay__title">{{atYourService.heading}}</h2>
    <div class="chat-overlay__description">
        <p>{{atYourService.line1}}</p>
        <p>{{atYourService.line2}}</p>
    </div>
    <button class="btn-primary chat-overlay__chat-btn"> 
        {{atYourService.chatLabel}}
    </button>
    <button class="btn chat-overlay__close-btn" aria-label="Click to close"> 
        <img src="//media.tiffany.com/is/content/tiffanydm/close-1?wid=48&hei=48" alt="close button" />
    </button>
</article>
