.diamond-guide {
  @extend .container, .tf-g, .tf-g__center, .col__full;

  .grid-page & {
    padding: 0;
  }

  .content-tile {

    .heading {
      font-size: $font-size-40;
    }
  }

  &_tile1 {
    width: 50%;
    position: relative;

    @include MediaQueries($below-desktop-tablet) {
      width: 100%;
    }
    .content-tile {
      @include MediaQueries($desktop-and-below) {
        padding-top: getUnitValue(2);
        padding-bottom: getUnitValue(7);
      }
    }

  }

  &_tile2 {
    width: 50%;
    position: relative;

    @include MediaQueries($below-desktop-tablet) {
      width: 100%;
    }
    .content-tile {
      position: absolute;

      @include MediaQueries($desktop-and-above) {
        left: 15%;
        bottom: getUnitValue(2);
        right: 15%;
      }

      @include MediaQueries($desktop-and-below) {
        left: getUnitValue(2);
        bottom: getUnitValue(5);
        right: getUnitValue(5);
      }
    }
  }

  .content-tile {
    @include MediaQueries($desktop-tablet-above-and-mini-desktop){
      position: relative;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      padding: 8px 8% !important;
      text-align: left !important;
    }
  }

  .position-left {

    @include MediaQueries($desktop-and-above) {
      padding-right: 4px;
    }

  }

  .position-right {

    @include MediaQueries($desktop-and-above) {
      padding-left: 4px;
    }

  }

  .diamond-guide-foreground-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: getUnitValue(7);

    img {
      margin: 0 auto;
    }
  }

  .picture-wrapper {
    > div {
      width: 100%;
    }
    @include MediaQueries($desktop-and-below) {
      position: relative;
    }
  }

  .tile-wrapper {
    @include MediaQueries($desktop-and-above) {
      position: relative;
    }
  }

  .slick-slider {
    .slick-next,
    .slick-prev {
      height: getUnitValue(7);
      width: getUnitValue(7);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
      &:focus {
        border: 1px solid $tiffanyBlue;
      }
    }
    .slick-next {
      right: 0;
    }

    .slick-track {

      .slick-slide {
        @include MediaQueries($mobile) {

          padding-left: getUnitValue(1);

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}
