/**
* FullWidthShoppableTile Component
*/
.full-width-shoppable-tile{

    .ie & {
        width: 100%;
    }

    margin-top: getUnitValue(7);
    margin-bottom: getUnitValue(7);

    &__horizontal-line {
        border-top: 1px solid $greyNickel;
        margin-left: getUnitValue(11);
        margin-right: getUnitValue(15);
    }

    @include MediaQueries($tablet-and-below) {
        &__horizontal-line {
            margin: 0 getUnitValue(2);

            &:first-child {
                padding-bottom: getUnitValue(3);
            }
        }
    }

    &__container{

        @extend .tf-g, .container;
        padding-top: getUnitValue(10);
        padding-bottom: getUnitValue(10);

        @include MediaQueries($tablet-and-below) {
            padding-top: 0;
            padding-bottom: getUnitValue(5);

            .text-with-image-marketing-carousel {

                .content-tile {
                    justify-content: flex-start;
                    text-align: left;

                    .heading{
                        font-size: $font-size-32;
                    }

                }

            }
        }

        &__tile {

            @extend .col-6-12, .col-md__full, .col-sm__full;

            .left-element {
                height: 100%;
                .text-with-image-marketing-carousel {
                    height: 100%;
                    .image-item {
                        height: 100%;
                        > div {
                            height: 100%;
                            position: relative;
                        }
                    }
                }
            }

            .text-with-image-marketing-carousel{
                padding: 0 getUnitValue(8) 0 getUnitValue(9) !important;
                .content-item {

                    div {
                        &:nth-of-type(2) {
                            padding-top: getUnitValue(2);
                        }
                    }

                    .content-tile {
                        padding: 0;
                    }
                }

                @include MediaQueries($tablet-and-below) {
                    padding: 0 0 getUnitValue(1) 0 !important;
                    .content-item {
                        .content-tile {
                            padding: 0;
                        }
                    }
                }
            }

            @include MediaQueries($tablet-and-below) {
                .product-tile {
                    padding-left:getUnitValue(1);
                }
            }
        }

        &__grid {

            @extend .tf-g;

            .shoppable-product-tile {
                @extend .display__inline-block;
                @extend .col-6-12;
                max-width: getUnitValue(46);
                max-height: getUnitValue(46);
                padding-left: getUnitValue(1);
                padding-bottom: getUnitValue(1);
            }
        }
    }
}
