.flyout-items {

    &:first-child .flyout-items_product {
        padding-top: 0;
    }

    &.flyout-bag-items{
        opacity: 0;
        animation: fade-in 1000ms ease forwards , bottom-to-top 1000ms ease forwards;
    }

    &_product {
        padding: getUnitValue(4) 0;
        margin-right: 6px;
        border-bottom: 1px solid $tiffanyBlue;

        .first-col {
            flex-basis: getUnitValue(21);

            .ie & {
                flex-basis: auto;

                .product-image {
                    width: 168px;
                }
            }

            &-image {
                .keyboard--focussed & {
                    &:focus img {
                        border: 2px solid $bondiBlue;
                        opacity: 1;
                    }
                }
            }
        }

        .second-col {
            flex-basis: getUnitValue(29);
            padding-left: getUnitValue(3);

            .product-title {
                @include font-family($font_sterling_display_roman);
            }

            .pull-up {
                .product-price {
                    font-weight: $font-weight-light;
                    font-size: $font-size-12;
                    padding-top: getUnitValue(1);
                }
            }

            .pull-down {
                span {
                    line-height: 1.5;
                }

                .icon-dropdown-right:before {
                    font-size: 0.5rem;
                }
            }

            a.view-details-cta.cta {
                font-size: $font-size-12;
                line-height: 2;
                @include font-family($font_santral_regular);
            }

            .product-quantity, .product-remove {
                margin-bottom: getUnitValue(2);

                &__item.text {
                    @include font-family($font_santral_light);
                    font-size: $font-size-12;
                }
            }

            .product-remove{
                margin-bottom: 0;

                &__item:hover{
                    cursor: pointer;

                    &.text {
                        cursor: auto;
                    }
                }
            }

            .product-quantity__item:hover {
                cursor: default;

                &.text {
                    cursor: auto;
                }
                
                &.hover-cta {
                    cursor: pointer;

                    &.text {
                        cursor: auto;
                    }
                }
            }

            .no-addtobag{
                margin-bottom: getUnitValue(4);
                .shoppingbag-flyout-open & {
                    margin-bottom: 0;
                }
            }

            a.show__inline.cta,
            a.view-details-cta.cta,
            .product-quantity__item {
                .keyboard--focussed & {
                    &:focus {
                        border: 2px solid $bondiBlue;
                        opacity: 1;
                    }
                }
            }
        }

    }

    $items: 20;

    @for $i from 0 through $items {

        &.bag-item--#{$i} {
            animation-delay: calc((#{$i} * 200ms) + 550ms);
        }
    }
}
