.beauty-tile {
    @include MediaQueries($desktop-and-above) {
        padding-left: getUnitValue(13);
    }

    &__main-container {
        @extend .tf-g;
    }

    &__left {
        @extend %grid-layout, .col-9-12;
        grid-template-columns: repeat(3,1fr);
        order: 0;

        .content-tile {
            position: absolute;
            top: getUnitValue(8);
            left: getUnitValue(10);

            @include MediaQueries($desktop-and-above) {
                &.white-label-text {
                    .heading, .description, .cta-content, .icon-dropdown-right:before {
                        color: $white !important;
                    }
                }
            }

            .heading {
                font-size: $font-size-40;
                line-height: 1;
                padding-bottom: getUnitValue(3);

                .visual-spacing & {
                    padding-bottom: 14px;
                }

                @include MediaQueries($tablet-and-below) {
                    padding-bottom: 14px;
                }
            }
            .description {
                font-size: $font-size-14;
                line-height: 1.71;
            }
        }
    }

    &__right {
        order: 1;
        @extend .col-3-12;
    }

    &__beauty-tile {
        background: $snow;

        &-img {
            width: 100%;
            picture {
                width: 100%;

                img {
                    width: 100% !important;
                }
            }
        }

        > a {
            @extend .display__block, .col__full;

            .content-tile {
                padding-right: getUnitValue(6);
            }
        }
    }

    .product-tile {
        &__details {
            @include MediaQueries($tablet-and-below)
            {
                background: $white;
                padding-left: getUnitValue(3);
            }
        }
    }

    &__read-more {
        @extend .col__full;
        text-align: center;
        margin-top: getUnitValue(3);

        &-btn {
            background: $transparent;

            .icon-dropdown-down, .icon-dropdown-up {
                padding-left: getUnitValue(1);
            }
            .icon-Right {
                font-size: $font-size-10;
                padding-left: getUnitValue(1); 
            }
        }
        a.cta {
            font-size: $font-size-12;
            line-height: 2
        }
    }

    @include MediaQueries($tablet-and-below) {
        .slick-initialized {
            .slick-slide {
                padding-right: getUnitValue(1);

                .content-tile {
                    .heading {
                        padding-top: getUnitValue(2);
                        padding-bottom: getUnitValue(1.75);
                    }
                }
            }
        }
    }
}
