// ****************************************
// content-tile
// ****************************************

.content-tile {
    padding-bottom: getUnitValue(2);
    .tiffany-rte {
        padding-bottom: getUnitValue(2);
        h1, h2, h3, p {
            span {
                @include font-family($font_sterling_display_roman);

                &.header1 {
                    @include font($font-size-56, $font-weight-normal, $black, 1.14, false);
                    @include font-family($font_sterling_display_roman);
                    @include MediaQueries($mobile) {
                        @include font($font-size-32, $font-weight-normal, $black, 1.14, false);
                    }
                }

                &.header2 {
                    @include font($font-size-40, $font-weight-normal, $black, 1.2, false);
                    @include font-family($font_sterling_display_roman);
                    @include MediaQueries($mobile) {
                        @include font($font-size-32, $font-weight-normal, $black, 1.2, false);
                    }
                }

                &.header3 {
                    @include font($font-size-32, $font-weight-normal, $black, 1.25, false);
                    @include font-family($font_sterling_display_roman);
                }
            }
        }

        h4, h5, p {
            span {
                @include font-family($font_santral_semi_bold);

                &.header4 {
                    @include font($font-size-24, false, $black, 1.33, false);
                    @include MediaQueries($mobile) {
                        @include font($font-size-32, $font-weight-normal, $black, 1.33, false);
                    }
                }

                &.header5 {
                    @include font($font-size-16, false, $black, 1.5, false);
                    @include MediaQueries($mobile) {
                        @include font($font-size-32, $font-weight-normal, $black, 1.5, false);
                    }
                }
            }
        }
        p {
            font-size: $font-size-14;
        }

    }
    .heading, .description {
        padding-bottom: getUnitValue(2);

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(1);
        }

        .tiffany-rte {
            padding-bottom: getUnitValue(0);
        }
    }
    .cta {

        .icon-dropdown-right:before {
            padding-left: getUnitValue(1);
        }

        &.white-label {
            @include MediaQueries($desktop-and-above) {
                .icon-dropdown-right:before {
                    color: $white;
                }
            }
        }
    }

    &__inset-text {
        z-index: 11!important;
        @include MediaQueries($desktop-and-above) {
            width: auto !important;
            position: relative !important;
            display: block !important;
            background: $white;
            margin: getUnitValue(-7) auto 0;
            padding: getUnitValue(3) getUnitValue(10) getUnitValue(3) getUnitValue(10) ;
            min-width: 35%;
            max-width: 50%;
        }
    }

    &__mobile_inset-text {
        z-index: 11!important;
        @include MediaQueries($desktop-and-below) {
            width: 100% !important;
            position: relative !important;
            display: block !important;
            background: $white;
            margin-top: getUnitValue(-4);
            margin-left: getUnitValue(3);
            margin-right: getUnitValue(3);
            padding: getUnitValue(2) !important;

            .inset-left {
                text-align: left !important;
            }

            .inset-center & {
                text-align: center !important;
            }

            .inset-right & {
                text-align: right !important;
            }
        }
    }

    &__fifty_fiftyinset-text {
        z-index: 11!important;

        .browse-grid-header {
            line-height: 1.25;
            padding-top: getUnitValue(2);
        }

        @include MediaQueries($desktop-and-above) {
            width: auto !important;
            position: relative !important;
            display: block !important;
            background: $white;
            margin-top: getUnitValue(-7);
            padding: getUnitValue(2) getUnitValue(8) getUnitValue(8) getUnitValue(8) ;
            margin-left: getUnitValue(3);
            margin-right: getUnitValue(3);
        }

        @include MediaQueries($desktop-and-below) {
            width: auto !important;
            position: relative !important;
            display: block !important;
            background: $white;
            padding: getUnitValue(8);
            margin: getUnitValue(-7) 0;
            margin-bottom: 0;
        }

        @include MediaQueries($tablet-and-below) {
            width: auto !important;
            position: relative !important;
            display: block !important;
            background: $white;
            padding: getUnitValue(8);
            margin: getUnitValue(-7) 0;
            margin-bottom: 0;
        }

        @include MediaQueries($desktop-medium) {
            width: auto !important;
            position: relative !important;
            display: block !important;
            background: $white;
            padding: getUnitValue(8);
            margin: getUnitValue(-7) 0;
            margin-bottom: 0;
        }

        @include MediaQueries($mobile) {
            width: auto !important;
            position: relative !important;
            display: block !important;
            background: $white;
            padding: getUnitValue(2);
            margin: getUnitValue(-7) 0;
            margin-bottom: 0;
        }
    }


    &.adjust-position {
        @include MediaQueries($desktop-and-above){
            position: absolute;
        }
    }

    &.adjust-position-mobile {
        @include MediaQueries($desktop-and-below){
            position: absolute;
        }
    }
    &.text-position {
        position: absolute;
    }

    .heading {
        @extend .h3;

        @include MediaQueries($mobile){
            color: $black !important;
        }

        &.smaller-heading {
            @extend .h3;
            visual-spacing & {
                padding-bottom: 12px;
                @include MediaQueries($desktop-and-below){
                    padding-bottom: getUnitValue(1);
                }
            }
        }

        .visual-spacing & {
            padding-bottom: 9px;
            word-break: keep-all;
            &.tiffany-rte {
                h1, h2, h3, h4, h5 {
                    padding-bottom: 8px !important;
                    @include MediaQueries($below-desktop-tablet){
                        padding-bottom: 5px !important;
                    }
                }
            }
            .tiffany-rte {
                h4, h5 {
                    padding-bottom: 11px;
                    @include MediaQueries($below-desktop-tablet){
                        padding-bottom: 7px;
                    }
                }
            }
        }

        &.header40 {
            @extend .h2;
            .visual-spacing & {
                padding-bottom: 10px;
                @include MediaQueries($below-desktop-tablet){
                    padding-bottom: 7px;
                }
            }
        }

        .home-page & {
            word-break: break-word;
        }
        &.browse-grid-header {
            padding-bottom: getUnitValue(1) !important;
            .visual-spacing & {
                padding-bottom: 12px !important;
            }
        }
    }

    .browse-grid-header {
        @extend .h2;

        &.smaller-heading {
            @extend .h2;
        }
        line-height: 1.25;
        font-size: $font-size-32;
    }

    .subheading {
        @extend .h5;

        padding-bottom: getUnitValue(2);
        font-weight: $font-weight-600;
        &.smaller-heading {
            @extend .h3;
        }

        @include MediaQueries($mobile){
            color: $black !important;
        }
    }
    .description-border{
        width: getUnitValue(15);
        height: 2px;
        background: $tiffanyBlue;
        margin-bottom:getUnitValue(3);
        margin-top:getUnitValue(3);
    }

    .tiffany-rte {
        p {
            font-size: $font-size-14;
            line-height: 1.71;
        }
    }

    .description {
        @include font($font-size-14, 300, $black, 1.71, false);
        @include font-family($font_santral_light, $important);

        &.tiffany-rte {
            p {
                font-size: $font-size-14;
                line-height: 24px;

                span {
                    line-height: 1.71;

                    &.header1 {
                        @include font-family($font_sterling_display_roman);
                        @include font($font-size-56, $font-weight-normal, $black, 1.14, false);
                    }

                    &.header2 {
                        @include font-family($font_sterling_display_roman);
                        @include font($font-size-40, $font-weight-normal, $black, 1.2, false);
                    }

                    &.header3 {
                        @include font-family($font_sterling_display_roman);
                        @include font($font-size-32, $font-weight-normal, $black, 1.25, false);
                    }
                    &.header4 {
                        @include font-family($font_santral_semi_bold);
                        @include font($font-size-24, false, $black, 1.33, false);
                    }

                    &.header5 {
                        @include font-family($font_santral_semi_bold);
                        @include font($font-size-16, false, $black, 1.5, false);
                    }
                    &.search {
                        @include font-family($font_santral_light);
                        @include font($font-size-32, $font-weight-light, $black, 1.25, false);
                    }

                    &.body-regular {
                        @include font-family($font_santral_regular);
                        @include font($font-size-14, $font-weight-normal, $black, 1.71, false);
                    }

                    &.body-light-santral {
                        @include font-family($font_santral_light);
                        @include font($font-size-14, $font-weight-light, $black, 1.71, false);
                    }

                    &.body-light-italic {
                        @include font-family($font_santral_light_italic);
                        @include font($font-size-14, $font-weight-light, $black, 1.71, false);
                    }

                    &.body-semibold {
                        @include font-family($font_santral_semi_bold);
                        @include font($font-size-14, $font-weight-normal, $black, 1.71, false);
                    }

                    &.body-semibold-italic {
                        @include font-family($font_santral_semi_bold_italic);
                        @include font($font-size-14, $font-weight-normal, $black, 1.71, false);
                    }

                    &.subtext-regular,
                    &.flyout-regular {
                        @include font-family($font_santral_regular);
                        @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
                    }

                    &.subtext-italic,
                    &.flyout-regular-italic {
                        @include font-family($font_santral_regular_italic);
                        @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
                    }

                    &.subtext-bold {
                        @include font-family($font_santral_bold);
                        @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
                    }

                    &.subtext-bold-italic {
                        @include font-family($font_santral_bold_italic);
                        @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
                    }

                    &.body-light-sterling {
                        @include font-family($font_sterling_display_roman);
                        @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
                    }
                }
            }
            .visual-spacing & {
                padding-bottom: 14px;
            }
        }

        .visual-spacing & {
            padding-bottom: 14px !important;
            @include MediaQueries($desktop-and-below) {
                padding-bottom: 10px !important;
            }
        }

        .home-page & {
            word-break: break-word;
        }
        @include MediaQueries($mobile){
            color: $black !important;
        }
    }

    .cta-link {
        padding-bottom: getUnitValue(1);
        width: 100%;
        display: inline-block;
        @include MediaQueries($desktop-and-above){
            margin: 0px ;
        }

        .no-chevron {
            @extend .no-bottom-color;
            text-decoration: underline;

            &:hover {
                border-bottom: none;
            }
            .keyboard--focussed & {
                &:focus {
                    border: 1px solid $bondiBlue;
                }
            }
        }

        .cta {
            @extend .col__full;
            width: auto;

            .icon-dropdown-right:before {
                padding-left: 4px;
            }

            &.reservation-btn{
                margin-right: 24px;

                .ie & .firefox & {
                    @extend .hover-cta;
                }
            }
        }

        @include MediaQueries($desktop-and-below) {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .content-tile-button .cta {
        padding: getUnitValue(1.5) getUnitValue(3);
    }

    .content-tile-button {
        @include MediaQueries($tablet-and-below) {
            padding-top: getUnitValue(1);
        }

        a.cta {
            @extend .btn-content;

            .cta-content {
                border: none;
            }
        }

        .primary {
            @extend .btn, .btn-primary;
            display: inline-block !important;
            width: auto;
            height: getUnitValue(7);
            padding: 18px getUnitValue(4);

            &:active {
                box-shadow: none;
                border: 1px solid $black !important;
                .button_cta_text{
                    .cta-text{
                        color: $black !important;
                    }

                }
            }
            &:hover{
                box-shadow: none;
                border: 1px solid $black !important;
                .button_cta_text{
                    .cta-text{
                        color: $black !important;
                    }
                }
            }

            &:focus {
                border: 2px solid $bondiBlue;
            }
            &.disabled {
                opacity: 0.1;
            }
        }

        .secondary {
            @extend .btn, .btn-secondary, .btn--outline, .no-bottom-color;
            display: inline-block !important;
            height: getUnitValue(5);
            width: auto;

            &:active {
                box-shadow: none;
                border: solid 2px $black;
                background-color: $white !important;
            }

            &:focus {
                border: 1px solid $bondiBlue;
            }

            &:hover {
                background-color: $white;
            }
        }
    }

    .button_cta_text {
        @include font($font-size-14, normal, $black, 0, normal);
        @include font-family($font_santral_regular);
        @extend .tf-g__center;

        @include MediaQueries($mobile){
            .white-label {
                color: $black !important;
            }
        }

        .underline {
            border-bottom: 1px solid $black !important;
        }
    }

    .primary {
        .button_cta_text {
            &.white-label {
                @include MediaQueries($mobile) {
                    color: $white !important;
                }
            }
        }
    }

    @include MediaQueries($desktop-and-above) {
        .white-label {
            color: $white !important;
        }
    }

    @include MediaQueries($desktop-and-below){
        .white-label {
            color: $black !important;
        }
    }

    @include MediaQueries($desktop-and-below) {
        padding: 0 getUnitValue(3) getUnitValue(3);

        .heading, .description {
            padding-bottom: getUnitValue(2);
        }
    }

    button.cta {
        @extend .cta-link-btn;
        text-align: left;

        &:focus {
            background-color: transparent;
            padding: 0;
        }
    }
}

.browsegridherobanner, .browse-page {
    .hero-banner {
        @include MediaQueries($desktop-and-below) {
            .description {
                display: none;
            }
        }
    }
}

.grid-page {
    @include MediaQueries($desktop-and-above) {
        .tiffany-rte {
            h1, h2, h3, p {
                span {
                    &.header1 {
                        font-size: 3.5vw;
                    }
                    &.header2 {
                        font-size: 2.5vw;
                    }
                    &.header3 {
                        font-size: 2vw;
                    }
                }
            }
            .font-size-24 {
                font-size: 1.5vw !important;
            }
            .font-size-32 {
                font-size: 2vw !important;
            }
            .font-size-40 {
                font-size: 2.5vw !important;
            }
        }

        .heading {
            font-size: 2vw !important;
            &.smaller-heading {
                font-size: 2vw !important;
            }
            &.header40 {
                font-size: 2.5vw !important;
            }
        }
        .subheading {
            &.smaller-heading {
                font-size: 2vw !important;
            }
        }
        .description {
            &.tiffany-rte {
                p {
                    span {
                        &.header1 {
                            font-size: 3.5vw;
                        }
                        &.header2 {
                            font-size: 2.5vw;
                        }
                        &.header3,
                        &.search {
                            font-size: 2vw;
                        }
                    }
                }
            }
        }
    }
    @include MediaQueries($desktop-tablet-above-and-mini-desktop) {
        .tiffany-rte {
            padding-bottom: getUnitValue(1);
        }
    }
}


.content-band--50x40, .content-band--60x40, .content-band--40x60 {
    .band-item {
        .content-tile {
            .visual-spacing & {
                .heading {
                    h1, h2 {
                        @include MediaQueries($desktop-and-above) {
                            padding-bottom: 6px !important;
                        }
                    }
                }
            }
        }
    }
}
