<article class="product-size app-js__product-size">
    <div class="product-size__modifier">        
        <span>Size</span>
        <select class="product-size__modifier_selector">
            {{#each productDescription.sizeOptions}}
                <option>{{this}}</option>
            {{/each}}
        </select>
    </div>
</article>
