<div class="global-banner app-js__banner hide" >
    <div class="global-banner__body">
        <button type="button" class="global-banner__close btn" aria-label="{{banner.closeLabel}}">
            <img src="./icons/close.svg" alt="Close image" />
        </button>
    </div>
	<button type="button" class="btn global-banner__prev" data-icon="true" data-icon-name="slick-arrow" aria-label="{{banner.prevLabel}}"></button>
    <button type="button" class="btn global-banner__next" data-icon="true" data-icon-name="slick-arrow" aria-label="{{banner.nextLabel}}"></button>
</div>
