.tiffany-inline-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    // z-index: $modal-maxZIndex - 2;

    @include MediaQueries($desktop-and-below) {
        width: 100%;
        position: fixed;
        overflow: auto;
        z-index: $modal-maxZIndex + 1 !important;
    }

    &--close {
        padding: 0;
        position: absolute;
        right: getUnitValue(3);
        top: getUnitValue(5);
        font-size: $font-size-24;
        background: transparent;
        border: none;

        .check-balance & {
            right: 0;
            width: 24px;
        }

        &:before {
            color: $filter-gray;
        }

        @include MediaQueries($desktop-and-below) {
            right: getUnitValue(3);
            top: getUnitValue(3);
            z-index: $modal-maxZIndex + 2;
        }
    }

    &--left-arrow {
        @extend .hide, .show__tablet-and-below ;
        background: none;
        font-size: $font-size-24;
        border: none;
        background: transparent;
        position: absolute;
        padding-left: getUnitValue(1);

        &:before {
            color: $black;
        }

        @include MediaQueries($desktop-and-below) {
            top: getUnitValue(3);
            z-index: $modal-maxZIndex + 2;
        }
    }

    &.drop-a-hint {
        height: auto;
        position: relative;

        @include MediaQueries($desktop-and-below) {
            position: fixed;
        }

        .icon-Close {
            top: getUnitValue(4);
            right: getUnitValue(4);

            @include MediaQueries($desktop-and-below) {
                top: getUnitValue(2);
                right: getUnitValue(2);
            }
        }
    }
}

button.tiffany-inline-modal--close:hover {
    border-bottom: none;
}
button.tiffany-inline-modal--close:focus {
    border: 1px solid $bondiBlue;
}

.tiffany-inline-modal.has-input-elements {
    @extend .modal-with-inputs;
}
