.drop-a-hint {
    @extend .tf-g, .tf-g__middle;

    button.label-btn, button.drop-a-hint-icon{
        &.active{
            background-size: 100% 1px;
        }
    }

    .drop-a-hint-icon {

        > div[role="button"] {
            .ios & {
                overflow: visible !important;
            }
        }        
    }

    &__confirmation-wrapper {
        @extend .tf-g, .tf-g__col, .tf-g__middle, .tf-g__center;
        height: inherit;

        &_info {
            @include font($font-size-32, $font-weight-normal, $black, 1.25, false);
            @include font-family($font_sterling_display_roman);
            margin-bottom: 20px;
            max-width: 355px;
        }

        &_link {
            &.cta {
                @include font($font-size-12, $font-weight-normal, $black, 2, false);
                @include font-family($font_santral_regular);
            }
        }
    }

    &__btn {
        @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
        padding: 0;
        margin: getUnitValue(2) 0;
        background: none;
    }

    .blank {
        display: inline-block;
        width: getUnitValue(30);
        border-bottom: 1px solid $black;
        padding-left: 2px;
    }

    .content-band--60x40 {
        @extend .tf-g__center;
        padding: 0;
        height: 100%;

        &.confirmation-screen {
            .band-item {
                &:nth-child(2) {
                    padding: 0;
                }

                &.screen-ref {
                    align-content: center;
                    height: 100%;

                    @include MediaQueries($desktop-and-below) {
                        padding: 38.9vw 0 37.8vw 0;
                        height: auto;
                    }
                }
            }
        }

        .band-item {
            padding: 0;
            height: 100%;

            @include MediaQueries($desktop-and-below) {
                height: auto;
                padding: 0;
            }

            &:nth-child(1) {
                padding: 0;
            }

            &:nth-child(2) {
                @extend .tf-g, .tf-g__col;
                padding-top: 10%;

                @include MediaQueries($above-tablet-and-below-desktop){
                    padding-left: 7vw;
                    padding-right: 7vw;
                }

                @include MediaQueries($desktop-and-below) {
                    justify-content: flex-start;
                    padding: 0;
                }
            }
        }
    }

    &__preview-holder{
        @extend .col__full;
        position: relative;

        &_thumbnails {
            @extend .tf-g;
            width: getUnitValue(10);
            position: absolute;
            top: 0;
            left: 0;
            z-index: $component-mini-modal-zIndex + 2;

            &_icons {
                @extend .btn;
                padding: 0;
                height: getUnitValue(10);
                width: getUnitValue(10);

                @include MediaQueries($desktop-and-below) {
                    height: getUnitValue(6);
                    width: getUnitValue(6);
                }

                &.btn--outline {
                    padding: 0;
                    height: getUnitValue(10);
                    width: getUnitValue(10);
                    border-color: $suva-gray;

                    @include MediaQueries($desktop-and-below) {
                        height: getUnitValue(6);
                        width: getUnitValue(6);
                    }
                }
            }
        }

        &_preview{
            @extend .col__full;

            .thumnail-preview {
                img {
                    @extend .col__full;
                }
            }

            .preview-wrapper_desc {
                .tiffany-rte {
                    p, span {
                        @include font($font-size-24, $font-weight-normal, $black, 1.67, false);
                        @include font-family($font_sterling_display_roman);
                        @include MediaQueries($desktop-and-below) {
                            line-height: 1.5;
                            font-size: $font-size-16;
                        }
                    }
                }
            }
            p.preview-wrapper_desc {
                @include font($font-size-24, $font-weight-normal, $black, 1.67, false);
                @include font-family($font_sterling_display_roman);
                @include MediaQueries($desktop-and-below) {
                    line-height: 1.5;
                    font-size: $font-size-16;
                }
            }

            .preview-wrapper {
                @extend .tf-g, .tf-g__col, .tf-g__middle;
                padding: getUnitValue(6) 0;
                @include MediaQueries($desktop-and-below) {
                    padding: 0;
                }
                @include MediaQueries($above-tablet-and-below-desktop){
                    padding: 40px 0;
                    padding-left: 9.3vw;
                }

                .thumnail-preview {
                    max-width: getUnitValue(57);
                    max-height: getUnitValue(57);
                    margin-bottom: getUnitValue(3);
                }

                &_desc {
                    max-width: getUnitValue(57);

                    &:focus {
                        border: 2px solid $bondiBlue;
                        box-shadow: 0px 0px 0px 1px $black inset;
                    }

                    @include MediaQueries($desktop-and-below) {
                        max-width: 100%;
                        padding: 0 getUnitValue(2);
                        margin-bottom: getUnitValue(3);
                    }

                    .tiffany-rte > * {
                        @include font($font-size-18, 0, $black, 1.78, false);
                        @include font-family($font_sterling_display_roman);
                        line-height: 32px;

                        @include MediaQueries($desktop-and-below) {
                            line-height: 1.5;
                            font-size: $font-size-16;
                        }
                    }
                }
            }
        }
    }

    &__right-wrapper {
        @extend .tf-g, .tf-g__col;
        max-width: getUnitValue(43);

        @include MediaQueries($desktop-and-below) {
            max-width: 100%;
            margin: 0 getUnitValue(2) 0;
            padding: 0;
        }

        &_heading {
            margin-bottom: getUnitValue(2);
            @include font($font-size-32, $font-weight-normal, $black, 1.25, false);
            @include font-family($font_sterling_display_roman);

            @include MediaQueries($desktop-and-below) {
                margin: getUnitValue(6) 0 getUnitValue(3) 0;
            }
        }

        &_input-group {
            @extend .tf-g, .tf-g__col;
            margin-bottom: getUnitValue(2);

            @include MediaQueries($desktop-and-below) {
                margin-bottom: getUnitValue(4);
            }

            &_input {
                &.material-input {
                    margin: getUnitValue(3) 0;

                    @include MediaQueries($desktop-and-below) {
                        margin-bottom: getUnitValue(2);
                    }
                }

                &_error {
                    color: $crimson-red;
                    margin-top: getUnitValue(1);
                }
            }
        }

        &_submit {
            @extend .btn--outline;
            max-width: getUnitValue(30);
            margin-bottom: 100px;

            @include MediaQueries($desktop-and-below) {
                padding: getUnitValue(2) getUnitValue(5);
                margin: 0 getUnitValue(2) getUnitValue(4) getUnitValue(2);
                width: calc(100% - 32px);
                max-width: 100%;
                font-size: 14px;
                line-height: 16px;
            }
        }

        &_captcha {
            @extend .tf-g;
            @include MediaQueries($desktop-and-below) {
                margin: 0 getUnitValue(2) 0;
            }

            .icon {
                width: getUnitValue(3);
                margin-right: getUnitValue(1);
            }

            .content {
                @extend .tf-g, .tf-g__col;
                width: calc(100% - 32px);

                .label {
                    @extend .tf-g;
                    @include font($font-size-12, $font-weight-light, $black, 1.33, false);
                    @include font-family($font_santral_regular);
                    margin-bottom: getUnitValue(1);
                }

                .links {
                    @extend .tf-g;

                    .cta {
                        @include font($font-size-12, $font-weight-normal, $black, 2, false);
                        @include font-family($font_santral_regular);
                        margin-right: getUnitValue(3);

                        .icon-dropdown-right::before {
                            font-size: $font-size-8;
                            padding-left: getUnitValue(2);

                            @include MediaQueries($desktop-and-below) {
                                padding-left: getUnitValue(1);
                            }
                        }
                    }
                }
            }
        }
    }

    &__toast{
        @extend .tf-g, .col__full;
        @include font($font-size-12, $font-weight-normal, $black, 1.33, false);
        @include font-family($font_santral_regular);
        background: $tiffanyBlueAlmostOpaque;
        padding: getUnitValue(2) getUnitValue(4);
        margin-bottom: getUnitValue(1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: $toast-zIndex;
        transition: all 0.75s ease-out;

        &.fade-out {
            opacity: 0;
        }
        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(1) 0;
            justify-content: center;
            text-align: center;
        }

        &_info {
            padding-right: getUnitValue(5);

            @include MediaQueries($desktop-and-below) {
                padding: 0;
            }
        }
    }

}

.modal__wrapper {
    .modal {
        &.DAH-modal.drop-a-hint {
            @extend .tf-g__center;
            text-align: left;
            height: 100%;

            .modal-content {                
                @extend .tiffany-blue-custom-scroll-bar;
                max-width: getUnitValue(152);
                max-height: calc(100% - #{getUnitValue(20)});
                top: auto;

                .ie & {
                    margin: 0;
                }

                @include MediaQueries($desktop-and-above) {
                    overflow: hidden;

                    .ios &{
                        overflow: auto;
                    }
                    .ps {
                        max-height: calc(100vh - #{getUnitValue(20)});      
                    }
                }

                .content-band--60x40 {
                    @extend .tf-g__top;
                    text-align: left;
                    padding-bottom: 0;
                }
                .content-band--60x40.confirmation-screen {
                    align-items: center;
                }

                @include MediaQueries($desktop-and-below) {
                    height: 100%;
                    max-height: 100%;
                    top: 0;

                    .content-band--60x40 {
                        padding-bottom: 0;
                        height: auto;
                    }
                }

                @include MediaQueries($above-tablet-and-below-desktop){
                    max-width: getUnitValue(111);
                }
            }

            .close-modal{
                position: absolute;
                top: getUnitValue(3);
                right: getUnitValue(3);
                background: transparent;
                border: none;
                padding: 0;

                img, svg {
                    width: getUnitValue(3);
                    height: getUnitValue(3);

                    @include MediaQueries($desktop-and-below) {
                        width: getUnitValue(2);
                        height: getUnitValue(2);
                    }
                }

                &:focus {
                    border: 2px solid $bondiBlue;
                    box-shadow: 0px 0px 0px 1px $black inset;
                }
            }
        }
    }
}
