// ****************************************
// error-banner
// ****************************************

.error-banner {
	&_err-text {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $boulder;
		border-bottom: 1px solid $boulder;
		
		p {
			@extend .display__inline-block;
			@include font($font-size-12, $font-weight-normal, $crimson-red, 1.33, normal);
			@include font-family($font_santral_regular);
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			padding: getUnitValue(2) getUnitValue(4);

			@include MediaQueries($tablet-and-below) {
                padding: getUnitValue(1) getUnitValue(2);
            }
		}
	}

	&--close {
		cursor: pointer;
		background-color: $transparent;
		border: none;
		padding: getUnitValue(2) getUnitValue(2);

		img, svg {
            width: getUnitValue(2);
			height: getUnitValue(2);
			
			@include MediaQueries($tablet-and-below) {
                max-width: getUnitValue(2);
            }
        }
	}
}