<article class="error-banner app-js__error-banner hide">
    <div class="error-banner_err-text">
        <p role="alert">
            Sorry Page Cannot be Found. We think you might this page could be helpful
        </p>
        <button type="button" class="error-banner--close btn" aria-label="Click to close Erro">
            <img src="./icons/close.svg" alt="Close image" />
        </button>
    </div>
</article>