// ****************************************
// video
// ****************************************

.video {
    position: relative;
    cursor: pointer;
    height: 100%;

    &:focus {
        outline: 2px solid $bondiBlue !important;
    }

    &__container {
        position: relative;

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(7);
        }

        .youtube {
            @extend .col__full;
            min-height: 765px;
            border: none;
        }

        .video {
            @extend .col__full;

            &.has-image {
                position: absolute;
                top: 0;
                opacity: 0;
                z-index: -1;
            }
        }
        
        .videostatus {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }


        &_image {
            @extend .col__full;

            &_play {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: getUnitValue(-2.5);
                margin-top: getUnitValue(-2.5);
                cursor: pointer;
                padding: 0;
                background: none;
                outline: none;
                border: none;
                height: 40px;
                width: 40px;

                &:focus {
                    border: 1px solid $bondiBlue;
                }
            }
        }
    }

    @include MediaQueries($desktop-and-below) {

        &_image,
        .youtube {
            min-height: 430px;
        }
    }

    .icon-play-white,
    .icon-play-black {
        font-size: $font-size-40;
    }
}
