/**
* Prodcut description BOPS content
*/

.bops {
    &__container {
        margin-bottom: getUnitValue(2);

        @include MediaQueries($desktop-and-above) {
            margin-bottom: getUnitValue(3);
        }

        &_detail {
            @include font($font-size-16, $font-weight-light, $black, 1.5, 0);
            @include font-family($font_santral_light);
        }

        &_learnmore {
            @extend .btn, .cta, .hover-cta;
            @include font($font-size-16, $font-weight-normal, $black, 1.5, 0);
            @include font-family($font_santral_regular);
            padding: 0;
            margin-bottom: getUnitValue(3);

            &.cta {
                display: inline!important;
            }
        }
    }
}