.mini-pdp-modal {
    background-color: $white;
    margin: getUnitValue(13) auto;
    position: relative;
    max-height: calc(100vh - #{getUnitValue(16)});
    overflow-y: auto;
    max-width: getUnitValue(132);

    &.modal-content {
        @include MediaQueries($desktop-and-below) {
            overflow-x: hidden;
        }
    }

    @include MediaQueries($desktop-and-above) {
        .container {
            display: flex;
            margin-left: getUnitValue(8);
            margin-top: getUnitValue(8);
            padding-bottom: getUnitValue(8);
            
            .band-item {
                width: 50%;
                &:nth-child(1) {
                    padding-right: getUnitValue(6); 
                }
            }
        }
    }

    @include MediaQueries($desktop-and-below) {
        padding: getUnitValue(2);
        margin: 7.5vh 16px;
        height: auto;
        max-height: calc(85vh);

        .mini-pdp-wrapper {
            position: relative;

            .content-band--60x40 {
                padding-top: getUnitValue(5);
            }
        }
    }

    .mini-description {
        @extend .tf-g--no-wrap, .tf-g__col, .tf-g__between;
        justify-content: space-between;

        @include MediaQueries($desktop-and-above) {
            max-height: 100%;
            max-width: getUnitValue(50);
        }
        
        &__modifier {
            margin-bottom: getUnitValue(4);
        }

        &__taxinfo {
            .information-text-component {
                @include font($font-size-14, false, $black, 24px, false);
                @include font-family($font_santral_light);
                margin-top: getUnitValue(1);
            }
        }

        &__container {
            padding-top: 0;

            &_eyebrow, &_viewdetails {
                @extend .tf-g__start, .cta-underline;
                @include font($font-size-14, $font-weight-normal, $black, 16px, false);
                @include font-family($font_santral_regular);
                text-decoration: underline;
            }

            &_viewdetails {
                padding-bottom: getUnitValue(5);
                @include MediaQueries($desktop-and-below) {
                    display: none !important;
                }
            }

            &_title {
                @extend .h3;
                padding-top: getUnitValue(1);
                padding-bottom: getUnitValue(1);
            }

            &_short-description {
                @include font($font-size-14, false, $black, 1.71, false);
                @include font-family($font_santral_light);
                padding-bottom: getUnitValue(4);
            }

            &_detail{
                &_list {
                    padding-bottom: getUnitValue(2);
                }
            }

            &_list {
                @include font($font-size-14, false, $black, 1.33, 0);
                @include font-family($font_santral_light);
    
                &::before{
                    content: '\b7';
                    margin-right: 5px;
                    vertical-align: 'middle';
                }
            }
        }
    }

    .content-band--60x40 {
        align-items: normal;
    }

    .modifiers__container_dropdownlist_item--link {
        .modifier-link {
            height: auto;
        }
    }

    .mini-pdp {
        &--close {
            @extend .btn;
            padding: 0;
            position: absolute;
            right: getUnitValue(3);
            top: getUnitValue(3);
            z-index: 1;
            background: none;

            img {
                width: 24px;
                height: 24px;
            }
            
            @include MediaQueries($desktop-and-below) {
                right: 0;
                top: 0;
            }
        }

        &__cta {
            @extend .btn, .cta;
            padding: 0;
        }
    }

    .product-preview {
        @include MediaQueries($desktop-and-above) {
            max-width: getUnitValue(60);
        }

        &__carousel-holder {
            .slick-slider .slick-dots {
                padding-bottom: -16px; 
            }
        }

        .preview-holder {
            height: getUnitValue(60);

            @include MediaQueries($desktop-and-below) {
                height: auto;
            }
        }

        .slick-initialized .slick-slide, .slick-slider .slick-track {
            height: auto;
        }

        .slick-list {
            .slick-track {
                .product-preview-image img{
                    height: auto;
                }
            }
        }

        .s7container {
            @include MediaQueries($desktop-and-above){
                height: getUnitValue(60) !important;
            }
    
            @include MediaQueries($desktop-and-below){
                min-height: 100% !important;
            }
        }

        .s7flyoutzoom{
            div {
                width: 100% !important;
            }
        }

        .s7flyoutzoomview {
            width: 100% !important;
            height: 100% !important;
        }

        &_custom-dots_holder {
            .slick-active {
                background-color: $tiffanyBlue;
            }
        }
    }

    .content-band--60x40 {
        .band-item:nth-child(2) {
            @include MediaQueries($desktop-and-below) {
                padding-bottom: 0;
            }
        }
    }

    @include MediaQueries($desktop-and-below) {
        .product-description__addtobag {
            margin-bottom: 0;
            padding-bottom: 0;

            &_btn {
                margin: getUnitValue(2) auto;
            }
        }
    }
}
