.information-text-component {
    @include font($font-size-14, $font-weight-normal, $black, 1.5, normal);
    @include font-family($font_santral_light);
    opacity: 1;
    // padding: getUnitValue(2);
    // margin-bottom: getUnitValue(1);

    // @include MediaQueries($desktop-and-below) {
    //     margin-bottom: 0;
    // }

    .text-phnumber, .unavailable, .strong-text {
        @include font-family($font_santral_semi_bold);
        font-weight: $font-weight-normal;
    }

    .error-msg{
        color: $crimson-red;
    }

    div, p {
        font-size: $font-size-12;
        line-height: 1.33;
        @include MediaQueries($desktop-and-above) {
            font-size: $font-size-14;
            line-height: 1.71;
        }
    }

    a {
        display: block;
        pointer-events: auto;
        border: 1px solid transparent;
        &:after {
            content: "\e922";
            font-size: $font-size-8;
            font-family: 'tiffany-icons';
            padding-left: 4px;
            color: $black;
        }
 
        .keyboard--focussed & {
            &:focus {
                border: 1px solid $bondiBlue;
            }
        }
    }
}