<article class="product-tile app-js__product-tile">
    <a class="product-tile__body" href="{{link_url}}">
        <img class="product-tile__body_image" src="{{image_url}}" alt="" />
        {{#if isNew}}
            <span class="product-tile__new-title">New</span>
        {{/if}}
        <button type="button" aria-label="Wishlist Icon" class="button_action">
            <span class="icon-Wishlist-Option-1"></span>
        </button>
        <button type="button" class="button_action bag-action">
            <span class="icon-Shopping-Bag"></span>
        </button>
    </a>
    <div class="product-tile__details">
        <div class="product-tile__details_name">{{product_name}}</div>
        <div class="product-tile__details_price">{{price}}</div>
    </div>
</article>
