// ****************************************
// product-tile
// ****************************************
.product-tile {
    @extend .tf-g, .tf-g__center, .col__full;
    position: relative;
    top: 1px;

    @include MediaQueries($tablet-and-below) {
        display: inline-block;
    }

    &__body {
        @extend .tf-g, .tf-g__center, .display__inline-block, .col__full;
        position: relative;
        overflow: hidden;
        height: 100%;

        &:hover {
            border: none;
        }

        .keyboard--focussed & {
            &:focus {
                border: 1px solid $bondiBlue;
            }
        }

        &_image {
            @extend .display__inline;

            .image {
                @extend .col__full;
                height: 100%;
            }

            @include MediaQueries($tablet-and-below) {
                max-width: getUnitValue($product-tile-mobile_multiple);
                max-height: getUnitValue($product-tile-mobile_multiple);
            }
        }
    }

    &__new-title {
        font-size: $font-size-12;
        @include font-family($font_santral_regular);
        line-height: 1.33;
    }

    .tile-buttons {
        @extend .tf-g, .tf-g__between, .tf-g__middle;
        padding: 0 getUnitValue(3);
        margin-top: getUnitValue(-7);
        min-height: getUnitValue(6);

        @include MediaQueries($desktop-and-below){
            padding: 0 8px 0 8px;
            margin-top: -57px;
            align-items: flex-end;
        }

        .button_action {
            margin-left: auto;
        }
    }

    .button_action {
        @extend .btn;
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1.5rem;

        @include MediaQueries($desktop-and-below) {
            position: absolute;
            right: getUnitValue(1);
            width: getUnitValue(2);
        }

        &:focus {
            border: 0;
            border-color: transparent;
        }
    }

    .bag-action {
        @extend .hide__desktop-and-below;
        right: getUnitValue(3);
    }

    .show-colon::after {
        content: ':';
    }

    &__details {
        @extend .display__none;

        @include MediaQueries($desktop-and-below) {
            padding-top: getUnitValue(2);
        }
        &_name {
            @extend .display__block, .tf-g__start;
            margin-top: getUnitValue(3);
            margin-bottom: 0;
            @include font-family($font_santral_light);
            font-size: $font-size-16;
            font-weight: $font-weight-light;

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-12;
                margin-top: getUnitValue(1);
                line-height: 1.33;
             }

            &__split{
                @extend .display__block;
                word-break: break-word;
             }

            &.price-na {
                @include MediaQueries($desktop-and-below) {
                    margin-bottom: getUnitValue(1);
                }
            }
        }

        &_price {
            @extend .tf-g__start, .display__block;
            @include font-family($font_santral_regular);
            font-size: $font-size-16;
            font-weight: $font-weight-500;
            margin-bottom: getUnitValue(2);
            color: $filter-gray;

            @include MediaQueries($desktop-and-below) {
                margin: getUnitValue(1) 0;
                font-size: $font-size-12;
                line-height: 1.33;
            }
        }

        @include MediaQueries($desktop-and-below) {
            display: flex;
            flex-direction: column;
        }
    }
}

.grid-page {
    @include MediaQueries($below-desktop-tablet) {
        .product-tile__details {
            display: flex;
            flex-direction: column;
        }
    }
}
