.storesearchbar {
    @include MediaQueries($desktop-and-above) {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &.container-centered {

        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(3) getUnitValue(2);
        }
    }
    .labels {
        @include font($font-size-14, $font-weight-light, $black, 1.71, false);
        @include font-family($font_santral_light);

        display: inline-block;
        margin-top: getUnitValue(4);
    }

    &__heading {
        @include font($font-size-24, $font-weight-600, $black, 1.4, false);
        @include font-family($font_santral_semi_bold);

        @include MediaQueries($desktop-and-above) {
            padding-right: getUnitValue(4);
        }
    }

    &__search_in {
        @extend .tf-g;

        @include MediaQueries($desktop-and-below) {
            padding-top: getUnitValue(3);
        }

        .storesearchbar {

            &__search_in {

                &_label {
                    @include MediaQueries($desktop-and-below) {
                        margin-top: 0;
                    }
                }
            }
        }
        &_label {
            @extend .labels;
        }

        @include MediaQueries($desktop-and-above) {
            align-items: flex-end;
        }
    }

    &__of {
        @extend .display__block;

        .storesearchbar {

            &__of {

                &_label {
                    margin-top: getUnitValue(3);
                }
            }
        }
        &_label {
            @extend .labels;
        }

        &_region {
            @extend .material-input;

            top: -4px;
            display: inline-block;
            margin-left: getUnitValue(1);
            margin-bottom: 0;
            width: 175px;

            @include MediaQueries($desktop-and-above) {
                top: 0;
            }

            &_input {
                max-width: 175px;
            }
            &_label {
                &.label {
                    @include font($font-size-14, $font-weight-normal, $boulder, 1.71, false);
                    @include font-family($font_santral_light);
                }
            }

            &_input {
                &.input {
                    @extend .col__full;
                    @include font-family($font_santral_regular);
                    border-bottom-color: $gray;
                    padding-bottom: 4px;
                    border-radius: 0px;
                }
            }

            &_input:focus ~ label, &_input:valid ~ label {
                &.label {
                    top: 0;
                    @include font($font-size-10, $font-weight-normal, $boulder, 12px, false);
                    @include font-family($font_santral_light);
                }
            }

            &_input:focus {
                border-bottom-color: $product-slider;
            }
        }

        @include MediaQueries($desktop-and-above) {
            padding-left: getUnitValue(1);
            padding-right: getUnitValue(1);
            display: flex;
            align-items: flex-end;
        }

        & + .storesearchbar__findastore {
            padding-left: 8px;

            @include MediaQueries($desktop-and-below) {
                padding-left: 0;
            }
        }
    }

    &__offer {
        @extend .tf-g;

        @include MediaQueries($desktop-and-below) {
            padding-top: getUnitValue(3);
        }

        .storesearchbar {

            &__offer {

                &_label {
                    @include MediaQueries($desktop-and-below) {
                        margin-top: 0;
                    }
                }
            }

        }
        &_label {
            @extend .labels;
        }

        @include MediaQueries($desktop-and-above) {
            display: flex;
            align-items: flex-end;
        }
    }

    &__button {
        @extend .tf-g--no-wrap;

        @include MediaQueries($desktop-and-below) {
            padding-top: 0;
        }

        &.services-dropdown {
            margin-right: getUnitValue(3);
        }


        &.button {
            min-width: getUnitValue(17.75);
        }

        &_select {
            select {
                @include font($font-size-14, $font-weight-normal, $black, 1.71, false);
                @include font-family($font_santral_regular);
                border-bottom: 1px solid $gray;
                background: transparent;
                border-width: 0 0 1px 0;
                border-radius: 0px;
                -webkit-appearance: none;
                -moz-appearance: none;
                margin-left: getUnitValue(1);
                margin-top: 0;
            }

            .icon-dropdown-down {
                margin-left: getUnitValue(1);
            }
        }

        &_dropdownlist {
            position: absolute;
            z-index: 1;
            background: $white;
            margin: 14px 0 0 -12px;
            padding-top: 16px;

            .ie & {
                left: 0;
                margin-top: 12px;
            }

            &-list {
                position: relative;
                padding: 0 getUnitValue(3) 0 19px;

                &-item {
                    .dropdown-button {
                        @extend .btn, .tf-g;

                        @include font($font-size-14, $font-weight-light, $black, 1.71, false);
                        flex-wrap: nowrap;
                        @include font-family($font_santral_light);
                        padding: 0 0 getUnitValue(1) 0;
                        background: $white;

                        .keyboard--focussed & {
                            &:focus {
                                padding-bottom: 0;
                                border: none;
                                border-bottom: 1px solid $bondiBlue;
                            }
                        }

                        &.selected {
                            margin-left: getUnitValue(-2);

                            &::before {
                                content: '';
                                display: inline-block;
                                width: getUnitValue(1);
                                height: getUnitValue(1);
                                margin-right: getUnitValue(1);
                                margin-top: getUnitValue(1);
                                background: $product-slider;
                                border-radius: 50%;
                                flex-shrink: 0;
                            }
                        }
                    }

                    &-label {
                        @extend .tf-g__start;
                    }
                }
            }
        }

        &.distance-dropdown {

            .storesearchbar__button_dropdownlist {
                margin-top: 14px;
                padding-top: 16px;

                .ie & {
                    margin-top: 12px;
                }
            }
        }

        &.services-dropdown,&.distance-dropdown {

            .ie & {
                position: relative;
            }

        }

        .button {
             .icon {
                padding: 0 0 2px 8px;
                border-bottom: 0;
                display: inline;
            }
        }
    }

    .button {
        @extend .btn;
        @include font($font-size-14, $font-weight-normal, $black, 1.33, false);
        padding: 0;
        margin-left: getUnitValue(1);
        background: none;
        @include font-family($font_santral_regular);
        margin-top: -4px;
        max-width: 140px;

        .storesearchbar__button_title {
            border-width: 0 0 1px;
            border-bottom: 1px solid $gray;
        }

        &+ .icon {
            padding-left: getUnitValue(1);
            line-height: 1.25;
            position: relative;
            top: -4px;
        }

        &.open {
            .storesearchbar__button_title {
                border-bottom-color: $bondiBlue;
            }
        }

        .icon-dropdown-down, .icon-dropdown-up {
            border-bottom: 2px solid transparent;
        }
    }

    &__findastore {
        @extend .col__full, .display__block;
        @include font($font-size-14, $font-weight-600, $black, 1.14, false);

        @include font-family($font_santral_semi_bold);
        //border: 1px solid $black;
        background: none;
        padding: getUnitValue(3);
        margin-top: getUnitValue(3);
        max-width: getUnitValue(41);

        @include MediaQueries($desktop-and-above) {
            width: getUnitValue(30);
            display: inline-block;
            margin-right: getUnitValue(4);
            position: relative;
            top: getUnitValue(1);
        }

        &.btn--outline {
            height: auto;
            padding: getUnitValue(1.4) getUnitValue(2.5);
            line-height: getUnitValue(2);
            font-size: $font-size-14;
            max-width: getUnitValue(18);
            margin-left: 0;
            z-index: 1;

            @include MediaQueries($desktop-and-below) {
                margin: getUnitValue(3) 0 0 0;
            }
        }

        @include MediaQueries($desktop-and-below) {
            margin-bottom: getUnitValue(3);
        }
    }

    &__viewstores {
        @extend .labels;
        @extend .display__inline-flex;
        border: none;
        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(4) 0 0 0;
        }

        .icon {
            @extend .display__inline-flex;
            padding-left: getUnitValue(1);
            font-size: $font-size-10;
            color: $black;
            align-self: center;
        }
    }

    &__viewstores.cta {
        border: none;
        @include MediaQueries($desktop-and-below) {
            margin-top: 0;
        }
        .ie & {
            &:hover {
                background: none;
            }
        }
    }
}
