.stick-to-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $modal-maxZIndex;
    background: $white;
    padding: getUnitValue(2);
}

.product-description_buttons_container {
    @include MediaQueries($tablet-large-and-below) {
        background: $white;
        bottom: 0;
        padding: getUnitValue(2) 0;
    }
}
