<article class="store-marketing-tile app-js__store-marketing-tile" data-venue-id="1814" data-resy-api-key="appCl6pM0QHDUIXoD5cE0JS8QasVWDJH">
    {{#is imageAlignment "left"}}
        <div class="content-band--30x70 content-with-image">
            <div class="band-item">
                {{> content-tile
                    textAlignment   = 'left'
                    heading         = heading
                    description     = description
                    ctaLink         = ctaLink
                    ctaTarget       = ctaTarget
                    ctaText         = ctaText
                    reservationBtn  = reservationBtn
                    cta1Style       = null
                    subheading      = subheading
                    isMarketingBrowsegrid = isMarketingBrowsegrid
                    isInsetText     = false
                    isMobileInsetText = false
                    isFiftyFiftyInsetText = false
                    isTextOverlay = false
                }}
            </div>
            <div class="band-item">
                {{> picture
                    isLazyLoad = true
                    desktopSrc = desktopSrc
                    mobileSrc  = mobileSrc
                    altText    = imageAlt
                }}
            </div>
        </div>
    {{/is}}
    {{#is imageAlignment "right"}}
        <div class="content-band--70x30 content-with-image">
            <div class="band-item">
                {{> picture
                    isLazyLoad = true
                    desktopSrc = desktopSrc
                    mobileSrc  = mobileSrc
                    altText    = imageAlt
                }}
            </div>
            <div class="band-item">
                {{> content-tile
                    textAlignment   = 'left'
                    heading         = heading
                    subheading      = subheading
                    description     = description
                    ctaLink         = ctaLink
                    ctaTarget       = ctaTarget
                    ctaText         = ctaText
                    reservationBtn  = reservationBtn
                    cta1Style       = null
                    isInsetText     = false
                    isMobileInsetText = false
                    isFiftyFiftyInsetText = false
                    isTextOverlay = false
                }}
            </div>
        </div>
    {{/is}}
    <script src="//widgets.resy.com/embed.js"></script>
</article>
