.slick-arrow {
    width: getUnitValue(7);
    height: getUnitValue(7);
    display: inline-block;
    border: none;
    padding: 0;

    &.custom-arrow {
                
        &.slick-prev {
            transform: rotate(180deg);
            top: calc(50% - 20px);
        }
        
        &.slick-prev, &.slick-next {
            &::before {
                content: '';
            }
        }
        
        &.slick-disabled {
            img, svg {
                opacity: 0.5;
            }
        }

        .keyboard--focussed & {
            &:focus {
                border-color: transparent;
                border: 1px solid $bondiBlue;
            }
        }
    }
}