.byo-hover-container {
    @include MediaQueries($desktop-and-below) {
        position: relative;
    }
    .hover-container {
        @extend .container, .tf-g, .tf-g__top, .tf-g__center, .col__full;
        width: 100%;
        min-height: getUnitValue(46);
        height: auto;
        position: absolute;
        background-color: $white;
        border: 1px solid $black;
        left: 0;
        z-index: 1;
        padding-bottom: 0;
        margin: 0;

        @include MediaQueries($desktop-and-below) {
            margin: 0 auto;
        }


        .select-size {
            @extend .col__full, .tf-g, .tf-g__between;
            height: 100%;
            flex-direction: column;
            min-height: getUnitValue(46);
            @include MediaQueries($desktop-and-above) {
                padding-bottom: getUnitValue(4);
            }

            &__radio-group {
                @extend .col__full;
                @include MediaQueries($desktop-and-above) {
                    max-height: calc(100% - #{getUnitValue(9)});
                }
            }

            &__wrapper {
                overflow-y: hidden;
            }

            &_status-msg {
                overflow: hidden;
                height: 0;
            }
        }

        .select-size__back + .select-size__heading + .select-size__radio-group {
            max-height: getUnitValue(47);
            height: inherit;
            @include MediaQueries($desktop-tablet-and-above) {
                max-height: getUnitValue(32.5);
            }
        }

        &__item {
            @extend .col__full, .tf-g, .tf-g__between;
            height: 100%;

            &_button {
                margin-top: auto !important;
            }

            &_main-content {
                @extend .col__full;
            }

            .image-section {
                padding: getUnitValue(4) getUnitValue(4) getUnitValue(2);

                @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                    padding: getUnitValue(3) getUnitValue(3) getUnitValue(2);
                }

                > picture{
                    min-width: auto;
                    min-height: auto;
                }
            }

            .slick-slider {

                .slick-next, .slick-prev{
                    max-width:getUnitValue(2);
                    max-height:getUnitValue(2);

                    &::before {
                        opacity: 1;
                    }
                    &:focus{
                        border: solid 1px $bondiBlue;
                    }
                }

                .slick-next {
                    right:getUnitValue(1);
                }

                .slick-prev {
                    left:getUnitValue(1);
                }

                .slick-track .slick-slide {

                    .hover-container__item__slide-picture {
                        min-height: getUnitValue(38);

                        @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                            min-height: getUnitValue(25);
                        }
                        > picture {
                            min-width: getUnitValue(38);
                            min-height: getUnitValue(38);
                        }

                        &:hover {
                            border: none;
                        }
                    }
                }
            }

            &__description {
                @extend .tf-g, .tf-g__start;
                max-height: none;
                max-width: 100%;
                margin: 0 0 getUnitValue(3);
                padding: 0 getUnitValue(4);
                &:focus{
                    border: solid 1px $bondiBlue;
                }
                &_text {
                    width: calc(100% - #{getUnitValue(3)});
                }
                .wishlist {
                    margin-top: getUnitValue(1);
                }

                @include MediaQueries($desktop-tablet-above-and-tablet-max) {
                    padding-left: getUnitValue(3);
                    padding-right: getUnitValue(3);
                }
            }

            &__customizable {
                @extend .tf-g, .tf-g__between, .tf-g__middle;
                padding: 0 getUnitValue(4);
                margin: 0;
                height: getUnitValue(3);
                &:focus{
                    border: solid 1px $bondiBlue;
                }

                &__wishlist-icon {
                    @extend .btn;
                    margin-left: auto;
                    padding: 0;
                    border: 0;
                    background-color: transparent;
                    font-size: $font-size-16;

                    &:focus {
                        border: 0;
                        border-color: transparent;
                    }
                }
            }

            &_view-details {
                @extend .display__block, .btn-secondary, .col__full;
                margin: getUnitValue(4) getUnitValue(3) getUnitValue(3);
                align-self: flex-end;

                &.btn {
                    padding: 0;
                    border: 20px solid transparent;
                    box-shadow: inset 0 0 0 1px $black;
                }

                &_btn {
                    border: none;
                    padding: getUnitValue(2) getUnitValue(3);
                    background: transparent;

                    &_text {
                        @extend .tf-g;
                        flex-wrap: nowrap;
                        justify-content: center;

                        &_details-text {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}
