// ****************************************
// quantity
// ****************************************

.modifiers {
    &__container {
        @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
        @include font-family($font_santral_regular);
        transition: all .5s ease;
        position: relative;
        border-top: none;

        .dropdownlist-animation-wrapper {
            display: none;
        }

        // @include MediaQueries($desktop-and-above) {
        //     border-top: 1px solid $black;
        // }
        &_type {
            @include MediaQueries($above-tablet-and-below-desktop) {
                font-size: $font-size-12;
            }
        }
        &_sizeguide {
            @extend .show__desktop-and-above__inline-block, .btn;
            @include font($font-size-12, false, $black, 1.71, 0);
            @include font-family($font_santral_regular);
            padding: 0 getUnitValue(1.5);
            background: none;
            text-decoration: underline;
            border: none;
            text-align: left;
            display: flex !important;
            justify-content: flex-start;

            &_icon {
                @extend .btn, .show__tablet-and-below;
                padding: 0 !important;
                background: none;
                margin-left: getUnitValue(1);
                margin-right: auto;
                text-align: left;

                &.compact {
                    @extend .hide__tablet;
                    margin-right: 0;
                }

                img {
                    width: getUnitValue(3);
                }
            }
        }

        &_type {
            padding-right: 4px;
        }

        &_details {
            @extend .tf-g--no-wrap;
            justify-content: space-between;
            padding: getUnitValue(1.5) 0;
            border-top: 1px solid $black;
        }

        &_sizeguide_wrap {
            @extend .tf-g--no-wrap;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        &_dropdownbutton {
            @extend .tf-g--no-wrap;
            padding-left: 4px;
            flex: initial;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;

            @include MediaQueries($desktop-and-below) {
                padding-left: 0;
            }

            .down-arrow, .up-arrow {
                margin-left: 1vw;
                @include MediaQueries($above-tablet-and-below-desktop) {
                    margin-left: 5px;
                }
            }
            .down-arrow {
                @include MediaQueries($mobile) {
                    margin-left: getUnitValue(-1);
                }
            }
            .button {
                @extend .display__none;
                @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
                @include font-family($font_santral_regular);
                border-width: 0 0 2px 0;
                border-color: transparent;
                background-color: transparent;
                padding: 0;
                min-width: 0;
                justify-content: flex-end;

                @include MediaQueries($desktop-and-above) {
                    display: flex;
                    align-items: center;
                    border: 1px solid transparent;
                }
                @include MediaQueries($above-tablet-and-below-desktop) {
                    font-size: $font-size-12;
                }

                &:hover {
                    @extend .link-hover;
                }
                .keyboard--focussed & {
                    &:focus {
                        border: 1px solid $bondiBlue;
                    }
                }
            }
            &_select {
                @extend .hide__desktop-and-above;

                @include MediaQueries($desktop-and-below) {
                    position: relative;

                    .down-arrow {
                        position: absolute;
                        top: getUnitValue(1);
                        right: 0;
                        pointer-events: none;
                    }
                }

                .select-list {
                    @include font($font-size-16, $font-weight-normal, $black, 1.5, 0);
                    @include font-family($font_santral_regular);
                    padding: 0 getUnitValue(1);
                    appearance: none;
                    background: none;
                    border: none;

                    & + .icon-dropdown-up::before {
                        padding-left: 0;
                        margin-left: getUnitValue(-1);
                        pointer-events: none;
                    }
                    @include MediaQueries($mobile) {
                        padding: 0 getUnitValue(2);
                    }

                    @include MediaQueries($tablet) {
                        padding: 0 14px;
                    }
                }
            }
            &_image {
                @extend .display__inline-block;
                width: getUnitValue(2);
                margin: 0 getUnitValue(3) 0 0;
            }
            .icon-dropdown-up, .icon-dropdown-down {
                &::before {
                    font-size: $font-size-8;
                    padding-left: getUnitValue(3);
                    position: relative;
                    top: -3px;

                    @include MediaQueries($desktop-and-below) {
                        font-size: $font-size-8;
                        padding-left: getUnitValue(2);
                    }
                }
            }
        }

        &_dropdownlist {
            @extend .tf-g;
            padding-bottom: getUnitValue(2);

            &_item {
                @extend .tf-g__center, .col-6-12;
                flex-shrink: 0;

                .imageAvailable & {
                    @extend .tf-g__start;
                }

                &:nth-child(even) {
                    margin-left: -1px;

                    .firefox & {
                        margin-left: 0;
                    }
                }

                &:nth-child(n+3) {
                    margin-top: -1px;

                    .firefox & {
                        margin-top: 0;
                    }
                }

                &--link {
                    border: 1px solid $dim-white;

                    .modifier-link {
                        @extend .btn-secondary;

                        @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
                        @extend .col__full, .display__block;
                        @include font-family($font_santral_regular);
                        height: 100%;
                        border: 2px solid transparent;
                        padding: 12px getUnitValue(2) getUnitValue(1);
                        position: relative;

                        &-selected {
                            background: $tiffanyBlue;
                            border: 2px solid $black;
                        }

                        .label {
                            margin-top: -4px;
                        }

                        &:hover {
                            border: 2px solid $black;
                        }

                    }
                }
            }

            &_image {
                @extend .display__inline-block;
                width: getUnitValue(2);
                margin-right: getUnitValue(3);
                &.circle-image {
                    img {
                        border-radius: 50%;
                    }
                }
            }
        }

        &.compact-view {
            @extend .tf-g, .tf-g__end, .tf-g__no-wrap;
            border: none;
            margin-left: 24px;

            @include MediaQueries($desktop-and-below) {
                display: flex;
            }

            .modifiers__container {
                &_details {
                    padding: 0;

                    &_sizeguide {
                        &_icon {
                            margin-right: getUnitValue(3);
                            margin-bottom: getUnitValue(1.5);
                        }
                    }

                    @include MediaQueries($desktop-and-below) {
                        border-bottom: none;
                        border-top: none;
                        .select-list {
                            font-size: $font-size-14 !important;
                            padding: 0 16px 0 0 !important;

                            @include MediaQueries($mobile-small) {
                                font-size: $font-size-12 !important;
                            }
                        }
                        .down-arrow {
                            margin-left: 8px  !important;
                        }
                    }

                    .modifiers__container_type {
                        margin-right: getUnitValue(0.5);

                        @include MediaQueries($mobile-small) {
                            font-size: $font-size-12;
                        }

                        @include MediaQueries($desktop-and-below) {
                            text-align: left;
                        }
                    }
                }
                &_dropdownbutton_select {
                    @include MediaQueries($desktop-and-above) {
                        padding-right: 16px;
                    }
                }
                &_sizeguide_icon {
                    @extend .hide__tablet;

                    &.compact {
                        @extend .show__tablet-and-below;
                        margin-right: 0;
                    }
                    @include MediaQueries($desktop-and-below) {
                        position: static;
                        width: 30px;
                    }
                }
            }
        }
    }
}

.modifiers__container_dropdownlist {

    &__enter {
        overflow: hidden;
        max-height: 0;

        &_active{
            transition: max-height 0.8s ease;
            max-height: 100vh;

            @include MediaQueries($desktop-and-below) {
                transition: max-height 0.8s ease;
                max-height: 100vh;
            }
        }

        &_complete{
            transition: max-height 0.8s ease;
            max-height: auto;

            @include MediaQueries($desktop-and-below) {
                max-height: 100vh;
            }
        }
    }

    &__exit {
        transition: max-height 0.6s ease;
        overflow: hidden;
        max-height: 100vh;
        @include MediaQueries($desktop-and-below) {
            max-height: 100vh;
        }

        &_active{
            transition: max-height 0.6s ease;
            max-height: 0;
        }

        &_complete{
            transition: max-height 0.6s ease;
            max-height: 0;
        }
    }
}
