// ****************************************
// filters
// ****************************************

.build-your-own {

    .filter-waypoint-wrapper {
        @include MediaQueries($desktop-tablet-and-above) {
            min-height: getUnitValue(12);
            z-index: 1;

            &.filter-fixed {
                z-index: 9;
                height: 0;
                width: 0;
            }
        }
        &.filter-fixed {
            @include MediaQueries($desktop-and-below) {
                min-height: getUnitValue(3);
            }
        }

        @include MediaQueries($desktop-and-below) {
            margin: 0 getUnitValue(2);
        }
    }

    .grid-page__pagination {
        white-space: nowrap;
        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(4) 0 0 getUnitValue(2);
            margin-top: getUnitValue(0);
        }

        @include MediaQueries($below-desktop-tablet){
            margin-top: 0;
            padding: 0 0 getUnitValue(1) getUnitValue(2);
        }
    }

    .filters-component {
        @include MediaQueries($tablet-and-below) {
            padding: getUnitValue(1) 0;
        }

        @include MediaQueries($below-desktop-tablet) {
            .filter-icon-mobile,
            .sortby-wrapper__sort-title {
                font-size: $font-size-14;
                @include font-family($font_santral_regular);

            }
        }

        .sortby-wrapper__button {
            .icon-dropdown-down,.icon-dropdown-up {
                margin-left: getUnitValue(1);
            }
        }

        .grid-page__pagination {
            padding: 0;
        }

        &.filters--desktop{
            z-index: $modal-maxZIndex;
            .filters-component__body {
                @include MediaQueries($above-large-desktop) {
                    padding-left: 0;
                }

                @include MediaQueries($below-desktop-tablet) {
                    .sortby-wrapper__sort-title {
                        .icon-dropdown-right {
                            padding-left: getUnitValue(1);
                        }
                    }
                }

                .filters-component__filterby-wrapper{
                    padding-left: 0;

                    @include MediaQueries($below-desktop-tablet){
                        margin-left: 0;
                        padding-left: getUnitValue(2);
                    }
                }

                .selected-filters--outside-overlay {
                    .selected-filters__container_list-item {
                        padding-left: 0;

                        .grid-page__pagination {
                            @extend .show__inline-block, .hide__below-desktop-tablet;
                            margin: 0;
                        }

                        @include MediaQueries($above-large-desktop) {
                            padding-left: 0;
                        }

                        &.selected-filters__container_list-item_container {
                            @extend .col__full;
                        }
                    }
                }
            }
        }

        &.filters--sticky {
            z-index: $modal-maxZIndex;

            @include MediaQueries($desktop-tablet-and-above) {
                border-bottom: none;
            }

            .grid-page__pagination {
                &.showing-text {
                    @extend .hide;
                }
            }

            .filters-component__body {
                padding-bottom: getUnitValue(1);
                @include MediaQueries($above-large-desktop) {
                    padding-left: 0;
                }

                .filters-component__filterby-wrapper {
                    @include MediaQueries($above-large-desktop) {
                        padding-left: getUnitValue(3);
                    }

                    @include MediaQueries($desktop-tablet-above-and-tablet-max){
                        padding-left: 0;
                    }

                    @include MediaQueries($below-desktop-tablet){
                        padding-left: 0;
                        margin-left: 0;
                    }
                }

                .selected-filters--outside-overlay {
                    .selected-filters__container_list-item {
                        padding: 0 getUnitValue(6.5);
                        @include MediaQueries($desktop-tablet-and-above) {
                            padding: getUnitValue(1) getUnitValue(6.5) 0;
                        }
                        @include MediaQueries($above-large-desktop) {
                            padding-left: getUnitValue(3);
                        }

                        .grid-page__pagination {
                            @extend .show__inline-block, .hide__below-desktop-tablet;
                            margin-bottom: 0;
                        }

                        &.selected-filters__container_list-item_container {
                            @extend .col__full;
                        }
                    }
                }
                @include MediaQueries($below-desktop-tablet) {
                    .sortby-wrapper__sort-title {
                        .icon-dropdown-right {
                            padding-left: getUnitValue(1);
                        }
                    }
                }
            }
        }

        &.filters--sticky {

            .scroll-position {
                padding-top: getUnitValue(4);
            }

            @include MediaQueries($desktop-and-below) {
                z-index: $modal-maxZIndex + 2;
            }
        }

        .selected-filters {
            @include MediaQueries($below-desktop-tablet){
                height: 0;
                padding: 0;
                transition: all 0.25s;

                &.options-selected{
                    height: getUnitValue(17);
                    padding: getUnitValue(2);
                }
            }
            &__container {
                &_list{
                    &_clear-btn {
                        height: getUnitValue(5);
                        padding: 0 getUnitValue(2);
                    }
                }
            }

            &__done-btn{
                height: getUnitValue(6);
                padding-top: 0;
            }
        }

        &__filterby-wrapper{
            @include MediaQueries($below-desktop-tablet){
                height: 100%;
            }

            .filterby-wrapper__filterby-options{
                .main-option{
                    .main-option__title {
                        .down-arrow {
                            margin-bottom: 0px;
                        }
                    }
                    .main-option__sub-list{
                        @include MediaQueries($below-desktop-tablet){
                            transition: all 0.4s;
                            display: block;
                            &.sub-list--hide {
                                visibility: hidden;
                                height: 0;
                                margin-top: 0;
                            }
                            &.sub-list--show {
                                visibility: visible;
                                height: 100%;
                                margin-top: getUnitValue(3);
                            }
                        }
                        .sub-list__sub-option{
                            &.sub-list--selected .sub-option__checkbox--active {
                                top: getUnitValue(1.5);
                                @include MediaQueries($desktop-tablet-and-above) {
                                    top: 8px;
                                }
                            }
                        }
                    }

                    &__custom-prices{
                        &_submit{
                            border: 1px solid $black;

                            &:disabled{
                                border: 1px solid $whisper;
                            }
                        }
                    }
                }
            }
        }

        .filter-icon-mobile{
            @include MediaQueries($below-desktop-tablet) {
                padding-top: 0;
            }
        }

        .selected-filters__container_list-item {
            overflow: hidden;
            @extend .tiffany-blue-custom-scroll-bar;
            .ps {
                display: inherit;
                height: 100%;
                padding-right: getUnitValue(2);
            }
            .selected-filters__list-title{
                margin-top: getUnitValue(3);
                @include MediaQueries($desktop-tablet-and-above) {
                    margin-top: 0;
                }

            }

            @include MediaQueries($desktop-tablet-and-above) {
                overflow-x: hidden;
            }
        }

        .selected-filters--outside-overlay{
            .selected-filters__container_list-item{
                @include MediaQueries($desktop-tablet-and-above) {
                    max-width: auto;
                }
                .selected-filters__container_list-item_container {
                    .selected-filters__list-title {
                        @extend .display__inline-block;
                        padding: 0 20px;
                        margin: 0;
                    }
                    .slick-list {
                        @extend .col__full;
                        padding: 0 getUnitValue(4.5);
                    }
                    .slick-slider {
                        @extend .display__block;
                        height: 100%;
                        overflow: hidden;
                    }
                    .slick-track {
                        margin-left: 0;
                        margin-right: 0;
                    }
                    .slick-next, .slick-prev {
                        position: absolute;
                        top: 0;
                        margin-top: 0;
                    }
                }
            }
        }

        .filterby-wrapper__filterby-options{
            .main-option{

                &.main-option-price {
                    @include MediaQueries($desktop-medium) {
                        position: static;
                    }
                }

                &.themes {
                    @include MediaQueries($desktop-tablet-and-above) {
                        position: static;
                    }
                }

                &__title{
                    @extend .hover-cta;

                    @include MediaQueries($desktop-and-below) {
                        &:before {
                            background: none;
                        }
                    }
                    &_content {
                        @include MediaQueries($desktop-tablet-and-above) {
                            top: 0;
                            &:before {
                                background: none;
                            }
                        }
                    }
                    &:hover {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .mobile-tray-collapse + {
        .byo-container .filters--sticky, .byo-grid-page .filters--sticky {
            top: 130px !important;

            @include MediaQueries($desktop-and-below) {
                top: 136px !important;
            }
        }
    }

    .fixed-header &, .restrict-body-scroll & {
        .tray-container {
            top: getUnitValue(8);
        }

        @include MediaQueries($desktop-and-below) {
            .tray-container {
                top: getUnitValue(6);
            }

            .byo-container .filters--sticky, .byo-grid-page .filters--sticky {
                top: 170px !important;
            }

            .mobile-tray-collapse + {
                .byo-container .filters--sticky, .byo-grid-page .filters--sticky {
                    top: getUnitValue(11) !important;
                }
            }
        }
    }

    .selected-filters__container_list {
        @include MediaQueries($below-desktop-tablet) {
            overflow-x: auto;
            overflow-y: hidden;

            .selected-filters__container_list-item {
                position: relative;
                left: 0;
                right: 0;
                .selected-filters__list-title {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    @include MediaQueries($below-desktop-tablet) {
        .filters-component__sortby-wrapper {
            display: inline-block;
            .sortby-wrapper__sort-title {
                padding-top: 0;
                justify-content: flex-end;

                .icon-dropdown-right {
                    padding: 0;
                    line-height: 1.5
                }
            }
            .sortby-wrapper__sortby-options{
                position: absolute;
                right: 0px;
                top: getUnitValue(1);
            }
        }

        .filters-component .close-sub-menu-btn-mobile {
            @include MediaQueries($below-desktop-tablet){
                font-size: $font-size-16;
            }
        }

        .filters-component.filters--desktop .filters-component__body,
        .filters-component.filters--sticky .filters-component__body {
            padding: getUnitValue(1) 0;
        }

        .marketing-product-tiles .browse-grid .product-tile .tile-buttons {
            min-height: getUnitValue(6);
        }
    }
    .container-centered {
        @include MediaQueries($above-large-desktop) {
            margin: 0 auto;
            padding-left: getUnitValue(3);
        }
    }

    .selected-filters__container_list {
        @include MediaQueries($below-desktop-tablet) {
            margin-left: 0;
        }
    }

    .sub-option__label {
        align-items: center;
    }

    .filters-component__filterby-wrapper{
        @include MediaQueries($below-desktop-tablet) {
            display: block !important;
            visibility: hidden;
            transition: all 0.25s linear;
            left: 100%;
        }
        @include MediaQueries($desktop-tablet-and-above) {
            .filterby-wrapper__filter-title {
                line-height: 2;
            }
        }
        .filterby-wrapper__filterby-options{
            .main-option {
                .sub-option__title {
                    .sub-option__label {
                        @include MediaQueries($below-desktop-tablet) {
                            height: getUnitValue(4) !important;
                            &--text {
                                .cta-content {
                                    @include font-family($font_santral_light);
                                }
                            }
                        }
                    }
                }
                .sub-option__product-count {
                    @include MediaQueries($below-desktop-tablet) {
                        @include font-family($font_santral_light);
                    }
                    @include MediaQueries($desktop-tablet-and-above) {
                        line-height: 24px;
                    }
                }
            }
            &.themes-filter {
                @include MediaQueries($desktop-tablet-and-above) {
                    position: static;
                }
            }
        }
    }

    .sort-clear-container {
        @include MediaQueries($below-desktop-tablet){
            padding-right: 0;
        }

        @include MediaQueries($desktop-tablet-and-above) {
            &.sort-clear-container--hide {
                margin-top: 0px;
            }
        }

        .selected-filters--outside-overlay {
            @include MediaQueries($below-desktop-tablet) {
                display: block !important;
                visibility: hidden;
                transition: all 0.25s linear;
                left: 100%;

                &.selected-filters--show {
                    visibility: visible;
                    left: 0;
                }
            }
        }
    }
    .show-mobile-filter {
        .filters-component__filterby-wrapper{
            @include MediaQueries($below-desktop-tablet) {
                left: 0;
                visibility: visible;
            }
        }
    }

    .sub-list--show {
        @include MediaQueries($desktop-tablet-and-above) {
            height: getUnitValue(33);
        }
    }

    .arrow-mobile--hide {
        @extend .hide__below-desktop-tablet;
    }
}
