
.pdp-engraving {
    overflow-y: auto;
    overflow-x: hidden;

    &.tiffany-inline-modal {
        position: fixed;
        z-index: $modal-maxZIndex !important;
        background: $transparent;
        
        @include MediaQueries($desktop-and-below) {
            top: 0 !important;
            height: 100% !important;
        }
    }

    .content-band--60x40 {
        width: 100vw;
        padding: 0;

        .band-item {
            &:nth-child(2) {
                padding: 0 5%;
            }
        }

        @include MediaQueries($above-tablet-and-below-desktop) {
            .band-item {
                &:nth-child(1) {
                    width: 62.5%;
                }

                &:nth-child(2) {
                    width: 37.5%;
                    padding: 0 3%;
                }

                .text-wrapper__holder_text {
                    width: getUnitValue(9);
                    height: getUnitValue(9);
                }

                .font-wrapper__font {
                    // max-width: 113px;
                    // max-height: 113px;
                    // min-width: 124px;
                    // min-height: 124px;
                }

                .font-wrapper__font_name {
                    font-size: $font-size-14;
                }

                .engraving-wrapper {
                    width: 100%;
                }
            }
        }

        @include MediaQueries($desktop-and-below) {
            .band-item {
                &:nth-child(2) {
                    padding: 0 getUnitValue(2) getUnitValue(14);
                }
            }
        }
    }

    &__btn {
        @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
        padding: 0;
        background: none;

        &.cta {
            padding: 0;
        }
    }

    .engraving-anim-ref {
        position: fixed;
        transition: all 1s ease;
        -ms-transition: all 1s ease;
        background-color: $white;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        @include MediaQueries($desktop-and-below) {
            top: 0 !important;
            height: 100% !important;
            z-index: $modal-maxZIndex + 5;
        }
    }

    .pdp-engraving-animation {
        &_enter{
            @extend .engraving-anim-ref;
            left: 100vw;
            &-active {
               @extend .engraving-anim-ref;
                left: 0;
            }
            &-done {
                @extend .engraving-anim-ref;
                position: absolute;
                top: 0 !important;
                left: 0;
                transition: all 0s;
                height: 100% !important;

                & .tiffany-inline-modal--close {
                    background-color: $white;
                    right: getUnitValue(5);
                    img, svg {
                        width: getUnitValue(3);
                        height: getUnitValue(3);
                    }

                    @include MediaQueries($above-tablet-and-below-desktop) {
                        right: getUnitValue(3);
                    }
                }
            }
        }
        &_exit{
            @extend .engraving-anim-ref;
            position: absolute;
            top: 0 !important;
            left: 0;
            
            &-active {
                @extend .engraving-anim-ref;
                position: absolute;
                top: 0 !important;
                left: 100vw;
            }
            &-done {
                @extend .engraving-anim-ref;
                left: 100vw;
            }
        }
    }

    .icon-dropdown-up {
        display: inline-block;
        margin-left: getUnitValue(1);
        padding: 0;
        position: relative;
        top: 1px;
    }
}
.pdp-engravingText__btn {
    text-decoration: underline;
}
.engravable-product {
    &__btn {
        &.cta{
            @include font($font-size-12, $font-weight-normal, $black, 1.5, false);
            padding: 0;
            background: none;
        }

        &.btn {
            @extend .btn, .btn--outline;
        }
    }
}

.engraving-in-modal {

    @include MediaQueries($desktop-and-below) {
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
    }

    .modal-content {
        @extend .tiffany-blue-custom-scroll-bar;
        min-height: getUniValue(88);
        overflow-y: hidden !important;
        
        .ios & {
            overflow-y: auto !important;
        }

        .ps:first-child{
            max-height: inherit;

            @include MediaQueries($desktop-and-above) {
                .ps__rail-x {
                    display: none;
                }
            }
        }

        .content-band--60x40 {
            padding: 0;
        }
    }
}
