<article class="editorial-carousel app-js__editorial-carousel">
    <div class="content-band--40x60">
        <div class="band-item">
            {{> content-tile
                textAlignment = landing-page.variation3.textAlignment
                heading       = landing-page.variation3.heading
                description   = landing-page.variation3.description
                ctaLink       = landing-page.variation3.ctaLink
                ctaTarget     = landing-page.variation3.ctaTarget
                ctaText       = landing-page.variation3.ctaText
            }}
        </div>
        <div class="band-item">
            {{> picture
                isLazyLoad = true
                desktopSrc = landing-page.variation3.imageSrc
                mobileSrc  = landing-page.variation3.imageSrc
                altText    = landing-page.variation3.imageAlt
            }}
        </div>
    </div>
    <div class="editorial-carousel__holder">
        {{#each landing-page.carouselData}}
            {{> product-tile}}
        {{/each}}
    </div>
</article>
