// ****************************************
// breadcrumb
// ****************************************
.breadcrumb {
    position: relative;

    &__container {
        @extend .display__block, .tf-g__center;
        @include font($font-size-14, $font-weight-light, $black, 1.71, false);
        @include font-family($font_santral_light);
        padding: getUnitValue(2) 0;
        border-top: 2px solid $tiffanyBlue;

        &_link {
            @extend .display__inline-block;
            @include font($font-size-14, $font-weight-light, $black, 1.71, false);
            margin: 0;

            &:before {
                @extend .display__inline-block, .vertical-align__top;
                content: '.';
                height: 100%;
                line-height: 1rem;
                padding: 0 getUnitValue(0.5);
                @include MediaQueries($desktop-and-below) {
                    position: relative;
                    bottom: 5px;
                }

            }

            &:first-child:before {
                content: '';
                display: none !important;
            }

            &.active {

                @include font-family($font_santral_semi_bold);
                font-weight: $font-weight-600;
                padding-right: getUnitValue(3);

                .breadcrumb__container_link_item {
                    &:hover {
                        background: none;
                    }
                }
                &_item {

                    &:focus {
                        .keyboard--focussed & {
                            outline:none;
                            box-shadow: 0 0 0 1px $bondiBlue;
                        }
                    }
                }
            }

            &_item {
                border: none;
                @extend .hover-cta;
                .keyboard--focussed & {
                    &:focus {
                        border: 1px solid $bondiBlue;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }

            @include MediaQueries($desktop-and-below) {
                &:first-child {
                    margin-left: 16px;
                }
            }

            &_item {
                &:focus {
                    .keyboard--focussed & {
                        outline:none;
                        box-shadow: 0 0 0 1px $bondiBlue;
                    }
                }
            }
        }

        @include MediaQueries($desktop-and-below) {
            white-space: nowrap;
            overflow-x: auto;
            padding-right: getUnitValue(2);

            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
                display: none;
            }

            &_link {
                font-size: $font-size-14;
                line-height: 1;
            }
        }
    }

    @include MediaQueries($desktop-and-below) {
        padding-left: 0;
        &:after{
            position: absolute;
            content: "";
            width: getUnitValue(2);
            height: calc(100% - 2px);
            top: 0;
            right: 0;
            margin-top: 2px;
            background: linear-gradient(to right, $grayshade-two, $white);
        }
    }
}
