<article class="breadcrumb app-js__breadcrumb">
    <ul class="breadcrumb__container">
        {{#each data}}
            <li class="breadcrumb__container_link {{#if isActive}}active{{/if}}">
                {{#unless isActive}}
                    <a class="breadcrumb__container_link_item" href="{{linkUrl}}">{{linkText}}</a>
                {{else}}
                    <span class="breadcrumb__container_link_item" tabindex="0">{{linkText}}</span>
                {{/unless}}
            </li>
        {{/each}}
    </ul>
</article>
