.product-flyout {
    overflow: hidden;

    .ios & {
        -webkit-overflow-scrolling: touch;
    }

    &__container {
        position: relative;
        background: $white;
        display: none;

        &.product-flyout-shown {
            @extend .tiffany-blue-custom-scroll-bar;
            display: block;

            .ios & {
                padding: getUnitValue(9) getUnitValue(2) getUnitValue(3);
            }

            .ps {
                height: 100%;
                padding: getUnitValue(9) getUnitValue(2) getUnitValue(3);
                .ps__rail-x {
                    @extend .hide;
                }
            }
        }

        @include MediaQueries($desktop-and-above) {
            display: block;
            position: fixed;
            top: getUnitValue(8);
            right: getUnitValue(-60);
            width: getUnitValue(60);
            z-index: $modal-maxZIndex + 2;
            height: 100vh;
            overflow: auto;
            transition: right 0.5s ease-in-out 0.1s;
            visibility: hidden;

            &.product-flyout-shown {
                right: 0;
                visibility: visible;
                .ps {
                    padding: getUnitValue(5);
                }
            }
        }
        @include MediaQueries($desktop-and-below) {
            top: 0 !important;
            width: 100%;
            height: 100%;
            transition: none;
            position: fixed;
            z-index: $modal-maxZIndex + 2;
            right: 0;
            overflow: auto;
        }

        &_close {
            position: absolute;
            top: getUnitValue(3);
            right: getUnitValue(1);
            font-size: $font-size-24;
            padding: 0;
            background: transparent;
            border: none;
            margin-top: getUnitValue(2.5);

            @include MediaQueries($desktop-and-above) {
                right: getUnitValue(5);
                top: getUnitValue(3);
            }
        }

        &_props {
            flex-wrap: nowrap;
            padding-top: getUnitValue(7);
            padding-bottom: getUnitValue(4);
            border-bottom: 1px solid $filterColorImageBorder;

            &_image {
                width: 42%;

                picture {
                    max-width: 100%;
                }
            }

            &_details {
                margin-left: getUnitValue(2);
                margin-top: getUnitValue(1);
                width: calc(60% - 24px);           

                &_name {
                    @include font($font-size-16, $font-weight-normal, $black, 1.5, false);
                    @include font-family($font_sterling_display_roman);
                }

                &_price {
                    @include font($font-size-12, $font-weight-light, $black, normal, false);
                    @include font-family($font_santral_regular);
                    margin-top: getUnitValue(2);
                }
            }
        }

        &_description {
            @include font-family($font_santral_regular);
            padding-top: getUnitValue(5);
            margin-bottom: getUnitValue(3);

            &.submitted {
                margin-bottom: getUnitValue(7);
            }

            @include MediaQueries($desktop-and-above) {
                padding-top: getUnitValue(3);
            }

            &_text {
                @include font($font-size-16, $font-weight-light, $black, 1.5, false);
                @include font-family($font_santral_light);
                padding-right: 6px;
            }

            &_name {
                @include font-family($font_santral_semi_bold);

                &-submitted {
                    @include font($font-size-16, $font-weight-light, $black, 1.5, false);
                    @include font-family($font_santral_regular);
                }
            }
        }

        &_email {
            &_description {
                margin-bottom: getUnitValue(4);

                .tiffany-rte {
                    p {
                        @include font($font-size-16, $font-weight-light, $black, 1.5, false);
                        @include font-family($font_santral_light);
                    }
                }
            }

            &_input {
                @include font($font-size-16, $font-weight-normal, $black, normal, false);
                @include font-family($font_santral_regular);
                margin-top: 0px;
                margin-bottom: getUnitValue(1);

                &.material-input {
                    input {
                        &.input {
                            width: 100%;
                            display: inline-block !important;
                            @include font-family($font_santral_light);
                            margin-bottom: getUnitValue(3) !important; // to override material input styles
                            -webkit-appearance: none;

                            @include MediaQueries($desktop-and-above) {
                                margin-bottom: getUnitValue(4) !important; // to override material input styles
                            }
                        }
                    }
                }

                .input-label {
                    @include font($font-size-14, $font-weight-light, $filter-gray, normal, false);
                    @include font-family($font_santral_regular);
                }
            }

            &_error {
                @include font($font-size-10, $font-weight-normal, $crimson-red, 1.6, false);
                @include font-family($font_santral_regular);
                margin-top: getUnitValue(-3);
                outline: none;

                .tiffany-rte {
                    p {
                        @include font($font-size-10, $font-weight-normal, $crimson-red, 1.6, 0);
                        @include font-family($font_santral_regular);
                    }
                }

                @include MediaQueries($desktop-and-above) {
                    margin-top: getUnitValue(-4);
                    min-height: getUnitValue(4);
                }
            }
        }

        &_submit {
            @include MediaQueries($desktop-and-above) {
                padding-bottom: getUnitValue(5);
            }

            &_button {
                @include font($font-size-14, $font-weight-600, $white, 1.14, normal);
                @include font-family($font_santral_semi_bold);
                padding: getUnitValue(2) getUnitValue(3);
                border: none;
                background: $whisper;
                margin-bottom: getUnitValue(5);
                height: getUnitValue(7);
                cursor: not-allowed;

                @include MediaQueries($desktop-and-above) {
                    max-width: getUnitValue(30);
                }
            }

            & .buttonActive {
                padding: getUnitValue(2) getUnitValue(3);
                cursor: pointer;
            }
        }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: getUnitValue(8);
        left: 0;
        background-color: $dim-white;
        opacity: .25;
        z-index: $back-to-top-zIndex;
        display: none;
        &.overlay-shown {
            display: block;
        }
    }

    button.icon-Close:focus {
        border: 1px solid $bondiBlue;
    }
}
