// ****************************************
// marketing-content-picture-tile Component
// ****************************************

.marketing-content-picture-tile {

    @extend .col__full, .col-md__full, .col-sm__full;

    a.browse-grid-2x1-cta {
        @extend .cta;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    a.cta {
        &:before {
            background: none;
        }
    }

    .adjust-position {

        padding: 0 !important;

        @include MediaQueries($tablet-and-below) {
            position: static;
        }
    }

    .content-tile {
        padding: getUnitValue(13) getUnitValue(18) getUnitValue(21) getUnitValue(28);

        @include MediaQueries($tablet-and-below) {
            padding: getUnitValue(8) getUnitValue(2);
        }
    }

    .picture-tile {
        padding: 0 getUnitValue(1);

        .browse-grid & {
            padding: 0;
        }

        img {
            @extend .col__full;
        }
    }

    .hide-image {

        @include MediaQueries($desktop-and-below) {
            display: none !important;
        }
    }
}

.grid-page {
    .marketing-content-picture-tile {
        a.browse-grid-2x1-cta {
            @extend .display__inline-block;
            line-height: 1;
            background: transparent;
            width: auto !important; //overriding inline styles
        }
    }
}

.grid-page {
    .layout_4x1 {
        .marketing-content-picture-tile {
            width: auto !important;
        }
    }            
}