// ****************************************
// stores-filter
// ****************************************

.stores-filter {
    position: relative;
    padding: 0 getUnitValue(6.5);

    @include MediaQueries($desktop-and-below) {
        padding: 0 getUnitValue(2);
    }

    &__label {
        @extend .display__inline-block;
        @include font($font-size-12, normal, $filter-gray, 2, 0);
        padding-right: getUnitValue(1);
        font-weight: $font-weight-normal;

        @include MediaQueries($tablet-and-below) {
            font-size: $font-size-16;
        }
    }

    &__regions {
        @extend .display__inline-block;

        @include MediaQueries($desktop-and-below) {
            display: none !important;
        }

        &-trigger {
            @extend .cta;
            @include font($font-size-12, normal, $black, 2, normal);
            background: $white;
            border: none;
            @include font-family($font_santral_regular, $important);
            padding: 0;
            text-align: left;

            &:focus {
                background-color: $tiffanyBlue;
            }

            &::after {
                @extend .display__inline-block, .vertical-align__middle;
                margin-left: getUnitValue(1);
            }

            &.icon-upArrow, &.icon-downArrow {
                color: $black !important;
            }
        }

        &-button {
            margin-right: getUnitValue(5);
        }

        &-content {
            @extend .tf-g;
            position: absolute;
            background: $white;
            padding: getUnitValue(4) 0;
            height: 400px;
            left: 0;
            top: 24px;
            width: 100% !important;
            z-index: $modal-maxZIndex;

            @include MediaQueries($desktop-medium) {
                padding: getUnitValue(3) 0;
            }

            &-dropdown {
                @extend .col-2-12, .tf-g__no-grow;
                height: 365px;
                background: $white;

                .stores-filter__states-dropdown & {
                    @extend .col__full;
                }

                &.no-heading {
                    padding-top: getUnitValue(8);
                }

                &-heading {
                    @include font-family($font_santral_semi_bold);
                    @include font($font-size-14, $font-weight-600, $black, 1.71, normal);
                    padding-bottom: getUnitValue(2);
                }

                &-list {
                    display: flex;
                    flex-direction: column;
                    height: getUnitValue(42);
                    flex-wrap: wrap;

                    .stores-filter__states-dropdown & {
                        padding-top: 0;
                    }

                    li {
                        @include font($font-size-16, $font-weight-normal, $black, 1.5, normal);
                        padding: 0 getUnitValue(2) getUnitValue(2) 0;

                        a {
                            @extend .cta;
                        }

                        &.current {
                            position: relative;

                            &::before {
                                line-height: 1px;
                                left: getUnitValue(-2);
                                top: getUnitValue(-0.5);
                                content: ".";
                                font-size: 50px;
                                position: absolute;
                                color: $bondiBlue;
                            }
                        }
                    }
                }
            }

            .two-column-list {
                @extend .col-3-12;
            }
        }

        &-select {
            font-size: $font-size-16;
            @include font-family($font_santral_regular);
            appearance: none;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &__selectbox {
        display: none;

        @include MediaQueries($desktop-and-below) {
            display: inline-block;
            font-size: $font-size-16;
            @include font-family($font_santral_regular);
            padding-right: 6px;

            &.states-select {
                width: 100%;
            }
        }
    }

    &__store-count {
        padding: 53px 0 getUnitValue(5) 0;
        line-height: 1.33;
        font-size: $font-size-12;
        @include font-family($font_santral_regular);
    }

    .stores-filter__regions-trigger {
        font-size: .75rem;
        font-weight: 400;
        color: $black;
        line-height: 2;
        letter-spacing: normal;
        background: $white;
        border: none;
        @include font-family($font_santral_regular, $important);
    }

    .stores-filter__states-select  {
        font-size: $font-size-16;
        @include font-family($font_santral_regular);
        appearance: none;
        background: none;
        border: none;
        padding: 0;
    }

    &__overlay {
        @extend .display__none;
        height: 100vh;
        width: 100vw;
        background: $dim-white;
        margin-left: -67px;
        opacity: .25;
        position: absolute;
    }
}
