<article class="stores-filter app-js__stores-filter container">
    <div class="stores-filter__filter-bar">
        <p class="stores-filter__label" role="heading" aria-level="1">
            Filter by:
        </p>
        <div class="stores-filter__regions">
            <button type="button" data-defaultregionlabel="Region" class="stores-filter__regions-trigger stores-filter__regions-button icon-downArrow">
                Region
            </button>
            <div class="stores-filter__regions-content stores-filter__regions-dropdown hide">
                <div class="stores-filter__regions-content-dropdown two-column-list">
                    <h3 class="stores-filter__regions-content-dropdown-heading">Americas</h3>
                    <ul class="stores-filter__regions-content-dropdown-list">
                        <li>
                            <a data-statelabel='State' href="/canada" tabindex="0">United States</a>
                        </li>
                        <li class="current">
                            <a data-statelabel='Province' href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                    </ul>
                </div>
                <div class="stores-filter__regions-content-dropdown">
                    <h3 class="stores-filter__regions-content-dropdown-heading">Europe</h3>
                    <ul class="stores-filter__regions-content-dropdown-list">
                        <li>
                            <a href="/canada" tabindex="0">United Kingdom</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                    </ul>
                </div>
                <div class="stores-filter__regions-content-dropdown no-heading">
                    <ul class="stores-filter__regions-content-dropdown-list">
                        <li>
                            <a href="/canada" tabindex="0">United Kingdom</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stores-filter__regions">
            <button type="button" class="stores-filter__regions-trigger stores-filter__states-button icon-downArrow">
                States
            </button>
            <div class="stores-filter__regions-content  stores-filter__states-dropdown hide">
                <div class="stores-filter__regions-content-dropdown">
                    <ul class="stores-filter__regions-content-dropdown-list">
                        <li>
                            <a data-stateid="az" tabindex="0">Arizona</a>
                        </li>
                        <li>
                            <a data-stateid="ca" tabindex="0">California</a>
                        </li>
                        <li class="current">
                            <a data-stateid="all" tabindex="0">All</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">United Kingdom</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">United Kingdom</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a data-stateid="az" tabindex="0">Arizona</a>
                        </li>
                        <li>
                            <a data-stateid="ca" tabindex="0">California</a>
                        </li>
                        <li>
                            <a data-stateid="all" tabindex="0"></a>All</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">United Kingdom</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">Mexico</a>
                        </li>
                        <li>
                            <a href="/canada" tabindex="0">United Kingdom</a>
                        </li>
                        <li>
                            <a href="" tabindex="0">Canada</a>
                        </li>
                        <li>
                            <a href="" tabindex="0">Mexico</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stores-filter__selectbox">
            <select class="stores-filter__regions-select">
                <option value='tiffany.com'>United States</option>
                <option value='tiffany.co.eu'>Europe</option>
                <option value='tiffany.co.ec'>Canada</option>
                <option value='tiffany.co.ma' selected="selected">Mexico</option>
                <option value='tiffany.co.maa'>Mexico</option>
            </select>
            <i class="icon-dropdown-down"></i>
        </div>
        <div class="stores-filter__selectbox states-select">
            <select class="stores-filter__states-select ">
                <option value="AZ" >United States</option>
                <option value="ca" >Europe</option>
                <option value="" >Canada</option>
                <option value="" >Mexico</option>
                <option value="" >Mexico</option>
            </select>
            <i class="icon-dropdown-down"></i>
        </div>
        <div class="stores-filter__overlay"></div>
    </div>
    <div class="stores-filter__store-count">
        <span>44</span> Stores
    </div>
</article>
