<article class="sign-out app-js__sign-out">
    <div class="sign-out__container hide">
        <a class="cta sign-out__container_cta" href="{{signout.ctaHref}}" tabindex="0" target="{{signout.ctaTarget}}">
            <span class="cta-content">
                <span class="cta-text" tabindex="-1">{{signout.ctaText}}</span>
            </span>
            <span class="icon-dropdown-right"></span>
        </a>
    </div>
</article>
