.product-description {
    @extend .tf-g, .tf-g__between;
    height: auto;
    align-content: space-between;

    &.engagement {
        .metal-availability__container {
            padding-bottom: getUnitValue(2);

            &_content {
                padding-top: 20px;
                display: none;
            }
            &_toptext {
                padding-top: 0;
            }
            &_button {
                & .icon-dropdown-up {
                    transform: rotate(0deg);
                    padding-top: 3px;
                }

                & .icon-dropdown-down{
                    padding-top: 3px;
                }
            }
        }
        .product-description__content_title {
            padding-bottom: getUnitValue(1);
        }
        .product-description__style {
            padding-bottom: getUnitValue(2);
        }
        .product-description_buttons_contact-expert,
        .product-description_buttons_choose-diamond {
            margin-top: 0;
        }
        .engagement-pdp__product-description__addtobag {
            padding-bottom: getUnitValue(2);
        }
        .product-description_buttons_choose-diamond {
            margin-bottom: getUnitValue(2);
        }
        .diamond-carousel-card__carousel-origin-holder {
            padding: 0 0 getUnitValue(3);
        }
        .product-description_informaton_text {
            margin-bottom: getUnitValue(4);
        }
        .product-description__social-sharing {
            padding-bottom: 12px;
        }
        .product-description_buttons {
            padding-top: 20px;
        }
        .modifiers__container.engagement {
            .cta-content:hover {
                background: none;
            }
        }
        @include MediaQueries($desktop-and-below) {
            .product-description_informaton_text {
                margin-bottom: getUnitValue(3);
            }
        }
    }

    .engagement-buttons-sticky {
        @include MediaQueries($tablet-large-and-below) {
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            padding: getUnitValue(2);
            border-top: 1px solid $black;
            background: $white;
            z-index: 1;
        }
    }

    @include MediaQueries($desktop-and-below) {
        padding: 36px getUnitValue(2) 0 getUnitValue(2);
    }

        &__container {
            @extend .relative-holder;
            height: auto;

            @include MediaQueries($desktop-and-below) {
                width: 100%;
                padding: 0;
            }
        }

        &_style {
            @extend .col__full;
            @include font($font-size-12, $font-weight-normal, $black, 1.33, 0);
            @include font-family($font_santral_regular);
            padding-bottom: getUnitValue(3);
            @include MediaQueries($desktop-and-below) {
                @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                @include font-family($font_santral_light);
            }
        }

        &_romance-copy {
            padding-top: getUnitValue(4);
            margin-bottom: getUnitValue(0.5);
            word-break: break-word;
            -ms-word-break: break-all;

            &_text {
                @extend .relative-holder, .overflow-hidden;
                @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                @include font-family($font_santral_light);
                margin-right: -getUnitValue(2);
                padding-right: getUnitValue(2);
            }

            &_specifications {
                display: none;
                padding-top: getUnitValue(1);

                &_item {
                    @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                    @include font-family($font_santral_light);
                    list-style-type: disc;
                    margin-left: getUnitValue(2);
                }
            }
        }

        &_load-more {
            background: $white;
            border: 0;
            padding: 0;
            text-align: start;
            margin-bottom: getUnitValue(2);

            .cta-content {
                .icon-dropdown-down, .icon-dropdown-up {
                    margin-left: getUnitValue(1);
                }
                .icon-dropdown-up {
                    line-height: 1.71;
                    &:before {
                        vertical-align: middle;
                    }
                }
            }
        }
        @include MediaQueries($desktop-and-below) {
            button.product-description_load-more.cta {
                &:before{
                    background: none;
                }
            }
        }

        &_price {
            @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
            @include font-family($font_santral_light);
            margin-bottom: getUnitValue(1);
        }

        &_informaton {
            &_text {
                @extend .display__inline-block;
                @include font($font-size-12, $font-weight-normal, $boulder, 1.33, 0);
                @include font-family($font_santral_regular);
                margin-bottom: getUnitValue(7);

                &-label {
                    padding-right: getUnitValue(1);
                }

                @include MediaQueries($desktop-and-below) {
                    margin-bottom: getUnitValue(4);
                }
            }
            &_tooltip {
                @extend .display__inline-block;

                .tooltip-image {
                    vertical-align: baseline;
                }

                .price-from-tooltip {
                    opacity: 1;
                    padding: getUnitVlue(0);
                    max-width: getUnitValue(30);
                }
            }
        }

        .modifiers__container.engagement-pdp-modifier {

            border: none;

            .modifiers__container_details {

                border-top: 1px solid $black;

                @include MediaQueries($desktop-and-below) {

                    padding-bottom: getUnitValue(2);

                    .modifiers__container_dropdownbutton {
                        .button {
                            min-width: 0;
                        }
                    }

                    .modifiers__container_dropdownbutton_select {

                        .select-list {
                            padding: 0 getUnitValue(2) 0 getUnitValue(1);
                        }

                        .down-arrow {
                            margin-left: 0;
                        }
                    }
                }
            }

            .modifiers__container_dropdownlist {
                padding-bottom: 0;
            }
        }

        &_metal-availability {
            .metal-availability {
                &__container {
                    @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
                    @include font-family($font_santral_regular);
                    border-top: 1px solid $black;
                    padding: 12px 0;

                    &_button {
                        @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
                        @include font-family($font_santral_regular);

                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        border: 0;
                        padding: 0;
                        background: none;

                        &.dropdown-open {
                            border-bottom-color: transparent;
                        }
                        & .icon-dropdown-up {
                            transform: rotate(0deg);
                        }
                    }

                    &_toptext {
                        @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                        @include font-family($font_santral_light);

                        padding: getUnitValue(2) 0 getUnitValue(1);
                    }

                    &_options {
                        @extend .tf-g;

                        &_item {
                            @extend .col-6-12;

                            &-wrap {
                                border: none;
                                border-bottom: 1px solid transparent;
                                display: inline-block;
                                font-size: $font-size-14;
                                height: getUnitValue(3);
                                padding: 0;

                                .icon-dropdown-right {
                                    &:before {
                                        font-size: $font-size-8;
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &_buttons {
            @extend .col__full;

            @include MediaQueries($desktop-and-below) {
                max-width: 100%;
            }

            @include MediaQueries($tablet-large-and-below) {
                background: $white;
            }

            &_choose-diamond {
                @extend .col__full, .btn-primary;
                @include font($font-size-14, $font-weight-600, $white, 1.14, 0);
                @include font-family($font_santral_regular);
                padding: getUnitValue(2);
                margin: getUnitValue(4) 0 0;
                background: $black;
                border: 1px solid $black;
            }

            &_contact-expert {
                @extend .col__full, .btn-secondary;
                @include font($font-size-14, $font-weight-600, $black, 1.14, 0);
                @include font-family($font_santral_regular);
                padding: getUnitValue(2) getUnitValue(2);
                background: $white;
                border: 1px solid $black;
                margin-top: getUnitValue(2);
            }

            &_details-holder {
                &_info {
                    @extend .tf-g, .tf-g__between, .col__full;
                    @include font($font-size-12, false, $black, 1.71, false);
                    @include font-family($font_santral_light);
                    padding-bottom: getUnitValue(2);
                }

                &_payment {
                    @extend .col__full;
                    @include font($font-size-14, false, $black, 1.71, false);
                    @include font-family($font_santral_regular);
                    padding-top: getUnitValue(2);

                    &_pretext, &_posttext {
                        @include font($font-size-14, false, $black, 24px, false);
                        @include font-family($font_santral_regular);
                    }

                    &_pretext {
                        padding-right: 4px;
                    }

                    .shipping-cta {
                        @include font($font-size-14, false, $black, 24px, false);
                        @include font-family($font_santral_regular);
                        text-decoration: underline;
                        padding: 0 4px 0 0;
                        background: transparent;

                        .cta-text {
                            text-decoration: underline;
                        }

                        :hover {
                            text-decoration: none
                        }
                    }
                }
            }
        }

    .beautiful-choice-modal {
        @extend .tf-g;

        &_carousel {
            @extend .col-6-12;
        }

        &_details {
            @extend .col-6-12;
        }
    }

    .diamond-carousel-card__certification-holder {
        padding: 0 0 getUnitValue(2);

        &_certification-tooltip {
            &_cntr {
                background: transparent;
                border: none;
                outline: none;
            }
            .certification-tooltip {
                max-width: getUnitValue(30);
                opacity: 1;
            }
        }

        &_certification-edit {
            picture {
                img , svg {
                    width: getUnitValue(2);
                    height: getUnitValue(2);
                }
            }
        }

    }

    .diamond-carousel-card__carousel-properties {
        padding: 0 0 getUnitValue(2);

        @include MediaQueries($desktop-and-below) {
            padding: getUnitValue(2);
            margin-bottom: getUnitValue(2);
            border: 1px solid $dim-white;
        }
    }

    .diamond-carousel-card__carousel-origin-holder {
        padding: 0 0 getUnitValue(4);

        &_heading {
            &_tooltip {
                .country-of-origin {
                    max-width: getUnitValue(30);
                    opacity: 1;
                }
            }
        }
    }
}

.diamond-selection {
    // height: 100vh;
    overflow: auto;
    top: getUnitValue(8);
    position: fixed;
    background-color: transparent;
    @include MediaQueries($desktop-and-below) {
        top: 0;
    }
    .content-band--60x40 {
        height: 100%;
    }
}

.diamond-selection-body {
    max-height: 100vh;
    overflow: hidden;
}

.ring-unavailable {
    padding: getUnitValue(6);
    height: 100%;
    overflow: auto;

    &_heading {
        padding-bottom: getUnitValue(2);

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(1);
        }
    }

    &_desc {
        @include font($font-size-14, false, $black, 1.71, false);
        @include font-family($font_santral_light);
        padding-bottom: getUnitValue(2);
    }

    &_btn {
        @extend .btn;
        @include font($font-size-12, false, $black, 1.33, false);
        @include font-family($font_santral_regular);
        padding: 0;
        background: transparent;

        .cta-content {
            padding-right: getUnitValue(0.5);
        }

        .icon-Right {
            vertical-align: middle;
        }
    }

    @include MediaQueries($desktop-and-below) {
        padding: getUnitValue(3);
    }
}

.change-metal-modal {
    @extend .col__full;
    height: 100%;
    background: $white;

    @include MediaQueries($desktop-and-below) {
        padding: 0 getUnitValue(2) 0;
    }

    .change-metal-color {

        .close-modal {
            @extend .btn;
            font-size: $font-size-24;
            border: none;
            background: none;
            top: getUnitValue(3);
            right: getUnitValue(3);
            height: auto !important;
            width: auto !important;

            @include MediaQueries($desktop-and-below) {
                top: 0;
                right: 0;
                font-size: $font-size-16;
            }
        }

        .content-tile {
            padding: 0;
            @extend .col-lg__5-12, .col-md__5-12, .col-sm__full, .tf-g__center;
            margin: 0 auto;

            .heading {

                @include MediaQueries($desktop-and-above) {
                    @include font($font-size-40, $font-weight-normal, $black, 1.4, normal);
                    @include font-family($font_sterling_display_roman);
                    padding-bottom: getUnitValue(3);
                }
            }

            .description {
                padding-bottom: getUnitValue(8);

                @include MediaQueries($desktop-and-below) {
                    padding-bottom: getUnitValue(4);
                    font-size: $font-size-16;
                    line-height: 1.5;
                }
            }

            .content-tile-button {
                @include MediaQueries($desktop-and-below) {
                    padding-bottom: getUnitValue(3);
                }
                padding-bottom: getUnitValue(4);
            }

            .content-tile-button {

                .secondary {

                    height: auto !important;

                    @include MediaQueries($desktop-and-above) {
                        width: 64.4%;
                        padding: 15px 0 19px 0 !important;
                    }

                    @include MediaQueries($desktop-and-below) {
                        width: 100%;
                        padding: 15px 0 13px 0 !important;
                    }

                    .cta-content {

                        .cta-text {
                            @include font($font-size-16, $font-weight-500, $black, normal, normal);

                            @include MediaQueries($desktop-and-below) {
                                @include font-family($font_santral_semi_bold);
                            }
                        }
                    }
                }
            }
        }

        &_cta {
            @extend .tf-g__center;
            margin: 0 auto;

            &_cancel {
                background: none;

                .cta-text {
                    @include font($font-size-16, $font-weight-normal, $black, 1.5, normal);
                    @include font-family($font_santral_regular);
                    border-bottom: 1px solid $black;
                }
            }
        }
    }
}

.modifiers__container.engagement {
    @extend .col__full;

    .modifiers__container_dropdownlist {
        padding-bottom: 0;
    }

    .text-with-cta {
        padding: 0 getUnitValue(1.5) getUnitValue(1.5) 0 !important;
        display: flex;

        &__column {
            margin: 0 !important;
            width: 100%;
            text-align: left;

            &_sizeguide {
                padding: 0;
            }

            &_pretext,
            &_sizeguide {
                @extend .display__inline-block;
            }

            &_pretext {
                padding-right: 4px;
            }
        }
    }

    .modifiers__container_note {
        @extend .tf-g__center;
        border: 1px solid $dim-white;
        border-top: 0;
        margin-bottom: getUnitValue(2);
        padding: getUnitValue(1) getUnitValue(3);

        &_not-sure,
        &_recommendation {
            @include font($font-size-12, false, $black, 1.33, false);
            @include font-family($font_santral_regular);
        }

        &_recommendation {
            color: $icon-gray;
        }
    }

    .modifiers__container_size-guide {
        padding-bottom: getUnitValue(7);

        a {
            text-decoration: underline;
        }

        .tiffany-rte {
            a {
                border: none;
            }
        }

        p {
            @include font($font-size-12, false, $black, 1.33, false);
            @include font-family($font_santral_regular);
        }

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(3);
        }
    }

    .modifiers__container_dropdownlist_item--link {
        cursor: pointer;
    }
}

.beautiful-choice-modal-style {
    position: relative;
    transition: all 1s ease;
    background-color: $white;
    height: 100%;
    @include MediaQueries($mobile) {
        height: auto;
    }
}

.beautiful-choice-modal-animation {
    &_enter{
        @extend .beautiful-choice-modal-style;
        top: 100%;
        &-active {
           @extend .beautiful-choice-modal-style;
            top: 0vw;
        }
        &-done {
            @extend .beautiful-choice-modal-style;
            top: 0vw;

            height: calc(100% - 64px);

            & .tiffany-inline-modal--close {
                top: 50px;
            }
        }
    }
    &_exit{
        @extend .beautiful-choice-modal-style;
        height: calc(100% - 64px);
        top: 0vw;
        &-active {
            @extend .beautiful-choice-modal-style;
            top: 100%;
        }
        &-done {
            @extend .beautiful-choice-modal-style;
            top: 100%;
        }
    }
}

.tooltip-element,
.metal-availability__container_button,
.diamond-carousel-card__certification-holder_certification-edit {
    .keyboard--focussed & {
        &:focus {
            border: 1px solid $bondiBlue;
        }
    }
}

.tooltip-image {
    vertical-align: baseline;
}

@include MediaQueries($desktop-and-below) {
    #product-description_load-more_engagement {
        margin-bottom: 0;
    }
}
