.designer-container {
    margin-top: getUnitValue(0);
    margin-right: getUnitValue(2);
    overflow-x: visible;

    &.sub-list--show {
        flex-flow: nowrap;

        .filters-component & {
            width: calc(100vw - 250px);
        }
    }

    &__preview {
        width: 398px;
        height: 100%;
        font-size: $font-size-12;
        left: 0;
        margin-right: 56px;

        @include MediaQueries($desktop-medium) {
            display: none;
        }

        img {
            max-height: getUnitValue(31);
            margin-bottom: getUnitValue(1);
        }
    }

    &__options {
        @extend .tf-g;
        height: calc(100% - 48px);
        flex-flow: column wrap;

        @include MediaQueries($desktop-medium) {
            padding-left: 0;
        }

        &.child {
            @extend .tiffany-blue-custom-scroll-bar;
            border-left: solid 1px $dim-white;
            padding-left: 8px;

            .designer-container__options_item {
                padding-right: 32px;
            }
            .designer-container__options_label {
                margin-left: 24px;
            }
        }

        &.two-column {
            overflow-x: visible;
            -ms-overflow-style: none;

            &::-webkit-scrollbar{
                display: none;
            }

        }

        &_wrapper {
            @extend .cta;
            @include font($font-size-12, $font-weight-normal, $black, 1.75, 0);

            &:hover {
                .designer-container__options_label {
                    background: transparent;
                }
            }
        }

        &_checkbox {
            @extend .hide;

            &--active {
                @extend .hide;

                .sub-list--selected & {
                    @extend .display__inline-block;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: $bondiBlue;
                    position: absolute;
                    left: -14px;
                    top: 4px;
                }
            }
        }

        .sub-list--selected & {
            @extend .display__inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $bondiBlue;
            margin-left: getUnitValue(2);
            position: absolute;
            left: -14px;
            top: 4px;
        }

        &_label {
            position: relative;
            cursor: pointer;
            font-size: $font-size-12;
        }

        &_item {
            @include font($font-size-12, $font-weight-normal, $black, 1.9, 0);
            @include font-family($font_santral_regular);
            margin-bottom: getUnitValue(1);
            margin-right: getUnitValue(4);

            a.cta {
                .cta-content {
                    font-size: $font-size-12;
                    line-height: 2;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
