// ****************************************
// product-description
// ****************************************

.product-description {
    @extend .tf-g--no-wrap, .tf-g__col, .tf-g__between;

    .buttons-sticky {

        .product-description__istatus_fiis {
            padding: 16px 0 0;
        }
        @include MediaQueries($tablet-large-and-below) {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            padding: getUnitValue(2) getUnitValue(2) !important;
            border-top: 1px solid $black;
            background: $white;
            z-index: $modal-maxZIndex;
        }

        @include MediaQueries($desktop-and-below) {
            .modifiers__container_sizeguide_wrap,
            .modifiers__container.compact-view {
                align-items: flex-start;
            }
            .modifiers__container_sizeguide_icon.btn.compact {
                align-self: center;
            }
            .product-in-store__wrapper,
            .product-description__retired-description,
            .product-description__istatus_fiis {
                padding-top: 0;
            }
            .product-description__retired-description,
            .product-description__information-text {
                padding-bottom: getUnitValue(2);
            }
            .product-in-store__wrapper {
                justify-content: space-between;
                padding-bottom: getUnitValue(2);
            }
            .find-in-store.cta {
                padding-bottom: 0;
            }
        }
    }

    .engagement-buttons-sticky {
        @include MediaQueries($desktop-and-below) {
            .product-description_buttons_choose-diamond {
                margin-top: 0;
                margin-bottom: getUnitValue(2);
            }
            .product-description_buttons_contact-expert {
                margin: 0;
            }
            .engagement-pdp__product-description__addtobag {
                padding-bottom: getUnitValue(2);
            }
        }
    }

    .hide_modifier {
        .modifiers__container {
            display: none;
        }
    }

    &__engraving {

        .pdp-engravingText {
            padding: getUnitValue(1.5) 0;
            border-top: 1px solid $black;

            &__btn {
                @extend .no-border-onfocus;
                padding: 0;
                border-left: none;
                margin: 0;

                &_label {
                    @include font($font-size-14, false, $black, 2, normal);
                    @include font-family($font_santral_regular);
                }
            }
        }

        & + tiffany-check-balance-cta .check-balance__cta {
            margin-top: getUnitValue(2.5);
        }
    }

    .product-description__modifier ~ tiffany-check-balance-cta .check-balance__cta {
        margin-top: getUnitValue(2.5);
    }

    &__buttons {
        @extend .col__full;
        margin-top: getUnitValue(2.5);

        .product-description__istatus_fiis {
            padding: 0px;
        }

        &_taxinfo {
            .information-text-component {
                @include font($font-size-14, false, $black, 24px, false);
                @include font-family($font_santral_light);
                margin-top: getUnitValue(1);
            }
        }

        tiffany-check-balance-cta + &,
        .product-description__gift-card-terms_cta + &,
        .product-description__social-sharing + & {
            margin-top: getUnitValue(4);
        }

        tiffany-pdp-buttons {
            @include MediaQueries($tablet-large-and-below) {
                order:2;
            }
        }

        &_taxinfo {
            @include MediaQueries($tablet-large-and-below) {
                order:3;
            }
        }
        @include MediaQueries($tablet-large-and-below) {
            display: flex;
            flex-direction: column;
            margin-top: 0 !important;
        }
        @include MediaQueries($desktop-and-below) {
            .modifiers__container.compact-view {
                display: none;
            }
            .product-in-store__wrapper.find-in-store {
                padding-bottom: getUnitVallue(3);
            }
        }
    }    

    &.right-full-element {
        @include MediaQueries($desktop-and-above) {
            min-height: auto;
        }
    }
    &__gift-card-terms_cta {
        @extend .cta, .hover-cta;
        @include font($font-size-12, $font-weight-normal, $black, 2, normal);
        @include font-family($font_santral_regular);
        border: 0;
        padding: 0;
        margin-top: getUnitValue(1);

        .cta-text {
            @include font($font-size-12, $font-weight-normal, $black, 2, normal);
            @include font-family($font_santral_regular);
        }
    }

    &__modal {

        @extend .tf-g--no-wrap, .tf-g__col;

        @include MediaQueries($desktop-and-above) {
            max-width: 400px;
        }

        @include MediaQueries($desktop-and-above) {
            max-width: 400px;
            width: 100%;
        }

        &_item {

            &-candle {
                .information-text-component {
                    margin-left: 0 !important;

                    .tiffany-rte ul {
                        padding-left: 0;
                    }
                }
            }

            &:first-child {
                @extend .tf-g__end;
                padding: getUnitValue(3) 0 getUnitValue(3) 0;

                @include MediaQueries($desktop-and-below) {
                    margin-left: getUnitValue(-2);
                }
            }

            &-gift-terms {
                .information-text-component {
                    margin-left: 0 !important;
                }
            }

            &_close-btn {
                @extend .icon, .icon-Close, .hide__tablet;
                font-size: $font-size-24;
                border: none;
                background: none;

                &:before {
                    color: $filter-gray;
                }

                .keyboard--focussed & {
                    &:focus {
                        border: 1px solid $bondiBlue;
                    }
                }
            }

            &_arrow-btn {
                @extend .icon, .icon-Left, .hide, .show__tablet-and-below ;
                background: none;
                font-size: $font-size-24;
                border: none;
                background: none;
                padding-left: getUnitValue(1);

                &:before {
                    color: $black;
                }
            }

            .information-text-component {
                margin-left: getUnitValue(2);

                li {
                    @include font($font-size-12, $font-weight-light, $black, 1.33, normal);
                    @include font-family($font_santral_light);
                    list-style-type: disc;
                    padding-bottom: getUnitValue(2);

                    @include MediaQueries($tablet-and-below) {
                        @include font($font-size-16, $font-weight-light, $black, 1.5, normal);
                    }
                }
            }
        }

        @include MediaQueries($tablet-and-below) {
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: $modal-maxZIndex;
            background-color: $white;
            position: fixed;
            padding-left: getUnitValue(2);
            padding-right: getUnitValue(2);
            overflow-y: auto;

            &_item {

                &:first-child {
                    justify-content: flex-start;
                    text-align: left;
                }
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__counterfeit-warn {

        .information-text-component {
            margin-bottom: getUnitValue(2);

            b {
                @include font($font-size-16, $font-weight-normal, $black, 1, normal);
                @include font-family($font_santral_semi_bold);
            }

            p, .text-phnumber span {
                @include font($font-size-16, $font-weight-light, $black, 2, normal);
                @include font-family($font_santral_light);

                @include MediaQueries($desktop-and-below) {
                    line-height: 1.5;
                }
            }
            a {
                &::after {
                    content: '';
                }
            }

            @include MediaQueries($desktop-and-above) {
                b {
                    @include font($font-size-14, $font-weight-normal, $black, 1.71, normal);
                }

                p, .text-phnumber span {
                    @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
                }
                .text-phnumber .cta {
                    line-height: 1.71;
                    font-size: $font-size-14;
                }
            }
        }
    }

    &__disclaimer {
        margin-top: getUnitValue(3);
        width: 100%;

        &_label {
            @include font($font-size-12, $font-weight-normal, $black, 1.33, normal);
            @include font-family($font_santral_regular);
        }

        &_right-arrow {
            @extend .icon, .icon-dropdown-right, .hide;
            margin-left: 4px;
            font-size: $font-size-8;
            color: $black;

            @include MediaQueries($tablet-and-below) {
                display: inline-block !important;
            }
        }

        button.product-description__disclaimer_link {
            @extend .underline-cta, .cta;
            @include font($font-size-12, $font-weight-normal, $black, 2, normal);

            @include font-family($font_santral_regular);
            border: 0;
            padding: 0 getUnitValue(1) 0 0;
            height: getUnitValue(3);
            background: none;
            text-decoration: underline;

            .cta-text {

                picture {
                    @extend .show__inline-block;
                    height:getUnitValue(2);
                    width:getUnitValue(2);
                    vertical-align: middle;
                }
            }
        }
    }

    &__content {
        @extend .col__full, .tf-g--no-wrap, .tf-g__col;

        &_iconsContainer {
            @extend .tf-g , .col__full;
            justify-content: space-between;

            &_eyebrow {
                @extend .tf-g__start;
                @include font($font-size-14, $font-weight-normal, $black, 16px, false);
                @include font-family($font_santral_regular);
                text-decoration: underline;
                border-left: 0;
            }

            &_actions-bar{
                @extend .tf-g;
                padding-bottom: getUnitValue(2);

                .drop-a-hint-icon {
                    padding: 0;
                    width: getUnitValue(2);
                    height: getUnitValue(2);
                    border: none;
                    background: none;
                    margin-right: getUnitValue(3);

                    .keyboard--focussed & {
                        &:focus {
                            border: 1px solid $bondiBlue;
                            height: 18px;
                            width: 18px;
                        }
                    }

                    img {
                        max-width: 16px;
                    }
                }


                .drop-a-hint__btn_label {
                    display: none;
                }

                .wishlist{
                    @extend .cta-underline;
                    margin: 0px;
                    font-size: 1rem;

                    &:focus {
                        height: 18px;
                    }

                    .icon-Wishlist-Option-1 {
                        color: $black;
                    }
                    .wishListIcon {
                        width: 16px;
                    }
                }

                @include MediaQueries($desktop-and-below) {
                    padding-bottom: getUnitValue(2);
                }
            }
        }

        &_eyebrow {
            @include font($font-size-14, $font-weight-normal, $black, 16px, false);
            @include font-family($font_santral_regular);
            text-decoration: underline;
            border-left: 0;

            @include MediaQueries($desktop-and-below) {
                padding-bottom: getUnitValue(1);
                margin-top: 4px;
            }

            &:hover {
                border-bottom: 1px solid transparent !important;
            }
        }

        &_title {
            @include font-family($font_sterling_display_roman);
            font-size: 2vw;
            font-weight: $font-weight-normal;
            line-height: 1.25;
            padding-top: getUnitValue(1);
            padding-bottom: 8px;

            @include MediaQueries($desktop-and-below) {
                font-size: $font-size-32;
                padding-bottom: 0;
                padding-top: 0;
                padding-bottom: 8px;
                line-height: 1.25;
            }
        }
    }

    &__container {
        @extend .col__full, .tf-g--no-wrap, .tf-g__col;

        .tiffany-inline-modal .modal-transition{
            .information-text-component .text-phnumber .cta{
                line-height: 1.33;
            }
        }

        &_taxinfo {
            .information-text-component {
                @include font($font-size-14, false, $black, 24px, false);
                @include font-family($font_santral_light);
                margin-top: getUnitValue(1);
            }
        }

        &_price{
            @extend .col__full;    
            padding-bottom: 0;        
        }

        &_store-link {
            margin-top: getUnitValue(3);
        }

        &_more {
            display: none;
        }

        &_detail{
            @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
            @include font-family($font_santral_regular);
            max-width: 400px;
            transition: all .3s ease;
            margin-top: getUnitValue(4);

            @include MediaQueries($tablet-large-and-below) {
                margin-top: getUnitVallue(2);
            }

            @include MediaQueries($desktop-and-below) {
                padding-bottom: getUnitValue(2);
                max-width: 100%;
            }

            &_title {
                @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
                @include font-family($font_santral_semi_bold);
                padding-bottom: getUnitValue(1);
            }

            &_list {
                margin-bottom: getUnitValue(2);
                transition: max-height 0.4s ease-out;
                overflow: hidden;
                position: relative;

                li {
                    @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                    @include font-family($font_santral_light);
                }

                &-specs {
                    padding-bottom: getUnitValue(2);
                    position: absolute;
                    visibility: hidden;

                    li:nth-of-type(1n+3) {
                        display: none;
                    }

                    &.show-more {
                        li:nth-of-type(1n+3) {
                            display: block;
                        }
                    }

                    li {
                        @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                        @include font-family($font_santral_light);
                    }
                }
            }
        }

        &_short-desc {
            @include font($font-size-12, $font-weight-normal, $black, 1.71, 0);
        }

        &_long-desc, &_more-long-desc, &_additional-info {
            @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
            @include font-family($font_santral_light);
            margin-bottom: getUnitValue(2);
        }

        &_long-desc {
            transition: max-height 0.4s ease-out;
            @include multiLineEllipsis($lineHeight: 1.71em, $lineCount: 2, $bgColor: white);
            &-total {
                @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
                @include font-family($font_santral_light);
                margin-bottom: getUnitValue(2);
                text-align: justify;
                padding-right: 1em;
                visibility: hidden;
                position: absolute;
            }

            &.ellipses {
                &::before {
                    content: '';
                }
            }
        }


        &_more-long-desc {

            &:last-child {
                padding-bottom: 0;
            }
        }

        &_store-link{
            @extend .cta-underline;
            text-decoration: underline;
        }

        &_wrapper {
            @extend .tf-g--no-wrap, .tf-g__col;

            .product-description__buttons  {
                margin-top: 0px;
            }


        }

        &_list {
            @include font($font-size-12, $font-weight-normal, $black, 1.33, 0);
            @include font-family($font_santral_regular);
            display: flex;
            

            &-style {
                height: 3px;
                width: 3px;
                border-radius: 50%;
                background-color: $black;
                margin-top: 10px;
                margin-right: 4px;
                position: absolute;
            }

            &-content {
                margin-left: 8px;
            }
        }
    }

    &__retired-description {
        .tiffany-rte {
            b {
                @include font($font-size-14, $font-weight-600, $black, 1.71, 0);
                @include font-family($font_santral_semi_bold);
            }

            p {
                @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
                @include font-family($font_santral_light);
            }
        }
    }

    &__pdp-cta{
        @extend .col__full;
    }

    &__retired-description,
    &__istatus_fiis,
    & > &__information-text {
        padding: getUnitValue(2) getUnitValue(2) 0 0;
    }

    @include MediaQueries($desktop-and-below) {
        padding: 0 getUnitValue(2) 0 0;
    }

    &__social-sharing {
        padding-top: getUnitValue(1.5);
        padding-bottom: getUnitValue(4);
        border-top: 1px solid $black;

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(2);
        }

        &_wechat {
            background: transparent;
        }

        &_weibo,&_wechat {
            padding: 0;
            margin-right: getUnitValue(3);

            img {
                width: getUnitValue(3);
                height: getUnitValue(3);
            }
        }
        &_container {
            @extend .show__flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            button.cta {
                display: block;
                width: auto;
            }

            &_accordian {
                @extend .cta, .col__full;
                @include font-family($font_santral_regular);
                @include font($font-size-14, $font-weight-normal, $black, 1.71, normal);
                background-color: $white;
                cursor: pointer;
                padding: 0;
                border: none;
                text-align: left;
                outline: none;
                margin-bottom: 0;
            }

            &_arrow {
                float: right;
                cursor: pointer;
            }
        }

        &_panel {
            @extend .display__none;
            background: $white;
            overflow: hidden;
            margin-top: 8px;
        }
    }

    button.product-description__container_show-more , button.product-description__container_close {
        @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
        @include font-family($font_santral_regular);
        @extend .cta;
        padding: 0;
        margin: 0;
        border: none;
        appearance: none;

        .cta-content {
            @extend .hover-cta;
        }

        &.cta {
            padding: 0;
            margin: 0;
        }

        .cta-content {
            @extend .cta, .hover-cta;
            .cta-text {

                picture {
                    @extend .show__inline-block;
                    height:getUnitValue(1);
                    width:getUnitValue(1);
                    vertical-align: middle;
                }
            }
        }

    }

    button.product-description__container_show-more {

        .ie &, .firefox & {
            &:hover {
                background-size: 100% 1px;
            }
        }
    }

    button.product-description__container_close {
        display: none;
        .keyboard--focussed & {
            &:focus {
                border: solid 1px $bondiBlue;
            }

            .cta-content {
                .cta-text {

                    picture {
                        @extend .show__inline-block;
                        height:getUnitValue(1);
                        width:getUnitValue(1);
                        vertical-align: middle;
                    }
                }
            }
        }

        .ie & {
            &:hover {
                background-size: 100% 0.5px;
            }
        }
    }
}

.content-band--60x40 {
    &.pdp-container {
        padding: 0;
        margin-bottom: getUnitValue(4);
        align-items: flex-start;
        overflow: hidden;

        @include MediaQueries($desktop-and-below) {
            padding: 0;
            margin-bottom: 0;
            padding-bottom: getUnitValue(4);
        }

        @include MediaQueries($desktop-and-above) {
            flex-wrap: nowrap;
        }

        .band-item {
            @include MediaQueries($desktop-and-above) {
                &:nth-child(1) {
                    width: 60%;
                    padding: 0;
                    align-self: flex-start;
                }

                &:nth-child(2) {
                    width: 40%;
                    padding: 3.5vw 7.5% 0 7.5%;

                    .right-element {
                        .product-description {
                            justify-content: space-between;
                        }
                    }
                }
            }

            @include MediaQueries($tablet-and-between-desktop-tablet) {
                &:nth-child(1) {
                    width: 68.5%;
                    padding: 0;
                    align-self: flex-start;
                }

                &:nth-child(2) {
                    width: 31.5%;
                    padding-left: getUnitValue(4);
                    padding-right: getUnitValue(4);
                    padding-top: 3.5vw;

                    .right-element {
                        .product-description {
                            justify-content: space-between;
                        }
                    }
                }
            }

            @include MediaQueries($xlarge-and-below) {
                &:nth-child(1) {
                    width: 100%;
                    padding: 0;
                    align-self: flex-start;
                }

                &:nth-child(2) {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        &.base-items-hidden {
            .base-item {
                height: 0;
                display: none;
            }
        }
    }
}

.product-description__container_supplement-info {
    padding-bottom: getUnitValue(2);

    p {
        @include font($font-size-14, $font-weight-light, $black, 1.71, 0);
        @include font-family($font_santral_light);
    }
}

.cta-content .icon-dropdown-right:before {
    font-size: $font-size-8;
    padding-left: 10px;
}
