// ****************************************
// faq-answers
// ****************************************

.faq-answers {
    &__container {
        @extend .tf-g--gutter-left;
        @include MediaQueries ($desktop-and-below) {
            padding: 0 16px;
        }

        &_title {
            @extend .h2;
            font-size: $font-size-32;
            line-height: 1.35;
            padding-bottom: getUnitValue(7);
            @include MediaQueries ($desktop-and-below) {
                padding-bottom: getUnitValue(3);
            }
        }

        .backTofaq-container {
            display: inline-block;
            vertical-align: top;

            .icon-Left {
                &:before {
                    font-size: 10px;
                    vertical-align: middle;
                    position: relative;
                    bottom: 1px;
                    width: 6px;
                    height: 10px;
                    color: $black;
                 }
            }

            @include MediaQueries ($desktop-and-below) {
                padding-bottom: getUnitValue(4);
            }

            .backTofaq-container-main {
                .cta.backTofaq-link {
                    @extend .cta, .hover-cta;
                    @include font($font-size-14, $font-weight-normal, $black, 1.71, normal);
                    @include font-family($font_santral_regular);
                    margin-bottom: getUnitValue(6);

                    @include MediaQueries ($desktop-and-below) {
                        margin-bottom: getUnitValue(4);
                    }
                }
            }
        }

        &_main {
            justify-content: flex-start;
            margin-right: auto;
            margin-bottom: getUnitValue(14);
            display: inline-block;
            @include MediaQueries ($desktop-and-above) {
                width: getUnitValue(100);
                margin-left: getUnitValue(6.5);
            }
            @include MediaQueries ($desktop-and-below) {
                margin-bottom: getUnitValue(5);
                max-width: 100%;
            }

            &_question {
                @extend .col__full, .display__inline-block;
                @include font($font-size-14, $font-weight-normal, $black, 1.85, normal);
                @include font-family($font_santral_regular);
                padding-bottom: getUnitValue(3);
            }

            &_answer {
                &.tiffany-rte {
                    @include font($font-size-14, $font-weight-light, $black, 1.5, normal);
                    @include font-family($font_santral_light);

                    ol {
                        padding-left: getUnitValue(2);
                        margin-left: getUnitValue(2);

                        li {
                            @include font($font-size-14, false, $black, 1.33, 0);
                            @include font-family($font_santral_light);
                        }
                    }

                    ul {
                        padding-left: getUnitValue(2);
                        margin-left: getUnitValue(2);

                        li {
                            @include font($font-size-14, false, $black, 1.33, 0);
                            @include font-family($font_santral_light);
                        }
                    }

                    p {
                        @include font($font-size-14, $font-weight-light, $black, 1.5, normal);
                        @include font-family($font_santral_light);
                    }
                }
            }
        }
    }

    &__search {
        width: getUnitValue(80);

        &.material-input {
            margin: getUnitValue(5) 0 getUnitValue(7) 0;
            & > label {
                font-size: $font-size-32;
                top: getUnitValue(-3);
                @include MediaQueries($desktop-and-below) {
                    font-size: $font-size-24;
                    margin: getUnitValue(4) 0;
                }
            }
        }
        @include MediaQueries($desktop-and-below) {
            width: 100%;
        }

        &-icon {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: none;
            font-size: $font-size-24;
            padding: 0;
            width: getUnitValue(3);
            margin: auto 0;

            &:focus {
                border: 1px solid $bondiBlue;
            }
        }
    }
}
