// ****************************************
// Browse Grid 2x2
// ****************************************
.text-with-image-marketing-carousel {
    @extend .container, .tf-g;

    .browse-grid & {
        padding: 0;
    }

    .image-item{
        .content-item {
            .content-tile {
                //TODO Prasad to check why this was added. This is breaking filters
                // position: relative;
                // z-index: $component-mini-modal-zIndex;
            }
        }
    }

    @include MediaQueries($tablet-and-above) {
        .browse-grid .full-width-shoppable-tile__container__tile & {
            padding-left: 0;
        }
    }

    .item {
        @extend .col__full, .col-md__full, .col-sm__full;

        .content-item {
            padding: getUnitValue(8) getUnitValue(10) 0 getUnitValue(8);

            @include MediaQueries($tablet-and-below) {
                padding: 0 0 getUnitValue(2) 0;

                .adjust-position {
                    padding: getUnitValue(2) getUnitValue(2) 0 getUnitValue(2) !important;

                    @include MediaQueries($tablet-and-above) {
                        position: absolute !important;
                    }
                }
            }
        }

        .slick-slider {
            .slick-next,.slick-prev{
                max-width:getUnitValue(5);
                max-height:getUnitValue(5);
            }
            .slick-next{
                right:getUnitValue(1);
            }
            .slick-prev{
                left:getUnitValue(1);
            }
        }

        .carousel-item-wrapper {

            @include MediaQueries($desktop-and-above) {
                position: relative;
            }
        }
    }

    @include MediaQueries($tablet-and-below) {
        padding: getUnitValue(3) getUnitValue(2);
    }

    .picture-item {
        padding: 0 getUnitValue(1);

        img {
            @extend .col__full;
        }
    }
}
