.email-cta {
    @extend .cta;
    background: none;
    padding:0 !important;
    border:0;

    & .cta-text {
        font-size: $font-size-14;
        font-weight: 400;
    }

    &_image {
        background: none;
        border: none;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        
        .keyboard--focussed & {
            &:focus {
               border: 1px solid $bondiBlue;
            }
       }
    }
}
