<article class="product-care app-js__product-care">
    <div class="content-band--40x60">
        <div class="band-item">
            {{> content-tile
                textAlignment = textAlignment
                heading       = heading
                description   = description
            }}
        </div>
        <div class="band-item">
            <tiffany-product-care-carousel config="{{productCareCarouselKey}}" type="{{pdpCarouselType}}"></tiffany-product-care-carousel>
        </div>
    </div>
</article>
