// ****************************************
// text-with-image
// ****************************************

.text-with-image {
    //@extend .tf-g; // display flex is not working properly in IE
    height: 100%;
    position: relative;
    display: block !important;

    &-component {
        .picture-item img {
            width: 100%;
        }
    }

    .content-tile {
        @include MediaQueries($desktop-and-below) {
            padding-bottom: 0;
        }
    }

    @include MediaQueries($desktop-and-below) {
        .no-padding-bottom & {
            padding-bottom: 0;
        }
    }

    @include MediaQueries($desktop-and-above) {
        &__text {

            &.inset-left {
                justify-content: flex-start;
                padding-left: getUnitValue(15);
            }

            &.inset-right {
                justify-content: flex-end;
                padding-right: getUnitValue(15);
            }
        }
    }

    &.desktop-padding {
        padding-bottom: getUnitValue(7);
    }

    &.mobile-padding {
        @include MediaQueries($tablet-and-below) {
            padding-bottom: getUnitValue(4);
        }
    }

    .splash-band-item & {
        position: relative;

        .splash-image{
            display: inline-block;
            margin-top: getUnitValue(-50);
            position: absolute;
        }
    }

    &__text {
        @extend .tf-g, .col__full, .tf-g__center, .tf-g__bottom;
        @include MediaQueries($desktop-and-below) {
            justify-content: left;
            text-align: left;

            .tf-g__center.content-tile {
                justify-content: left;
                text-align: left;
            }
        }
        .content-tile {
            z-index: 2;
            &.text-on-image{
                position: absolute;
            }
        }
        .ie & {
            justify-content: flex-start;
        }
    }

    &__image {

        .logo & {
            position: relative;
        }

        body.ie & {
            width: 100%;
        }
        > a {
            border: none !important;
            display: inline-block;
            max-width: 100%;

            .keyboard--focussed & {
                &:focus {
                    border: 2px solid $bondiBlue !important;
                }
            }
        }

        &_logo {
            position: absolute;
            bottom: 0;
            left: -52px;
            width: 24px;

            @include MediaQueries($desktop-and-below) {
                left: 24px;
                bottom: 40px;
            }

            &_link:hover {
                border: none;
            }
        }
    }

    .hero-banner & {
        @extend .display__block;
    }
}

.hero-banner-with-grid {
    .text-with-image {
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
}

.pdp-marketing-component {
    .content-tile {
        @include MediaQueries($desktop-and-above) {
            width: 25%;
        }
    }
}
