// ****************************************
// booking-diamond-consultation
// ****************************************

.booking-diamond-consultation {
    @extend .show__flex;
    padding-bottom: getUnitValue(7);

    @include MediaQueries($desktop-and-below) {
        padding: 0 getUnitValue(2);
        flex-direction: column;
    }

    .booking-diamond-content {
        @extend .col-6-12,
        .col-md__full,
        .col-sm__full;

        &:first-child {
            padding: 0 12.5%;

            @include MediaQueries($desktop-and-below) {
                padding: 0;
                order: 1;
            }
        }

        &:last-child {
            padding: 0 12.5%;
            border-left: 1px solid $tiffanyBlue;

            @include MediaQueries($desktop-and-below) {
                padding: getUnitValue(2) 0 0;
                margin-top: getUnitValue(4);
                border-top: 1px solid $tiffanyBlue;
                border-left: none;
            }
        }
    }

    &__store-image {
        @extend .col-6-12,
        .col-md__full,
        .col-sm__full;

        @include MediaQueries($desktop-and-below) {
            padding: 0;
            margin-bottom: getUnitValue(2);
        }
    }

    &__store-image + .booking-diamond-content:last-child {
        border-left: 1px solid transparent;
    }

    @include MediaQueries($desktop-and-below) {
        .booking-diamond-content {
            order: 2;
        }

        .booking-diamond-content + .booking-diamond-content {
            order: 1
        }
    }

    &_heading {
        @extend .h3;
        @include MediaQueries($desktop-and-above) {
            padding-bottom: getUnitValue(2);
        }

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(2);
        }
    }

    &_desc {
        @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
        padding-bottom: getUnitValue(4);
        max-width: getUnitValue(50);

        @include MediaQueries($below-desktop-tablet) {
            max-width: 100%;
        }
    }

    &_list {
        padding-bottom: getUnitValue(3);

        .cta_diamond {
            @include font($font-size-14, $font-weight-normal, $black, 1.71, 0);
            border: none;
            cursor: pointer;
            display: flex;

            @include MediaQueries($desktop-and-above) {
                white-space: nowrap;
            }

            .icon-Right {
                font-size: $font-size-8;
                color: $black;
                padding-left: 4px;
                padding-top: getUnitValue(2);
            }

            img, svg {
                width: getUnitValue(3);
                height: getUnitValue(3);
                margin-right: getUnitValue(1);
                top: getUnitValue(1);
                position: relative;
            }
        }
    }

    .diamond-cta {
        @extend .hover-cta;
    }

    &_icons {
        width: getUnitValue(3);
        height: getUnitValue(3);
        margin-right: getUnitValue(1);
        margin-top: -8px;
        top: getUnitValue(1);
        position: relative;
    }

    .booking-diamond-form {
        max-width: getUnitValue(50);

        select {
            @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
            @include font-family($font_santral_light);
            position: relative;
            border-bottom: 1px solid $black;
            background: transparent;
            border-width: 0 0 1px 0;
            border-radius: 0px;
            appearance: none;
            margin-left: 0;
            width: 100%;
            padding: getUnitValue(1) 0 0 0;
            &::-ms-expand {
                @extend .display__none;
            }

            option {
                @include font-family($font_santral_light);
            }
        }

        &_store-select,
        &_state-select  {
            select{
                option{
                    color: $black;
                    @include font-family($font_santral_regular);
                }
            }
        }

        &_label {
            @include font($font-size-10, false, $filter-gray, 0.8, 0);
            @include font-family($font_santral_regular);
            position: absolute;
            pointer-events: none;
            transition: 0.2s ease all;
            top: 0;
            left: 0;
        }

        &_country-select,
        &_state-select,
        &_store-select {
            position: relative;
            margin-bottom: getUnitValue(3);

            &:after {
                position: absolute;
                top: 18px;
                right: 0;
                width: 0;
                height: 0;
                padding: 0;
                content: '';
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                pointer-events: none;
            }
        }

        &_regions-select,
        &_regions-state-select,
        &_regions-state-select {
            @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
            position: relative;
            background-color: transparent;
            width: 100%;
            padding: getUnitValue(1);
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $black;
        }

        &_buttons {
            @extend .col__full;
            max-width: getUnitValue(50);

            @include MediaQueries($desktop-and-below) {
                max-width: 100%;
                padding-top: getUnitValue(1);
            }

            &_store-visit {
                @extend .col__full,
                .btn-primary;
                @include font($font-size-14, false, $white, 1.14, 0);
                @include font-family($font_santral_semi_bold);
                padding: getUnitValue(2) getUnitValue(3);
                margin-top: getUnitValue(1);
                background: $black;
                border: 1px solid $black;

                @include MediaQueries($desktop-and-below) {
                   height: auto;
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }

}
