.global-flagship-container {
    .map-container {
        @extend .col__full;

        .locator_map {
            height: 560px;
            width: 100%;

            @include MediaQueries($desktop-and-below) {
                height: 430px;
                max-width: 100%;
            }
        }
    }

    .content-band--70x30 {
        @extend .tf-g;
        padding-left: 0;
        padding-right: getUnitValue(6.5);

        @include MediaQueries($desktop-and-below) {
            padding-right: 0;
            flex-direction: column !important;
            padding-bottom: getUnitValue(8);
            padding-left: 0;
        }

        .band-item {
            @extend .display__block;

            &.map-band {
                @extend .col-8-12, .display__block;
                align-items: normal;

                .map-container {
                    @include MediaQueries($desktop-and-below) {
                        padding-left: 0;
                    }
                }
            }

            @include MediaQueries($desktop-and-below) {
                padding-left: 0;
            }

            &.content-band {
                @extend .col-4-12, .display__block;
                padding-top: getUnitValue(10);
                padding-left: getUnitValue(8);

                .visible-stores-list {
                    padding-top: getUnitValue(2);

                    @include MediaQueries($desktop-and-below) {
                        width: 100%;
                        padding: getUnitValue(4);
                    }

                    a {
                        text-decoration: underline;

                        &:focus {
                            border: 1px solid $bondiBlue;
                        }
                    }
                }
                .custom-dropdown_category_options {
                    .scrollbar-container.ps {
                        .ps__rail-x {
                            display: none;
                        }
                    }
                }
                .custom-dropdown_category_list {
                    padding-bottom: getUnitValue(1);
                    padding-left: 12px;
                }

                .custom-dropdown_category_label {
                    @extend .hover-cta;
                    padding-top: 0;
                    display: inline;
                    padding-bottom: 0;

                    @include MediaQueries($desktop-and-above) {
                        cursor: pointer;
                        font-size: $font-size-14;
                        @include font-family($font_santral_light);
                    }
                }

                .custom-dropdown_body_category {
                    @include MediaQueries($desktop-and-below) {
                        padding: 0 getUnitValue(2);
                    }
                    .custom-dropdown_body_category_select {
                        border: none;
                        @include font($font-size-14, false, $black, 1.71, normal);
                        @include font-family($font_santral_regular);
                        background: $white;

                        option {
                            @include font($font-size-14, false, $black, 1.71, false);
                            @include font-family($font_santral_regular);
                        }
                    }
                    .custom-dropdown_body_category_select.default {
                        appearance: none;
                        border-bottom: 1px solid $gray;
                        @include MediaQueries($desktop-and-below) {
                            border: none;
                         }
                    }
                }

                .custom-dropdown_selected {
                    &::before {
                        left: 0;
                    }
                }

                .content-tile {
                    .heading {
                        .visual-spacing & {
                            padding-bottom: 13px;
                        }
                    }
                }

                .custom-dropdown_category_options {
                    margin-top: getUnitValue(1);
                }
            }

            .icon-downArrow {
                @include MediaQueries($desktop-and-below) {
                    display: none;
                }
            }

            .icon-dropdown-down,.icon-dropdown-up {
                padding-left: 8px;
                display: inline;
                text-decoration: none;
            }
        }
    }
}
