/**
* Prodcut description Add to cart
*/

.product-description__addtobag, .product-description__clicktopay {
    @extend .col__full;

    &_btn {
        @extend .col__full, .btn-primary;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: getUnitValue(6);
        padding: getUnitValue(2) getUnitValue(3);
        border: 1px solid $black;

        &:active {
            box-shadow: none;
            border: 1px solid $black;

            .product-description__addtobag_btn_text-static {
                color: $black;
            }
        }

        &:hover {
            box-shadow: none;
            border: 1px solid $black;
            @include MediaQueries($desktop-and-above) {
                background-color: $tiffanyBlue;
            }

            @include MediaQueries($desktop-and-below) {
                .product-description__addtobag & {
                    background-color: $black;
                }
            }


            @include MediaQueries($desktop-and-above) {
                .product-description__addtobag_btn_text-static {
                    color: $black;
                }
                .product-description__addtobag_btn_text-static_addtobagtext {
                    top:-100%;
                    color: $black !important;
                }
            }
        }
        
        &:focus {
            border: 1px solid $bondiBlue;
        }  

        &_curtain {
            @extend .col__full;
            position: absolute;
            top: 0%;
            left: -100%;
            height: 100%;
            background: $tiffanyBlue;
            transition: left 0.6s ease-in-out;
            z-index: 1;
        }

        &_text-static {
            @extend .tf-g__between, .tf-g, .tf-g__middle, .col__full;
            @include font($font-size-14, $font-weight-normal, $white, 1.14, 0);
            @include font-family($font_santral_regular);
            position: absolute;
            top: 0;
            left: 0;
            padding: getUnitValue(2) getUnitValue(3);
            z-index: 2;

            &_addtobagtext {
                position: absolute;
                right:0;
                top: 0;
                transition: all 0.35s ease-out;

                span {
                    height: getUnitValue(6);
                    padding: getUnitValue(2) getUnitValue(3);
                    display: block;
                }
            }

            &:hover {
                @include MediaQueries($desktop-and-above) {
                    color: $black !important;

                    .product-description__addtobag_btn_text-static_addtobagtext {
                        top:-100%;             
                    }
                }
            }

            &_price-wrapper {
                
                &_price {
                    &:not(:last-child)::after {
                        content: '+';
                        margin: 0 getUnitValue(1);
                    }
                }
            }
            
            @include MediaQueries($tablet-and-below){
                padding: getUnitValue(2) getUnitValue(3);
            }
        }

        &.active-btn {
            &:hover {
                @include MediaQueries($desktop-and-above) {
                    .product-description__addtobag_btn_text-static_addtobagtext {
                        top:0;
                    }
                }
            }
           
            .product-description__addtobag_btn_curtain {
                left: 0;
            }

            .product-description__addtobag_btn_text-static {
                color: $black;
            }
        }

        @include MediaQueries($tablet-and-below) {
           height: getUnitValue(6);
        }
    
    }

    .click-to-pay{
        margin-top: getUnitValue(1);
        z-index: $header-zIndex;
        @extend .col__full;
        @extend .btn, .btn-secondary, .btn--outline, .no-bottom-color;
        display: inline-block;
        height: getUnitValue(6);
        width: 100%;

        @include MediaQueries($tablet-and-below) {
            padding-top: getUnitValue(1);
        }

        &:active {
            box-shadow: none;
            border: solid 2px $black;
            background-color: $white !important;
        }

        &:focus {
            border: 1px solid $bondiBlue;
        }

        &:hover {
            border: solid 1px $black;
            background-color: $white;
        }

        .product-description{
            &__addtobag {
                &_btn {
                    &_curtain{
                        @extend .col__full;
                        position: absolute;
                        background: $white;
                        z-index: 1;
                    }
                    &_text-static {
                        &_addtobagtext {
                            position: absolute;
                            right:0;
                            top: 0px;
                            color: $black;
                            span {
                                height: getUnitValue(6);
                                padding: getUnitValue(2) getUnitValue(3);
                                display: block;
                            }
                        }
                        
                        &_price-wrapper {
                            display: none;
                        }
                    }
                }
            }
        }
    }     
}

.product-description__clicktopay {
    .click-to-pay {
        .product-description__addtobag_btn_text-static {
            justify-content: center;
    
            &_addtobagtext {
                right: 0;
                left: 0;
            }
        }
    }
}