// ****************************************
// store-event-details
// ****************************************

.store-event-details {
    @extend .tf-g, .tiffany-rte;

    &__wrapper {
        @extend .tf-g, .tiffany-rte;
        padding-bottom: getUnitValue(7);

        @include MediaQueries($desktop-and-below) {
            flex-direction: column-reverse;            
        }
    }

    &__rte {
        @extend .col-5-12, .col-sm__full, .col-md__full;
        padding: 0 getUnitValue(9);
        @include font-family($font_santral_light);
        font-size: $font-size-14;
        line-height: 1.71;

        @include MediaQueries($mobile) {
            padding: 0 getUnitValue(2) getUnitValue(2);
        }

        .btn {
            border: 1px solid $black;
            display: inline-block !important;
            padding: 1em 2em;
            margin: getUnitValue(4) 0;
            font-size: $font-size-14;
            line-height: 1.71;
            letter-spacing: normal;
            color: $black;
            height: getUnitValue(6);
            @include font-family($font_santral_semi_bold);

            @include MediaQueries($mobile) {
                width: 100%;
            }
            &:active{
                box-shadow: none !important;
                border: 2px solid $black !important;
            }
            &:focus{
                border: 2px solid $bondiBlue;
                box-shadow: 0px 0px 0px 1px $black inset;
            }
            &:hover {
                background: none;
            }
            @include MediaQueries($tablet-and-below){
                height: getUnitValue(6);
                margin: getUnitValue(4) 0;
            }
        }

        .heading {
            @extend .h3;
            padding: getUnitValue(7) 0 getUnitValue(4) 0;

            @include MediaQueries($mobile) {
                padding-bottom: getUnitValue(1);
            }
        }

        span {
            padding-bottom: getUnitValue(4);
            display: inline-block;
        }

        @include MediaQueries($mobile) {
            padding-bottom: getUnitValue(7);

            span {
                padding-bottom: getUnitValue(4);
                display: inline-block;
            }
        }
    }

    &__image {
        @extend .col-7-12, .col-sm__full, .col-md__full;

        @include MediaQueries($desktop-and-below) {
            padding-bottom: getUnitValue(2);
        }
    }


}
