<article class="store-event-details app-js__store-event-details" data-venue-id="1063" data-resy-api-key="appCl6pM0QHDUIXoD5cE0JS8QasVWDJH">
    <div class="store-event-details__wrapper">
        <div class="store-event-details__rte">
            <h2 class="heading">The Blue Box Cafe</h2>
            <div itemscope itemtype="https://schema.org/Restaurant">
                <span itemprop="description">
                    Tiffany is proud to present The Blue Box Cafe,
                    located on the 4th floor of our New York flagship store.
                    Serving American classics made with the highest quality, regionally
                    sourced ingredients, the menu will evolve through the
                    seasons for a refined take on signature New York dishes
                    reinvented to be uniquely Tiffany.
                </span>
                <br>
                <br>
                <span itemprop="openingHours" content="Mo-Sa 10:00-17:30">
                    Monday – Saturday 10:00AM – 5:30PM <br>
                    Last seating at 5:30PM
                </span>
                <br>
                <br>
                <span itemprop="openingHours" content="Su 12:00-16:30">
                    Sunday 12:00PM – 4:30PM<br>
                    Last seating at 4:30PM
                </span>
                <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                    727 Fifth Avenue <br>
                    New York, NY 10022
                </div>
            </div>
            <a href="#" class="btn" id="resyButton-jqboqqn8">MAKE A RESERVATION</a>
            <br>
            <br>
            <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                For more information,<br>
                please contact
                <span itemprop="telephone" content="+2126054270">212 605 4270</span>
                <br>  Reservations are available exclusively through Resy.
                <br>  We are unable to accommodate reservations made by phone.
            </div>
        </div>
        <div class="store-event-details__image">
            <img src="./images/blueBoxCafe.png" style="width:100%" class="mobile">
        </div>
    </div>
    <script src="//widgets.resy.com/embed.js"></script>
</article>
