// ****************************************
// text-with-cta
// ****************************************

.text-with-cta {
    @extend .col__full;
    display: inline-block;
    justify-content: center;

    [class^="icon-"], [class*=" icon-"] {
        margin-left: 8px;
    }

    .slick-slide {
        &:first-child {
            .text-with-cta__column {
                margin-left: 0;
            }
        }

        &:last-child {
            .text-with-cta__column {
                margin-right: 0;
            }
        }
    }

    @include MediaQueries($desktop-and-below) {

        .slick-slider {

            .slick-track {
                display: flex;
                align-items: center;

                .slick-slide, .slick-current  {
                    text-align: center;
                    img{
                        margin: 0 auto;
                    }
                }
            }
        }
    }



    &__column {
        display: inline-block;
        text-align: center;
        margin: 20px;

        @include MediaQueries($desktop-and-below) {
            margin: 0;
        }

        @include MediaQueries($tablet-and-between-desktop-tablet) {
            margin: getUnitValue(6) 0 getUnitValue(6) 0;
        }

        &_heading,
        &_location {
            padding-bottom: getUnitValue(2);
        }

        &_heading {
            @include font($font-size-16, 600, $black, 1.5, normal);
            @include font-family($font_santral_semi_bold);
            padding-top: getUnitValue(2);
        }

        &_icon-img {
            display: inline-flex;
        }

        &_description {
            @include font($font-size-14, $font-weight-light, $black, 1.71, normal);
            @include font-family($font_santral_light);
            padding-bottom: getUnitValue(2);

            .store-locator & {
                padding-bottom: 0;
            }
        }

        &_location {
            @include font($font-size-16, 600, $black, 1.33, false);
            @include font-family($font_santral_bold);
        }

        &_changestorecta {
            @extend .display__inline-block;
            @include font($font-size-14, normal, $changeStore, 1.33, false);
            @include font-family($font_santral_regular);
            padding-top: getUnitValue(2);
        }

        &_makeaptcta {
            @extend .cta;
        }

        &_sizeguide {
            @extend .cta;
            background: none;

            .cta-text {
                font-weight: $font-weight-normal;
            }
        }

        .open .icon-dropdown-right {
            transform: rotate(90deg);
            padding-bottom: 8px;
        }
        .icon-dropdown-right::before {
            font-size: $font-size-8;
        }

        img {
            .slick-slide & {
                margin: 0 auto;
            }
        }
    }

    &-container {

        &-1 {
            @extend .col__full;
            .text-with-cta__column {
                @include MediaQueries($ipad-and-above) {
                    padding: 0 getUnitValue(14);
                }
            }
        }
        &-2 {
            @extend .col__full;
            .text-with-cta__column {
                @extend .col-6-12;
                @include MediaQueries($ipad-and-above) {
                    padding: 0 getUnitValue(10);
                }
            }
        }
        &-3 {
            @extend .tf-g;

            .text-with-cta__column {
                @extend .col-4-12;
                padding: 0 getUnitValue(2.5);

                @include MediaQueries($above-desktop-medium) {
                    max-width: getUnitValue(40);
                    margin: 0 getUnitValue(10);
                    padding: 0;
                    vertical-align: top;

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &-4 {
            @extend .tf-g,.col__full;

            .text-with-cta__column {
                @extend .col-3-12;
                padding: 0 getUnitValue(2.5);

                @include MediaQueries($above-desktop-medium) {
                    max-width: getUnitValue(40);
                    padding: 0 getUnitValue(2);
                    vertical-align: top;

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &-5 {
            @extend .tf-g;

            .text-with-cta__column {
                width: 20%;
                padding: 0 getUnitValue(2.5);

                @include MediaQueries($above-desktop-medium) {
                    max-width: getUnitValue(40);
                    padding: 0 getUnitValue(2);
                    vertical-align: top;

                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @include MediaQueries($below-ipad) {
        padding: 0 getUnitValue(2) getUnitValue(3) getUnitValue(2);
        width: 100%;

        &_changestorecta {
            @include font($font-size-16, normal, $changeStore, 1.5, false);
        }

        &__column {
            &_heading,
            &_description {
                padding-bottom: getUnitValue(2);
            }

            &_heading {
                @include font($font-size-18, false, $black, 1.33, normal);
                @include font-family($font_santral_semi_bold);
            }
        }
    }

    @include MediaQueries($tablet-and-between-desktop-tablet) {
        padding: getUnitValue(3) getUnitValue(4) getUnitValue(10);
    }

    .slick-slide & {
        padding-bottom: 0;
    }

    &.drop-hint,
    &.shipping-returns {
        .text-with-cta {
            &__column {
                &_heading, &_description {
                    padding-bottom: getUnitValue(2);
                }

                &_makeaptcta {
                    display: inline-block;
                }
            }
        }
    }

    @include MediaQueries($below-ipad) {
        padding-bottom: getUnitValue(7);
    }

    .drop-hint {
        .drop-a-hint-icon {
            @extend .cta;
            background: none;
            padding: 0;

            :hover {
                border: none;
            }

            .dropAHinticon {
                display: none;
            }

            .drop-a-hint__btn_label {
                @include font($font-size-14, normal, $black, 1.71, false);
                @include font-family($font_santral_regular);
                padding-top: getUnitValue(2);
            }
        }
    }

    .store-locator {
        .text-with-cta {
            &__column {
                &_description {
                    padding-bottom: 0;
                }


            }
        }

    }
}
