// ****************************************
// hero-component
// ****************************************

.hero-component {
    .hero-banner {
        padding-bottom: getUnitValue(7);
        .text-with-image {
            @extend .tf-g;
            margin-bottom: 0;
            @include MediaQueries($desktop-and-below){
                padding-bottom: 0px;
            }

            &__text {

                .content-tile {

                    .heading  {
                        font-size: $font-size-40;

                        &.smaller-heading {
                            font-size: $font-size-32 !important;
                            .visual-spacing & {
                                padding-bottom: 12px;
                            }
                        }
                    }
                }
            }

            &__image {
                @extend .col__full;

                a {
                    @extend .col__full;

                    img {
                        @extend .col__full;
                    }
                }
            }

            @include MediaQueries($desktop-and-below) {
                &__image {
                    padding-bottom: 0 !important;
                    img {
                        width: 100%;
                    }
                }

                &__text {
                    padding-top: getUnitValue(1);
                    padding-bottom: 0;
                }
            }

            @include MediaQueries($desktop-and-above) {
                &__text {
                    &.inset-left {
                        justify-content: flex-start;
                        padding-left: getUnitValue(15);

                        .content-tile__inset-text {
                            margin: getUnitValue(-7) 0;
                        }
                    }

                    &.inset-right {
                        justify-content: flex-end;
                        padding-right: getUnitValue(15);

                        .content-tile__inset-text {
                            margin: getUnitValue(-7) 0;
                        }
                    }
                }
            }
        }
    }

    .slick-dotted {
        &.slick-slider {
            margin-bottom: 0;
        }
    }

    .slick-arrow {
        position: absolute;
        background: $white;
        padding: 0;
        margin: 0;
        width: getUnitValue(7);
        height: getUnitValue(7);
        top: auto;
        bottom: 0;
        transform: none;

        .keyboard--focussed & {
            &:focus{
                border: 1px solid $bondiBlue;
            }
        }

        &.slick-prev{
            left: auto;
        }

        &.slick-next{
            right: 0;
        }

        &.slick-disabled {
            @extend .show;
            &::before {
                color: $dim-white;
                opacity: 1;
            }

            @include MediaQueries($desktop-and-below) {
                display: none !important;
            }
        }

        &::before {
            color: $black;
        }
    }

    &.padding-bottom-56 {
        .slick-arrow {
            bottom: 56px;
        }
        .slick-track {
            .hero-banner {
                padding-bottom: 0;
            }
        }
    }

    &.padding-bottom-16 {
        .slick-arrow {
            bottom: 16px;
        }
    }

    .slick-track {
        .hero-banner {
            padding-bottom: getUnitValue(7);
            @include MediaQueries($desktop-and-below){
                padding-bottom: 0;
            }
        }
    }

    .video__container {
        @include MediaQueries($desktop-and-below) {
            padding-bottom: 0;
        }
    }
}
