<article class="ring-size-flyout app-js__ring-size-flyout close-flyout">
    <div class="ring-size-flyout__overlay" role="button" tabindex="0"></div>
    <div role="dialog" aria-modal="true">
        {{> size-guide size-guide isModel=isModel}}
    </div>
</article>
