// ****************************************
// ring-size-flyout
// ****************************************

.ring-size-flyout {

    &.close-flyout {
        .size-guide__container {
            right: getUnitValue(-113);
            @include MediaQueries($tablet-large-and-below) {
                right: -100%;
            }
        }

        .ring-size-flyout__overlay {
            @extend .hide;
        }
    }
	.size-guide__container {
        @extend .tiffany-blue-custom-scroll-bar;
        height: 100%;
        position: fixed;
        top: getUnitValue(7);
        width: getUnitValue(113);
        background-color: $white;
        right: 0;
        z-index: $modal-maxZIndex+2;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: getUnitValue(7) getUnitValue(5) 0;
        transition: right 0.9s ease-in-out 0.1s;
        -ms-transition: right 0.9s ease-in-out 0.1s;

        .ps__rail-x {
            @extend .hide;
        }

        @include MediaQueries($tablet-large-and-below) {
            padding: getUnitValue(7) getUnitValue(2) 0;
            top: 0 !important;
            width: 100%;
            z-index: $modal-maxZIndex + 3;
        }

        &_close {
            @extend  .icon, .cta-underline;
            font-size: $font-size-20;
            width: getUnitValue(3);
            height: getUnitValue(3);
            right: getUnitValue(5);
            top: getUnitValue(5);
            padding: 0;
            margin: 0;
            position: absolute;
            background-color: transparent;
            border: none;

            img, svg {
                width: getUnitValue(3);
                height: getUnitValue(3);
            }     

            &:before {
                color: $filter-gray;
            }

            .keyboard--focussed & {
                &:focus {
                    border: 1px solid $bondiBlue;
                }
            }
            @include MediaQueries($tablet-large-and-below) {
                top: getUnitValue(2);
                right: getUnitValue(2);
            }
        }
        &_mobileitemlist_items {
            visibility: visible !important;
        }
    }

    &__overlay {
        @extend .col__full,
        .show;
        height: 100%;
        position: fixed;
        top: getUnitValue(8);
        left: 0;
        background-color: $dim-white;
        opacity: .25;
        z-index: $back-to-top-zIndex;
    }

    .size-guide__contentswrap {
        margin-bottom: getUnitValue(19);
        @include MediaQueries($tablet-large-and-below) {
            margin-bottom: getUnitValue(12);
        }
    }
}
