<article class="sticky-nav app-js__sticky-nav">
    <nav class="sticky-nav__container ">
        <ul class="sticky-nav__container_list custom-scroll force-ios-custom-scroll">
            {{#each nav-items}}
                <li class="sticky-nav__container_list_item">
                    <a class="nav-link cta" href="#{{ref}}" aria-label="some text to navigate" tabindex="0">
                        <span class="cta-content">
                            <span class="cta-text" tabindex="-1">{{{label}}}</span>
                        </span>
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
</article>
<div class="header-backdrop"></div>
