// ****************************************
// product-carousel
// ****************************************
.product-carousel {
    @extend .container;

    &.container-centered {
        @extend .cms-mobile-padding;
    }

    &__heading {
        @extend .col__full,
        .tf-g__center,
        .h3;
        margin-top: getUnitValue(2);
        z-index: 1;
        margin-bottom: getUnitValue(3);
        @include font-family($font_sterling_display_roman);
        @include MediaQueries($desktop-and-below) {
            text-align: left;
            padding-left: getUnitValue(3);
            margin-top: getUnitValue(0);
            margin-bottom: getUnitValue(0);
            padding-bottom: getUnitValue(1);
        }
    }
    &__body {
        position: relative;
        .container & {
            @include MediaQueries($tablet-and-below) {
                max-height: getUnitValue(62);
            }
        }
        &_bg {
            width: getUnitValue(13);
            height: 100%;
            background-color: $tiffanyBlue;
            position: absolute;
            z-index: 1;
            @include MediaQueries($desktop-medium) {
                width: getUnitValue(10);
            }
            @include MediaQueries($desktop-and-below) {
                z-index: -1;
                width: 100%;
                position: initial;
                height: getUnitValue(10);
                display: none;
            }
        }
        &_holder {
            padding-left: getUnitValue(13);
            @include MediaQueries($desktop-medium) {
                padding-left: getUnitValue(10);
            }
            @include MediaQueries($desktop-and-below) {
                padding-left: 0;
            }
            .slick-prev {
                top: calc(50% - 28px);
                left: getUnitValue(13);
                @include MediaQueries($desktop-medium) {
                    left: getUnitValue(10);
                }
                @include MediaQueries($desktop-and-below) {
                    left: 6px;
                }
            }
        }
        .product-tile {
            padding-right: getUnitValue(1);

            @include MediaQueries($mobile) {
                &__details {
                    padding-left: getUnitValue(2);
                }
            }
        }
    }
}
